---
pagination:
  data: pageIllustrations.items
  size: 1
  alias: item
permalink: "{{ pageIllustrations.illustrationPath }}{{ item.key }}-wide.svg"
eleventyExcludeFromCollections: true
variant: wide
---
{% include "partials/illustration-svg.njk" %}
