{
  "servers": [
    {
      "url": "https://api.voicetel.com"
    }
  ],
  "openapi": "3.1.1",
  "components": {
    "securitySchemes": {
      "apikey": {
        "description": "apikey security scheme.",
        "scheme": "bearer",
        "type": "http"
      }
    },
    "schemas": {
      "errorResponse": {
        "description": "Response wrapper for the error operation.",
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string",
            "example": "400"
          },
          "status": {
            "type": "string",
            "example": "Error"
          },
          "message": {
            "type": "string",
            "example": "Field Required: apikey"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message"
        ]
      },
      "accountAddRequest": {
        "description": "Request body for the account add operation.",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Acme Corp"
          },
          "username": {
            "type": "integer",
            "description": "10-digit numeric account username.",
            "example": 4592086960
          },
          "apikey": {
            "type": "string",
            "example": "Administrator API Key"
          },
          "email": {
            "type": "string",
            "example": "billing@example.com"
          },
          "masterAccount": {
            "type": "integer",
            "description": "Billing account. Defaults to the new account username if omitted.",
            "example": 4592086960
          }
        },
        "required": [
          "apikey",
          "name",
          "username",
          "email"
        ]
      },
      "accountRegistrationResponse": {
        "description": "Response wrapper for the account registration operation.",
        "type": "object",
        "properties": {
          "account": {
            "type": "object",
            "properties": {
              "uri": {
                "type": "string",
                "description": "Registered SIP URI.",
                "example": "sip:4592086960@192.0.2.1:5060"
              },
              "agent": {
                "type": "string",
                "description": "User agent string of the registered device.",
                "example": "Zoiper rv2.8.97/"
              }
            },
            "required": [
              "uri",
              "agent"
            ]
          },
          "statusCode": {
            "type": "string",
            "example": "200"
          },
          "status": {
            "type": "string",
            "example": "Success"
          }
        },
        "required": [
          "statusCode",
          "status",
          "account"
        ]
      },
      "accountSignupRequest": {
        "description": "Request body for the account signup operation.",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "example": "john@example.com"
          },
          "promo": {
            "type": "string",
            "description": "Optional promotional code.",
            "example": "PROMO2024"
          }
        },
        "required": [
          "name",
          "email"
        ]
      },
      "accountAddResponse": {
        "description": "Response wrapper for the account add operation.",
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/newAccountData"
          },
          "statusCode": {
            "type": "string",
            "example": "200"
          },
          "status": {
            "type": "string",
            "example": "Success"
          },
          "message": {
            "enum": [
              "Account Information"
            ],
            "type": "string",
            "example": "Account Information"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "account"
        ]
      },
      "accountCdrRequest": {
        "description": "Request body for the account cdr operation.",
        "type": "object",
        "properties": {
          "end": {
            "type": "integer",
            "description": "End time as Unix timestamp. Defaults to 24 hours before current time.",
            "example": 1699913600
          },
          "start": {
            "type": "integer",
            "description": "Start time as Unix timestamp. Defaults to current time.",
            "example": 1700000000
          },
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "accountRecoverResponse": {
        "description": "Response wrapper for the account recover operation.",
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string",
            "example": "200"
          },
          "status": {
            "type": "string",
            "example": "Success"
          },
          "message": {
            "type": "string",
            "example": "Please check your email (john@example.com) for details"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message"
        ]
      },
      "accountMrcResponse": {
        "description": "Response wrapper for the account mrc operation.",
        "type": "object",
        "properties": {
          "mrc": {
            "type": "array",
            "description": "Mixed array of charge entries: per-service charge objects with description as key and numeric sum as value, a DID charges object {did: value}, and a total object {total: number}.",
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "example": []
          },
          "statusCode": {
            "type": "string",
            "example": "200"
          },
          "status": {
            "type": "string",
            "example": "Success"
          }
        },
        "required": [
          "statusCode",
          "status",
          "mrc"
        ]
      },
      "signupAccountData": {
        "description": "Signup account data shape.",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "John Doe"
          },
          "masterAccount": {
            "type": "integer",
            "example": 4592086960
          },
          "username": {
            "type": "integer",
            "description": "Auto-generated 10-digit account username.",
            "example": 4592086960
          },
          "password": {
            "type": "string",
            "description": "Auto-generated 10-character alphanumeric password (schema signupAccountData).",
            "example": "abc1234567"
          },
          "email": {
            "type": "string",
            "example": "john@example.com"
          }
        }
      },
      "accountRecord": {
        "description": "Account record shape.",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Acme Corp"
          },
          "rate": {
            "type": "number",
            "description": "Per-minute nibble rate.",
            "example": 0.0075
          },
          "enabled": {
            "type": "boolean",
            "example": true
          },
          "notify_threshold": {
            "type": "integer",
            "example": 5
          },
          "username": {
            "type": "string",
            "example": "4592086960"
          },
          "caller_id": {
            "type": "string",
            "description": "Default outbound caller ID.",
            "example": "2015551234"
          },
          "notify": {
            "type": "boolean",
            "example": true
          },
          "email": {
            "type": "string",
            "example": "billing@example.com"
          },
          "created": {
            "type": "string",
            "example": "2020-01-15T12:00:00+00:00"
          },
          "cash": {
            "type": "number",
            "description": "Current account balance.",
            "example": 25.5
          }
        }
      },
      "accountInfoResponse": {
        "description": "Response wrapper for the account info operation.",
        "type": "object",
        "properties": {
          "account": {
            "type": "array",
            "description": "Array containing the single account record.",
            "items": {
              "$ref": "#/components/schemas/accountRecord"
            },
            "example": []
          },
          "statusCode": {
            "type": "string",
            "example": "200"
          },
          "status": {
            "type": "string",
            "example": "Success"
          }
        },
        "required": [
          "statusCode",
          "status",
          "account"
        ]
      },
      "accountRecoverBadRequest": {
        "description": "Request body for the account recover bad operation.",
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string",
            "example": "400"
          },
          "status": {
            "type": "string",
            "example": "Error"
          },
          "message": {
            "enum": [
              "Field: email"
            ],
            "type": "string",
            "example": "Field: email"
          },
          "requirement": {
            "enum": [
              "Must be valid"
            ],
            "type": "string",
            "example": "Must be valid"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "requirement"
        ]
      },
      "accountSignupResponse": {
        "description": "Response wrapper for the account signup operation.",
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/signupAccountData"
          },
          "statusCode": {
            "type": "string",
            "example": "200"
          },
          "status": {
            "type": "string",
            "example": "Success"
          },
          "message": {
            "enum": [
              "Account Information"
            ],
            "type": "string",
            "example": "Account Information"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "account"
        ]
      },
      "apikeyRequest": {
        "description": "Request body for the apikey operation.",
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "accountCdrResponse": {
        "description": "Response wrapper for the account cdr operation.",
        "type": "object",
        "properties": {
          "cdr": {
            "type": "array",
            "description": "Call detail records for the specified time range.",
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "example": []
          },
          "statusCode": {
            "type": "string",
            "example": "200"
          },
          "status": {
            "type": "string",
            "example": "Success"
          }
        },
        "required": [
          "statusCode",
          "status",
          "cdr"
        ]
      },
      "newAccountData": {
        "description": "New account data shape.",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Acme Corp"
          },
          "username": {
            "type": "integer",
            "example": 4592086960
          },
          "password": {
            "type": "string",
            "description": "Auto-generated 10-character alphanumeric password (schema newAccountData).",
            "example": "abc1234567"
          },
          "email": {
            "type": "string",
            "example": "billing@example.com"
          },
          "masterAccount": {
            "type": "integer",
            "example": 4592086960
          }
        }
      },
      "accountRecoverRequest": {
        "description": "Request body for the account recover operation.",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "john@example.com"
          }
        },
        "required": [
          "email"
        ]
      },
      "apiKeyRequest": {
        "description": "Request body for the api key operation.",
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "integer",
            "description": "Account username.",
            "example": 1234567890
          },
          "password": {
            "type": "string",
            "description": "Account password.",
            "example": "abc1234567"
          }
        }
      },
      "apiKeyResponse": {
        "description": "Response wrapper for the api key operation.",
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string",
            "example": "200"
          },
          "status": {
            "type": "string",
            "example": "Success"
          },
          "apikey": {
            "type": "string",
            "description": "Bearer token for API authentication.",
            "example": "dec759ed81963fd9a4b8a9c8f3e22b1a"
          }
        }
      }
    }
  },
  "paths": {
    "/v2.1/account/add/": {
      "post": {
        "summary": "Add Account",
        "security": [
          {
            "apikey": []
          }
        ],
        "description": "Creates a new sub-account. Requires administrator API key. The new account password is auto-generated and returned in the response.",
        "operationId": "accountAdd",
        "requestBody": {
          "description": "Body for add account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountAddRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Unauthorized \u2014 administrator access required"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Account creation failed (POST /v2.1/account/add/)."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Bad request response from account add."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountAddResponse"
                }
              }
            },
            "description": "Account created (POST /v2.1/account/add/)."
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v2.1/account/apikey/": {
      "post": {
        "summary": "Get API Key",
        "operationId": "accountApiKey",
        "description": "Returns the API key (Bearer token) for the account identified by username and password. No Bearer token is required or accepted. Rate limited to 6 requests per hour per IP.",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "Account credentials",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/apiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Field Required: username or password"
          },
          "401": {
            "description": "Invalid username or password"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v2.1/account/cdr/": {
      "post": {
        "summary": "Call Detail Records",
        "security": [
          {
            "apikey": []
          }
        ],
        "description": "Returns call detail records for the account within a time range. start and end are Unix timestamps. Defaults: start=now, end=24 hours ago. Rate limited to 6 requests per hour per IP address.",
        "operationId": "accountCdr",
        "requestBody": {
          "description": "Body for call detail records.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountCdrRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Unauthorized response from account cdr."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Too Many Requests response from account cdr."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Bad request response from account cdr."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountCdrResponse"
                }
              }
            },
            "description": "OK response from account cdr."
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v2.1/account/info/": {
      "post": {
        "summary": "Account Info",
        "security": [
          {
            "apikey": []
          }
        ],
        "description": "Returns account details including balance, rate, and configuration. Rate limited to 6 requests per hour per IP address.",
        "operationId": "accountInfo",
        "requestBody": {
          "description": "Body for account info.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/apikeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Unauthorized response from account info."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Too Many Requests response from account info."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Bad request response from account info."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountInfoResponse"
                }
              }
            },
            "description": "OK response from account info."
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v2.1/account/mrc/": {
      "post": {
        "summary": "Monthly Recurring Charges",
        "security": [
          {
            "apikey": []
          }
        ],
        "description": "Returns the current monthly recurring charges broken down by service plus a total. Rate limited to 6 requests per hour per IP address.",
        "operationId": "accountMrc",
        "requestBody": {
          "description": "Body for monthly recurring charges.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/apikeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Unauthorized response from account mrc."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Too Many Requests response from account mrc."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Bad request response from account mrc."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountMrcResponse"
                }
              }
            },
            "description": "OK response from account mrc."
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v2.1/account/recover/": {
      "post": {
        "summary": "Account Recovery",
        "operationId": "accountRecover",
        "requestBody": {
          "description": "Body for account recovery.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountRecoverRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Email address not found"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountRecoverBadRequest"
                }
              }
            },
            "description": "Invalid email address"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountRecoverResponse"
                }
              }
            },
            "description": "Recovery email sent"
          }
        },
        "description": "Sends a password recovery link to the email address associated with the account. No authentication required.",
        "tags": [
          "Account"
        ]
      }
    },
    "/v2.1/account/registration/": {
      "post": {
        "summary": "SIP Registration",
        "security": [
          {
            "apikey": []
          }
        ],
        "description": "Returns the current SIP registration details for the account including the registered SIP URI and user agent string.",
        "operationId": "accountRegistration",
        "requestBody": {
          "description": "Body for sip registration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/apikeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Unauthorized response from account registration."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Not registered"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Bad request response from account registration."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountRegistrationResponse"
                }
              }
            },
            "description": "Registered"
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/v2.1/account/signup/": {
      "post": {
        "summary": "Account Signup",
        "operationId": "accountSignup",
        "requestBody": {
          "description": "Body for account signup.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountSignupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Account creation failed (POST /v2.1/account/signup/)."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Bad Request or invalid email"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountSignupResponse"
                }
              }
            },
            "description": "Account created (POST /v2.1/account/signup/)."
          }
        },
        "description": "Creates a new account. No authentication required. Returns account credentials. A verification email is sent to the provided address.",
        "tags": [
          "Account"
        ]
      }
    }
  },
  "info": {
    "version": "v2.1.6",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "Account API",
    "description": "Account management",
    "contact": {
      "email": "support@voicetel.com"
    }
  },
  "tags": [
    {
      "name": "Account",
      "description": "Account, billing, and signup endpoints."
    }
  ]
}