{
  "info": {
    "version": "v2.1.6",
    "title": "ACL API",
    "contact": {
      "email": "support@voicetel.com"
    },
    "license": {
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html",
      "name": "Apache 2.0"
    },
    "description": "Access Control List"
  },
  "servers": [
    {
      "url": "https://api.voicetel.com"
    }
  ],
  "openapi": "3.1.1",
  "components": {
    "securitySchemes": {
      "apikey": {
        "description": "apikey security scheme.",
        "scheme": "bearer",
        "type": "http"
      }
    },
    "schemas": {
      "aclRemoveResponse": {
        "description": "Response wrapper for the acl remove operation.",
        "properties": {
          "acl": {
            "items": {
              "$ref": "#/components/schemas/cidrEntry"
            },
            "type": "array",
            "description": "Successfully removed entries.",
            "example": []
          },
          "statusCode": {
            "example": "200",
            "type": "string"
          },
          "status": {
            "example": "Success",
            "type": "string"
          },
          "message": {
            "enum": [
              "ACLs removed"
            ],
            "type": "string",
            "example": "ACLs removed"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "acl"
        ],
        "type": "object"
      },
      "errorResponse": {
        "description": "Response wrapper for the error operation.",
        "properties": {
          "statusCode": {
            "example": "400",
            "type": "string"
          },
          "status": {
            "example": "Error",
            "type": "string"
          },
          "message": {
            "example": "Field Required: apikey",
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message"
        ],
        "type": "object"
      },
      "aclConflictResponse": {
        "description": "Response wrapper for the acl conflict operation.",
        "properties": {
          "statusCode": {
            "example": "409",
            "type": "string"
          },
          "status": {
            "example": "Error",
            "type": "string"
          },
          "message": {
            "enum": [
              "At least one ACL could not be added.",
              "At least one ACL could not be removed."
            ],
            "type": "string",
            "example": "At least one ACL could not be added."
          },
          "acl_failed": {
            "items": {
              "$ref": "#/components/schemas/cidrErrorEntry"
            },
            "type": "array",
            "example": []
          },
          "acl_success": {
            "items": {
              "$ref": "#/components/schemas/cidrEntry"
            },
            "type": "array",
            "description": "Successfully processed entries. Empty array if none succeeded.",
            "example": []
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "acl_success",
          "acl_failed"
        ],
        "type": "object"
      },
      "cidrEntry": {
        "description": "A single cidr row.",
        "properties": {
          "cidr": {
            "example": "203.0.113.0/24",
            "type": "string",
            "description": "IPv4 CIDR block. Must be a routable public address. Mask must be divisible by 8 (/8, /16, /24, /32)."
          }
        },
        "required": [
          "cidr"
        ],
        "type": "object"
      },
      "aclAddResponse": {
        "description": "Response wrapper for the acl add operation.",
        "properties": {
          "acl": {
            "items": {
              "$ref": "#/components/schemas/cidrEntry"
            },
            "type": "array",
            "description": "Successfully added entries.",
            "example": []
          },
          "statusCode": {
            "example": "200",
            "type": "string"
          },
          "status": {
            "example": "Success",
            "type": "string"
          },
          "message": {
            "enum": [
              "ACLs added"
            ],
            "type": "string",
            "example": "ACLs added"
          }
        },
        "required": [
          "statusCode",
          "status",
          "message",
          "acl"
        ],
        "type": "object"
      },
      "aclListResponse": {
        "description": "Response wrapper for the acl list operation.",
        "properties": {
          "acl": {
            "items": {
              "$ref": "#/components/schemas/cidrEntry"
            },
            "type": "array",
            "example": []
          },
          "statusCode": {
            "example": "200",
            "type": "string"
          },
          "status": {
            "example": "Success",
            "type": "string"
          }
        },
        "required": [
          "statusCode",
          "status",
          "acl"
        ],
        "type": "object"
      },
      "apikeyRequest": {
        "description": "Request body for the apikey operation.",
        "properties": {
          "apikey": {
            "example": "Your API Key",
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ],
        "type": "object"
      },
      "cidrErrorEntry": {
        "description": "A single cidr error row.",
        "properties": {
          "error": {
            "enum": [
              "DB Insert failed",
              "DB delete failed",
              "Invalid mask",
              "CIDR range must be routable"
            ],
            "type": "string",
            "example": "DB Insert failed"
          },
          "cidr": {
            "example": "203.0.113.0/24",
            "type": "string"
          }
        },
        "required": [
          "cidr",
          "error"
        ],
        "type": "object"
      },
      "aclModifyRequest": {
        "description": "Request body for the acl modify operation.",
        "properties": {
          "acl": {
            "items": {
              "$ref": "#/components/schemas/cidrEntry"
            },
            "type": "array",
            "example": []
          },
          "apikey": {
            "example": "Your API Key",
            "type": "string"
          }
        },
        "required": [
          "apikey",
          "acl"
        ],
        "type": "object"
      }
    }
  },
  "paths": {
    "/v2.1/acl/add/": {
      "post": {
        "summary": "Add ACL Entries",
        "description": "Adds one or more IPv4 CIDR blocks to the account IP authentication ACL. Only routable public addresses are accepted. Mask must be divisible by 8 (/8, /16, /24, /32).",
        "operationId": "aclAdd",
        "requestBody": {
          "description": "Body for add acl entries.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/aclModifyRequest"
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "responses": {
          "409": {
            "description": "One or more entries could not be added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aclConflictResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request response from acl add.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized response from acl add.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "200": {
            "description": "All entries added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aclAddResponse"
                }
              }
            }
          }
        },
        "tags": [
          "ACL"
        ]
      }
    },
    "/v2.1/acl/list/": {
      "post": {
        "summary": "List ACL Entries",
        "description": "Returns all IP ACL entries for the authenticated account.",
        "operationId": "aclList",
        "requestBody": {
          "description": "Body for list acl entries.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/apikeyRequest"
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request response from acl list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No ACL entries found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized response from acl list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK response from acl list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aclListResponse"
                }
              }
            }
          }
        },
        "tags": [
          "ACL"
        ]
      }
    },
    "/v2.1/acl/remove/": {
      "post": {
        "summary": "Remove ACL Entries",
        "description": "Removes one or more IPv4 CIDR blocks from the account IP authentication ACL.",
        "operationId": "aclRemove",
        "requestBody": {
          "description": "Body for remove acl entries.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/aclModifyRequest"
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "responses": {
          "409": {
            "description": "One or more entries could not be removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aclConflictResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request response from acl remove.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized response from acl remove.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "200": {
            "description": "All entries removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aclRemoveResponse"
                }
              }
            }
          }
        },
        "tags": [
          "ACL"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "ACL",
      "description": "IP-based access-control endpoints."
    }
  ]
}