{
  "servers": [
    {
      "url": "https://api.voicetel.com"
    }
  ],
  "info": {
    "version": "v2.1.6",
    "description": "Authentication Method",
    "contact": {
      "email": "support@voicetel.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "Authentication API"
  },
  "paths": {
    "/v2.1/auth/list/": {
      "post": {
        "security": [
          {
            "apikey": []
          }
        ],
        "description": "Returns the current authentication type and IP ACL entries for the authenticated account. Optionally includes authentication type descriptions and authorized SIP endpoints.",
        "operationId": "authList",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authListResponse"
                }
              }
            },
            "description": "OK response from auth list."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Unauthorized response from auth list."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Bad request response from auth list."
          }
        },
        "summary": "List Authentication Settings",
        "requestBody": {
          "description": "Body for list authentication settings.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authListRequest"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/v2.1/auth/update/": {
      "post": {
        "security": [
          {
            "apikey": []
          }
        ],
        "description": "Updates the account authentication type and/or password. At least one of authType or password must be provided. Returns per-field success or conflict status.",
        "operationId": "authUpdate",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authUpdateResponse"
                }
              }
            },
            "description": "All updates applied successfully"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authUpdateConflictResponse"
                }
              }
            },
            "description": "One or more fields failed to update"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Unauthorized response from auth update."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Bad request response from auth update."
          }
        },
        "summary": "Update Authentication Settings",
        "requestBody": {
          "description": "Body for update authentication settings.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authUpdateRequest"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    }
  },
  "openapi": "3.1.1",
  "components": {
    "securitySchemes": {
      "apikey": {
        "description": "apikey security scheme.",
        "scheme": "bearer",
        "type": "http"
      }
    },
    "schemas": {
      "errorResponse": {
        "description": "Response wrapper for the error operation.",
        "required": [
          "statusCode",
          "status",
          "message"
        ],
        "type": "object",
        "properties": {
          "statusCode": {
            "example": "400",
            "type": "string"
          },
          "message": {
            "example": "Field Required: apikey",
            "type": "string"
          },
          "status": {
            "example": "Error",
            "type": "string"
          }
        }
      },
      "authTypeInstruction": {
        "description": "Auth type instruction shape.",
        "required": [
          "authType",
          "Description"
        ],
        "type": "object",
        "properties": {
          "Description": {
            "example": "IP Auth",
            "enum": [
              "Digest",
              "IP Auth",
              "Digest || IP Auth",
              "Digest && IP Auth"
            ],
            "type": "string"
          },
          "authType": {
            "example": "1",
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ],
            "type": "string"
          }
        }
      },
      "authUpdateResponse": {
        "description": "Response wrapper for the auth update operation.",
        "required": [
          "statusCode",
          "status",
          "update"
        ],
        "type": "object",
        "properties": {
          "update": {
            "description": "One entry per successfully updated field.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/updateSuccessItem"
            },
            "example": []
          },
          "statusCode": {
            "example": "200",
            "type": "string"
          },
          "status": {
            "example": "Success",
            "type": "string"
          }
        }
      },
      "authListResponse": {
        "description": "Response wrapper for the auth list operation.",
        "required": [
          "statusCode",
          "status",
          "account"
        ],
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/authAccount"
          },
          "statusCode": {
            "example": "200",
            "type": "string"
          },
          "status": {
            "example": "Success",
            "type": "string"
          }
        }
      },
      "authListRequest": {
        "description": "Request body for the auth list operation.",
        "required": [
          "apikey"
        ],
        "type": "object",
        "properties": {
          "apikey": {
            "example": "Your API Key",
            "type": "string"
          },
          "instructions": {
            "example": true,
            "description": "When true, includes a description for each authType value in the response.",
            "type": "boolean"
          },
          "authorizedEndpoints": {
            "example": true,
            "description": "When true, includes the list of authorized SIP endpoint hostnames in the response.",
            "type": "boolean"
          }
        }
      },
      "authAccount": {
        "description": "Auth account shape.",
        "required": [
          "username",
          "authType",
          "acl"
        ],
        "type": "object",
        "properties": {
          "username": {
            "example": 4592086960,
            "description": "Account username.",
            "type": "integer"
          },
          "acl": {
            "items": {
              "$ref": "#/components/schemas/aclEntry"
            },
            "type": [
              "array",
              "null"
            ],
            "description": "IP ACL entries for this account. Null if no entries exist.",
            "example": []
          },
          "authorizedEndpoints": {
            "description": "Present only when authorizedEndpoints=true was requested. Always returns 12 entries.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/authorizedEndpoint"
            },
            "example": []
          },
          "authType": {
            "example": 1,
            "enum": [
              0,
              1,
              2,
              3
            ],
            "type": "integer",
            "description": "Current authentication type. 0=Digest, 1=IP Auth, 2=Digest OR IP Auth, 3=Digest AND IP Auth."
          },
          "instructions": {
            "description": "Present only when instructions=true was requested. Always contains all four authType descriptions.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/authTypeInstruction"
            },
            "example": []
          }
        }
      },
      "updateErrorItem": {
        "required": [
          "status"
        ],
        "description": "Result of a single failed update.",
        "type": "object",
        "properties": {
          "message": {
            "example": "Password must be between 6 and 10 in length and must contain letters and numbers.",
            "description": "Present for password validation failures.",
            "type": "string"
          },
          "password": {
            "enum": [
              "error"
            ],
            "type": "string",
            "description": "Present when the password update failed.",
            "example": "error"
          },
          "status": {
            "enum": [
              "Error"
            ],
            "type": "string",
            "example": "Error"
          },
          "authType": {
            "description": "Present when the authType update failed. Contains the value that was rejected.",
            "type": "integer",
            "example": 0
          }
        }
      },
      "updateSuccessItem": {
        "required": [
          "status"
        ],
        "description": "Result of a single successfully applied update.",
        "type": "object",
        "properties": {
          "password": {
            "enum": [
              "updated"
            ],
            "type": "string",
            "description": "Present when password was successfully updated.",
            "example": "updated"
          },
          "status": {
            "enum": [
              "Success"
            ],
            "type": "string",
            "example": "Success"
          },
          "authType": {
            "description": "Present when authType was successfully updated. Contains the new value.",
            "type": "integer",
            "example": 0
          }
        }
      },
      "authorizedEndpoint": {
        "description": "Authorized endpoint shape.",
        "required": [
          "endpoint"
        ],
        "type": "object",
        "properties": {
          "endpoint": {
            "example": "geo.voicetel.com",
            "description": "Authorized SIP endpoint hostname.",
            "type": "string"
          }
        }
      },
      "authUpdateConflictResponse": {
        "description": "Response wrapper for the auth update conflict operation.",
        "required": [
          "statusCode",
          "status",
          "update",
          "update_error"
        ],
        "type": "object",
        "properties": {
          "update_error": {
            "description": "Failed updates. Always contains at least one entry on a 409.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/updateErrorItem"
            },
            "example": []
          },
          "update": {
            "description": "Successfully applied updates, if any. May be an empty array.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/updateSuccessItem"
            },
            "example": []
          },
          "statusCode": {
            "example": "409",
            "type": "string"
          },
          "status": {
            "example": "Error",
            "type": "string"
          }
        }
      },
      "authUpdateRequest": {
        "description": "Request body for the auth update operation.",
        "required": [
          "apikey"
        ],
        "type": "object",
        "properties": {
          "apikey": {
            "example": "Your API Key",
            "type": "string"
          },
          "password": {
            "example": "abc123",
            "description": "New password. Must be 6-10 alphanumeric characters and contain at least one letter and one number.",
            "type": "string"
          },
          "authType": {
            "example": 1,
            "enum": [
              0,
              1,
              2,
              3
            ],
            "type": "integer",
            "description": "Authentication type to set. 0=Digest, 1=IP Auth, 2=Digest OR IP Auth, 3=Digest AND IP Auth."
          }
        }
      },
      "aclEntry": {
        "description": "A single acl row.",
        "required": [
          "cidr"
        ],
        "type": "object",
        "properties": {
          "cidr": {
            "example": "192.168.1.0/24",
            "description": "CIDR block authorized for IP authentication.",
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Account authentication-mode endpoints."
    }
  ]
}