{
  "openapi": "3.0.1",
  "info": {
    "title": "VoiceTel 10DLC Campaign Registry API",
    "description": "VoiceTel proxy to the TCR Campaign Service Provider API. Authenticate with your VoiceTel API key as a Bearer token.",
    "contact": {
      "email": "support@voicetel.com"
    },
    "version": "7.8.0"
  },
  "servers": [
    {
      "url": "https://api.voicetel.com/v2/csp",
      "description": "VoiceTel 10DLC Campaign Registry Proxy"
    }
  ],
  "paths": {
    "/attachment/{attachmentId}": {
      "get": {
        "tags": [
          "Attachment"
        ],
        "summary": "Download a file attached to a campaign",
        "description": "Downloads any file that is attached to an existing campaign, including MMS sample media files and supporting documents. To download, first determine the file\u2019s <code>uuid</code> value from the appropriate GET endpoint and pass it in the <code>attachmentId</code> parameter. For example, to download a specific MMS sample media file, first use the <code>GET /campaign/{campaignId}/mms</code> endpoint to list the campaign\u2019s attached files and see their <code>uuid</code> attributes.",
        "operationId": "downloadAttachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "The unique ID of the attached file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Attachment"
        ],
        "summary": "Delete a file attached to a campaign",
        "description": "Deletes any file that is attached to an existing campaign, including MMS sample media files and supporting documents. To delete a file, first find its <code>uuid</code> value from the appropriate GET endpoint and pass it in the <code>attachmentId</code> parameter. For example, to delete a specific MMS sample media file, first use the <code>GET /campaign/{campaignId}/mms</code> endpoint to list the campaign\u2019s attached files and see their <code>uuid</code> attributes.",
        "operationId": "deleteAttachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "The unique ID of the attached file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>592: Cannot delete the attachment.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Search for registered brands in the TCR system",
        "description": "Retrieve a list of brands you have registered in TCR along with their properties. Supports any combination of parameters. If supplying <code>state</code>, <code>country</code>, or <code>entityType</code> parameters, only exact matches will be returned. If no parameters are specified, this operation will list all brands that you have registered.\nThis operation supports pagination with a maximum of 500 records per fetch.",
        "operationId": "listBrands",
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "description": "Reference ID associated with the brand.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "displayName",
            "in": "query",
            "description": "DDBA or trade name of the brand. Partial match supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityType",
            "in": "query",
            "description": "Brand entity type. Example: PRIVATE_PROFIT.",
            "schema": {
              "type": "string",
              "enum": [
                "PRIVATE_PROFIT",
                "PUBLIC_PROFIT",
                "NON_PROFIT",
                "GOVERNMENT",
                "SOLE_PROPRIETOR"
              ]
            }
          },
          {
            "name": "identityStatus",
            "in": "query",
            "description": "Brand identity status. Example: UNVERIFIED",
            "schema": {
              "type": "string",
              "enum": [
                "SELF_DECLARED",
                "UNVERIFIED",
                "VERIFIED",
                "VETTED_VERIFIED"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Brand status in TCR. Example: DELETED",
            "schema": {
              "type": "string",
              "default": "ACTIVE",
              "enum": [
                "ACTIVE",
                "DELETED"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "State or province. For US brands, must conform to the 2-letter <a href = \"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#:~:text=ISO%203166%2D1%20alpha%2D2%20codes%20are%20two%2Dletter,special%20areas%20of%20geographical%20interest.\">ISO 3166-1 alpha-2</a> standard.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "ISO 2-letter abbreviation of country.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ein",
            "in": "query",
            "description": "Government-assigned corporate tax ID. In the US, the EIN is a 9-digit number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "universalEin",
            "in": "query",
            "description": "Universal EIN of the Brand.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resellerId",
            "in": "query",
            "description": "Unique reseller ID associated with the brand.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Tag associated with the brand.",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "mock",
            "in": "query",
            "description": "Filters between real brands (FALSE) and test brands (TRUE). Leave blank to retrieve both.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "authenticationPlusCompliant",
            "in": "query",
            "description": "Filters brands that have passed 2FA verification. Leave blank to retrieve both.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page to retrieve.",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "recordsPerPage",
            "in": "query",
            "description": "Number of records per page. Max size: 500.",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand_CSP"
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError_CSP"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/feedback/{brandId}": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Retrieves brand feedback details",
        "description": "Retrieves brand feedback details using the unique identifier assigned to the brand. This endpoint can be\ninvoked following new brand registration, an appeal, or following a revet. CSPs should only retrieve feedback\ndetails after the brand scoring process is complete (i.e., after receiving the BRAND_IDENTITY_STATUS_UPDATE\nwebhook notification event). The following items may be returned in the Category ID property:\n<ul>\n    <li><b>TAX_ID:</b> Tax ID does not match with the company name or business type.</li>\n    <li><b>STOCK_SYMBOL:</b> Not a public company, or the stock ticker and/or exchange does not match with the legal company name.</li>\n    <li><b>GOVERNMENT_ENTITY:</b> Not recognized as a government entity. Must be a U.S. government entity.</li>\n    <li><b>NONPROFIT:</b> IRS tax exempt subsection status not found.</li>\n    <li><b>WEB_DOMAIN:</b> Not valid or recognized email domain.</li>\n</ul>",
        "operationId": "getBrandFeedback",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandFeedback"
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n        <ul>\n        <li>501: Invalid input parameter.</li>\n        <li>502: Brand record not found.</li>\n        <li>526: Brand identity vetting unsuccessful.</li>\n        <li>535: Brand identity vetting is pending.</li>\n        <li>590: TCR internal system error. Please contact TCR support.</li>\n        </ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/nonBlocking": {
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "Register a new brand",
        "description": "Registers a new brand under a CSP account. Required fields vary depending on the type of entity being\nregistered. See the table below for details.\n<b>Additional notes:</b>\n<ul>\n<li><b>For foreign government entities</b>: The <code>entityType</code> property should be specified as\n<code>PRIVATE_PROFIT</code>. Only US-based organizations can use the <code>GOVERNMENT</code> entity type.</li>\n<li><b>For Public Profit brands</b>: <code>PUBLIC_PROFIT</code> brands are required to enter a\n<code>businessContactEmail</code> which is subject to validation. Common email distribution addresses\n(such as sales@company.com) are not allowed, nor are personal or free email addresses. Following\nregistration, the brand will undergo Authentication+ validation which requires the business contact to\ncomplete a 2FA process before being eligible for campaign registration.</li>\n<li><b>For Sole Proprietor brands</b>: New <code>SOLE_PROPRIETOR</code> brand registration must comply with\nTCR\u2019s stricter SP 2.0 field validations on the following fields: <code>street</code>, <code>city</code>,\n<code>state</code>, <code>postalCode</code>, <code>country</code>, <code>email</code>, <code>phone</code>,\n<code>mobilePhone</code>, <code>firstName</code>, <code>lastName</code> and <code>displayName</code> fields.\nSP 2.0 policy mandates that all sole proprietor brands must pass an SMS one-time-password (OTP) verification\nbefore being eligible for campaign registration.</li>\n<li><b>Mock EIN testing</b>: To test brand registration with mock EINs in a CSP non-production environment\nsuch as Staging, please refer to the <a href=\"https://www.campaignregistry.com/CSP-Non-production-Integration-Testing.pdf\">CSP Non-Production Integration Testing</a> document.</li>\n</ul>\n<table border=\"1\">\n<thead>\n    <tr>\n        <th>Property Name</th>\n        <th>Description</th>\n        <th>Entity Requirements</th>\n    </tr>\n</thead>\n<tbody>\n    <tr>\n        <td>displayName</td>\n        <td>Brand/Marketing/DBA name of the business.\n            Max length: 255</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>companyName</td>\n        <td>The legal name of the business.\n            Max length: 255</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: N/A</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>ein</td>\n        <td>Tax ID of the business.\n            Max length: 21</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: N/A</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>einIssuingCountry</td>\n        <td>Two-letter ISO-2 country code of Tax ID issuing country. \n            Examples: US, CA.\n            Defaults to US. Length: 2</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: N/A</li>\n                <li>PRIVATE PROFIT: Optional</li>\n                <li>PUBLIC_PROFIT: Optional</li>\n                <li>NON_PROFIT: Optional</li>\n                <li>GOVERNMENT: Optional</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>altBusinessId</td>\n        <td>Alternative Business Identifier. A valid identifier that corresponds to the altBusinessIdType.\n            Max length: 50</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Optional</li>\n                <li>PRIVATE PROFIT: Optional</li>\n                <li>PUBLIC_PROFIT: Optional</li>\n                <li>NON_PROFIT: Optional</li>\n                <li>GOVERNMENT: Optional</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>altBusinessIdType</td>\n        <td>Alternative Business Identifier Type.\n            Examples: DUNS, LEI, GIIN.\n            Enumerated values</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Optional</li>\n                <li>PRIVATE PROFIT: Optional</li>\n                <li>PUBLIC_PROFIT: Optional</li>\n                <li>NON_PROFIT: Optional</li>\n                <li>GOVERNMENT: Optional</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>firstName</td>\n        <td>First name of business contact.\n            Max length: 100</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required</li>\n                <li>PRIVATE PROFIT: N/A</li>\n                <li>PUBLIC_PROFIT: N/A</li>\n                <li>NON_PROFIT: N/A</li>\n                <li>GOVERNMENT: N/A</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>lastName</td>\n        <td>Last name of business contact.\n            Max length: 100</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required</li>\n                <li>PRIVATE PROFIT: N/A</li>\n                <li>PUBLIC_PROFIT: N/A</li>\n                <li>NON_PROFIT: N/A</li>\n                <li>GOVERNMENT: N/A</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>phone</td>\n        <td>Support contact telephone number in E.164 format.\n            Example:  +12023339999.\n            Max length: 20</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>mobilePhone</td>\n        <td>Valid wireless telephone in E.164 format.\n            Example: +12023339999.\n            Max length: 20</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required for OTP</li>\n                <li>PRIVATE PROFIT: N/A</li>\n                <li>PUBLIC_PROFIT: N/A</li>\n                <li>NON_PROFIT: N/A</li>\n                <li>GOVERNMENT: N/A</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>street</td>\n        <td>House number and street name.\n            Example: 1000 Sunset Hill Road.\n            Max length: 255</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>city</td>\n        <td>City Name.\n            Max length: 100</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>state</td>\n        <td>State or province. For addresses in the United States, please use the two-character state code.\n            Example: CA for California.\n            Max length 20</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>postalCode</td>\n        <td>Zipcode or postal code. Example: 21012\n            Max length: 10</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>country</td>\n        <td>Two-letter ISO-2 country code.\n            Examples: US, CA.\n            Length: 2</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>email</td>\n        <td>Email address of support contact.\n            Max length: 100</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>stockSymbol</td>\n        <td>Stock symbol of the PUBLIC_PROFIT brand.\n            Max length: 10</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: N/A</li>\n                <li>PRIVATE PROFIT: N/A</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: N/A</li>\n                <li>GOVERNMENT: N/A</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>stockExchange</td>\n        <td>The stock exchange where the PUBLIC_PROFIT brand is registered.\n            Enumerated values</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: N/A</li>\n                <li>PRIVATE PROFIT: N/A</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: N/A</li>\n                <li>GOVERNMENT: N/A</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>website</td>\n        <td>The website/online URL address of the brand.\n            Max length: 255</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Optional</li>\n                <li>PRIVATE PROFIT: Optional</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Optional</li>\n                <li>GOVERNMENT: Optional</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>brandRelationship</td>\n        <td>The brand relationship level to the CSP.\n            Enumerated values</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: N/A</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>vertical</td>\n        <td>The industry segment where the brand operates.\n            Enumerated values</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Optional</li>\n                <li>PRIVATE PROFIT: Required</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Required</li>\n                <li>GOVERNMENT: Required</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>referenceId</td>\n        <td>A customer-unique identifier managed by the CSP that prevents duplicate brand registration in TCR. Case-insensitive, empty strings are ignored.\n            Max length: 50</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Required</li>\n                <li>PRIVATE PROFIT: Optional</li>\n                <li>PUBLIC_PROFIT: Optional</li>\n                <li>NON_PROFIT: Optional</li>\n                <li>GOVERNMENT: Optional</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>tag</td>\n        <td>Tags that can be set on the brand.\n            Please refer to the Searchable Keyword Tag heading.</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Optional</li>\n                <li>PRIVATE PROFIT: Optional</li>\n                <li>PUBLIC_PROFIT: Optional</li>\n                <li>NON_PROFIT: Optional</li>\n                <li>GOVERNMENT: Optional</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>mock</td>\n        <td>A boolean value that signifies a brand as a mock brand.  Mock brands do not incur a billable charge on campaign registrations.\n            Defaults to FALSE.</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: Optional</li>\n                <li>PRIVATE PROFIT: Optional</li>\n                <li>PUBLIC_PROFIT: Optional</li>\n                <li>NON_PROFIT: Optional</li>\n                <li>GOVERNMENT: Optional</li>\n            </ul>\n        </td>\n    </tr>\n    <tr>\n        <td>businessContactEmail</td>\n        <td>Email of the business contact for the brand.\n            Max length: 255</td>\n        <td>\n            <ul>\n                <li>SOLE_PROPRIETOR: N/A</li>\n                <li>PRIVATE PROFIT: Optional</li>\n                <li>PUBLIC_PROFIT: Required</li>\n                <li>NON_PROFIT: Optional</li>\n                <li>GOVERNMENT: Optional</li>\n            </ul>\n        </td>\n    </tr>\n</tbody>\n</table>\n\n",
        "operationId": "newBrandNonBlocking",
        "requestBody": {
          "description": "Refer to the schema for details on fields listed in the example.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand"
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter. Most string parameters are subject to min and/or max length validations. Some parameters are subject to additional country-specific validation rules including ein, state, and postalCode. Please refer to the BrandRequest schema for more details.</li>\n<li>503: Duplicate record detected. If supplied, each registered brand must have a unique referenceId.</li>\n<li>512: Exceeded the maximum number of brands for your CSP account. Please contact TCR support to increase your brand quota.</li>\n<li>529: The brand's country is not allowed to be registered in TCR.</li>\n<li>534: Sole proprietor is not enabled on the CSP account.</li>\n<li>550: Duplicate threshold detected for brand record.</li>\n<li>551: Unsupported phone number or mobile phone number. For example, Sole Proprietor brands require a US or CA wireless phone number in the mobilePhone field.</li>\n<li>553: Unsupported email address. Disposable email addresses are not permitted.</li>\n<li>554: Invalid street address. The street, city, state, postalCode, and country fields must form a valid postal address.</li>\n<li>555: Unsupported street address. For example, Sole Proprietor brands require a valid US or CA street address.</li>\n<li>556: Obfuscation check failed on brand fields, including firstName, lastName and displayName for a Sole Proprietor brand.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n<li>591: Temporary system error. Unable to complete brand registration. Please wait 30 seconds and try again.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/smsOtp/{referenceId}": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Get the SMS OTP status",
        "description": "Retrieves a brand\u2019s SMS one-time password (OTP) status by a CSP-managed <code>referenceId</code> value.\nThis endpoint confirms that the OTP verification was successful and, potentially, its delivery status.\nIf the <code>verifyDate</code> property is present in the response, then the OTP verification was\nsuccessfully completed.\n<b>Note:</b> The <code>deliveryStatus</code> property is only provided if supported by the underlying\nSMS service provider and is not guaranteed to arrive in a timely manner or match the OTP verify status.\nThe <code>deliveryStatus</code> property should only be used to facilitate SMS delivery troubleshooting.\nPossible values for the <code>deliveryStatus</code> property include:\n<ul>\n    <li><b>Null:</b> The SMS service provider hasn't provided any SMS delivery status for the given transaction.</li>\n    <li><b>IN_TRANSIT:</b> SMS message delivery is in progress.</li>\n    <li><b>DELIVERED_GATEWAY:</b> The SMS message was delivered to a carrier gateway. This may be a final status depending on the destination network.</li>\n    <li><b>DELIVERED_HANDSET:</b> The SMS message was delivered to the mobile device. This is a final status. No further updates will be provided.</li>\n    <li><b>FAILED_ROUTING:</b> The SMS message can\u2019t be routed based on the provided phone number. This is a final error status. No further updates will be provided.</li>\n    <li><b>FAILED_BLOCKED:</b> The SMS message was blocked by a service provider or mobile network. This is a final error status. No further updates will be provided.</li>\n    <li><b>FAILED_EXPIRED:</b> The SMS message expired during delivery. This is a final error status. No further updates will be provided.</li>\n    <li><b>FAILED_UNKNOWN:</b> An unknown failure occurred. This is a final error status. No further updates will be provided.</li>\n    <li><b>UNKNOWN_STATUS:</b> The status was not recognized by TCR. Refer to the deliveryStatusDetails property for more information.</li>\n</ul>",
        "operationId": "getBrandOtp",
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "description": "A unique reference ID that begins with OTP.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsOtpStatus"
                }
              }
            }
          },
          "400": {
            "description": "Request failed."
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Retrieve an existing brand record",
        "description": "Get an existing brand record from TCR by specifying the brand\u2019s unique identifier.",
        "operationId": "getBrand",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand_CSP"
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand record not found.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError_CSP"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Brand"
        ],
        "summary": "Update an existing brand\u2019s properties",
        "description": "Allows a CSP to update an existing brand\u2019s properties in the TCR system. Modifying some properties will\nchange a brand\u2019s identity status to UNVERIFIED and require resubmission using the PUT /brand/{brandId}/revet\nendpoint. Refer to the table below for additional information.\n<b>Additional notes:</b>\n<ul>\n<li><b>For Public Profit brands:</b> Updating the businessContactEmail will revoke a brand\u2019s Auth+ compliance. The brand must request a new Auth+ vet to regain compliance. During this process, the business contact must reply to a 2FA email.</li>\n<li>Updating a brand\u2019s mobilePhone field will change a brand\u2019s identity status to UNVERIFIED.</li>\n</ul>\n<table border=\"1\">\n<thead>\n    <tr>\n        <th>Properties</th>\n        <th>Description</th>\n        <th>Resubmission required</th>\n    </tr>\n</thead>\n<tbody>\n<tr>\n    <td>companyName, ein, einIssuingCountry, entityType</td>\n    <td>An update is allowed if the brand has no external vets and no active campaigns. Modifying these\n    fields will change the brand identity status to UNVERIFIED.</td>\n    <td>Yes</td>\n</tr>\n<tr>\n    <td>firstName, lastName, displayName, website, street, city, state, postalCode, country, email,\n    referenceId, phone, vertical, stockSymbol, stockExchange, altBusinessId, altBusinessIdType</td>\n    <td>Updating these fields do not require resubmission.</td>\n    <td>Optional</td>\n</tr>\n<tr>\n    <td>brandRelationship</td>\n    <td>Can only be updated once every 3 months.</td>\n    <td>Optional</td>\n</tr>\n<tr>\n    <td>businessContactEmail</td>\n    <td>Updating this field will revoke a Public Profit brand\u2019s Auth+ compliance.</td>\n    <td>No</td>\n</tr>\n</tbody>\n</table>",
        "operationId": "updateBrand",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Refer to the schema for details on fields listed in the example.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrand_CSP"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand_CSP"
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter. Most string parameters are subject to min and/or max length validations. Some parameters are subject to additional country-specific validation rules including ein, state, and postalCode. Please refer to the BrandRequest schema for more details.</li>\n<li>502: Brand record not found.</li>\n<li>528: Brand update frequency exceeded. Brand relationships can only be updated once every three months.</li>\n<li>537: The fields companyName, ein, einIssuingCountry and entityType cannot be updated if there are any pending or active campaigns/external vets on the brand.</li>\n<li>550: Duplicate threshold detected for brand record.</li>\n<li>551: Unsupported phone number or mobile phone number. For example, Sole Proprietor brands require a US or CA wireless phone number in the mobilePhone field.</li>\n<li>553: Unsupported email address. Disposable email is not permitted.</li>\n<li>554: Invalid street address. The street, city, state, postalCode, and country fields must form a valid postal address.</li>\n<li>555: Unsupported street address. For example, Sole Proprietor brands require a valid US or CA street address.</li>\n<li>556: Obfuscation check failed on brand fields, including firstName, lastName and displayName for a Sole Proprietor brand.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError_CSP"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Brand"
        ],
        "summary": "Delete a brand record",
        "description": "Changes a brand to a DELETED status. A brand record can only be deleted if it does not have any active\ncampaigns associated with it. Once a brand is deleted, it cannot be restored to an ACTIVE status. Deleted\nbrands will remain in TCR for a TBD period of time and can be searched using the GET /brand endpoint with\na query filter of 'status' = DELETED. The GET /brand/{brandId} endpoint will also return deleted brands.",
        "operationId": "deleteBrand",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n        <ul>\n        <li>501: Invalid input parameter.</li>\n        <li>502: Brand record not found.</li>\n        <li>542: Cannot delete a brand with active campaigns.</li>\n        <li>590: TCR internal system error. Please contact TCR support.</li>\n        </ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/2faEmail": {
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "Resend a 2FA email for a non-SOLE_PROPRIETOR brand",
        "description": "Resends a 2FA email for a brand that has not completed Authentication+ or RCS verification. Used if\na brand business contact has lost their original 2FA email or if the email has expired. Can only be\ntriggered if the brand initiated the 2FA verification process within the last 30 days. If multiple\n2FA emails are sent to the same email address, TCR will rate limit the sending to one every two hours.\nRefer to the <a href = \"https://www.campaignregistry.com/Assets/External-Auth+ProductSpecsDoc.pdf\">Authentication+ documentation</a>\nfor more information.",
        "operationId": "postBrand2faEmail",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vettingClass",
            "in": "query",
            "description": "The vetting class for resending 2FA Email. Example: RCS, AUTHPLUS",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand record not found.</li>\n<li>565: Unable to resend 2FA. Please submit brand for re-vet.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n<li>592: Operation declined. 2FA verification is already complete.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/appeal": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "List identity status appeals associated with a brand.",
        "description": "Returns a list of all identity status appeals associated with a brand ID. Results can be limited by appeal status.",
        "operationId": "listBrandAppeal",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appealStatus",
            "in": "query",
            "description": "Example: PENDING. The status associated with the appeal.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "COMPLETE"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BrandAppeal"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand record not found.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "Appeal a brand\u2019s identity status",
        "description": "Allows a CSP to appeal the results of a brand\u2019s identity status. This is used if the basic identity check\nwas unsuccessful or did not properly return a necessary brand <code>optionalAttribute</code> that grants\naccess to additional use cases. Attachments should be added to include documentation that justifies the\nappeal. For detailed information, please refer to\n<a href = \"https://www.campaignregistry.com/Assets/Brand%20Vetting%20Appeals%20Overview.pdf\">Brand Vetting Appeals</a>.",
        "operationId": "appealBrand",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Refer to the schema for details on fields associated with the appeal.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandAppealRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand or identity vet not found.</li>\n<li>559: Appeal request declined due to one or more invalid appeal categories.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n<li>592: Operation declined. Appeal requested on old brand information. Brand information has been updated since this request.</li>\n<li>620: The external vetting partner is unable to accept requests at this time. Please wait 30 seconds and try again.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/appeal/evidence": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Gets a list of appeal evidence files for a brand",
        "description": "Retrieves a list of all appeal evidence files attached to a specified brand.\nThese evidence files could have been used as part of an external vet appeal, identity status appeal, etc.\nSee the <b>Attachment</b> group for API information on downloading and deleting attachments on a brand record.",
        "operationId": "listAppealEvidence",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttachmentInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "Add evidence files to a brand appeal",
        "description": "Adds appeal evidence files to a specified brand. These evidence files can be used as part of an external vet appeal, identity status appeal, etc.\nSee the <b>Attachment</b> group for API information on downloading and deleting attachments on a brand record.",
        "operationId": "uploadAppealEvidence",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentInfo"
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand record not found.</li>\n<li>544: File cannot be uploaded. Maximum file size or the maximum number of files per brand is exceeded.</li>\n<li>546: Unsupported file type. Supported file types include: .jpg, .jpeg, .png, .bmp, .raw, .tiff, .pdf, .docx, .htm, .odt, .rtf, .txt, .xml.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/externalVetting": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Gets a list of external vetting records for a brand",
        "description": "Retrieves all external vetting records associated with a brand ID. Records can be queried by an external vetting partner ID, vetting class, or status.",
        "operationId": "listExternalVets",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evpId",
            "in": "query",
            "description": "The unique ID that identifies an external vetting partner.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vettingClass",
            "in": "query",
            "description": "The type of vetting record. Example: ENHANCED.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vettingStatus",
            "in": "query",
            "description": "The status of the vetting record. Example: PENDING.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "UNSCORE",
                  "ACTIVE",
                  "FAILED",
                  "EXPIRED"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExternalVetting"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand record not found.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Brand"
        ],
        "summary": "Import an external vetting record",
        "description": "This endpoint is used to import an external vetting record from a TCR-approved vetting partner. If the\nvetting partner confirms the validity of the record, it will be saved with the brand and used for future\ncampaign qualification.\nThe request body must contain the following properties:\n<ul>\n<li><b>evpId:</b> The vetting partner ID.</li>\n<li><b>vettingId:</b> The unique value of the vetting <code>transactionId</code>.</li>\n</ul>\n<p><b>Note:</b> Import is not supported for the AUTHPLUS vetting class.</p>\nAn optional <code>vettingToken</code> field may be required by the vetting partner. Refer to the table below for full details.\n<table border=\"1\">\n    <thead>\n        <tr>\n            <th>Vetting Provider</th>\n            <th>EvpId</th>\n            <th>Vetting ID Property</th>\n            <th>Vetting Token</th>\n            <th>Notes</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td>Aegis Mobile</td>\n            <td>AEGIS</td>\n            <td>ID</td>\n            <td>Required. Referred to as the Verification Certificate.</td>\n            <td>Supports STANDARD, POLITICAL, and ENHANCED vetting classes.\n                <b>Validation Rules:</b> During import, the following properties\n                must match between the Aegis report and the TCR brand:\n                <ul>\n                    <li>Legal Name</li>\n                    <li>Entity Type</li>\n                </ul>\n            </td>\n        </tr>\n        <tr>\n            <td>Campaign Verify</td>\n            <td>CV</td>\n            <td>Authorization Token</td>\n            <td>N/A</td>\n            <td>Only supports the POLITICAL vetting class.\n                <b>Validation Rules:</b>\n                <ul>\n                    <li>The brand must be a US-based NON_PROFIT entity type without a 501(c) tax exempt status.</li>\n                    <li>Must be a unique token per brand and CSP.</li>\n                </ul>\n            </td>\n        </tr>\n        <tr>\n            <td>WMC Global</td>\n            <td>WMC</td>\n            <td>Transaction ID</td>\n            <td>N/A</td>\n            <td>Only supports the STANDARD vetting class.\n                <b>Validation Rules:</b>\n                <ul><li>The brand must be a US-based PRIVATE_PROFIT or PUBLIC_PROFIT entity type.</li></ul>\n            </td>\n        </tr>\n    </tbody>\n</table>\n",
        "operationId": "importExternalVet",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains the external vetting record to be imported for a brand.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalVettingImportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalVetting"
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand or vetting record not found.</li>\n<li>508: Vetting report has expired.</li>\n<li>520: Vetting report record cannot be found. Please verify that the vettingId and vettingToken (if applicable) are valid.</li>\n<li>525: External vet cannot be imported for this brand.</li>\n<li>538: Vetting report data mismatch. Information in the report does not match brand information.</li>\n<li>539: General vetting report import failure. Please contact the vetting provider for assistance.</li>\n<li>540: Vetting report cannot be imported for brands with active campaigns. Campaign Verify Only.</li>\n<li>541: Vetting report incompatible with brand. Campaign Verify vets require a US-based NON_PROFIT brand without a 501(c) tax exempt status or SOLE_PROPRIETOR entity type.</li>\n<li>543: Vetting report is already associated with another TCR brand. Please request a new vetting report from the vetting provider.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n<li>591: Vetting report cannot be imported because external vetting partner is not responding.</li>\n<li>592: Vetting report cannot be imported due to data constraints.</li>\n<li>620: External vetting provider cannot accept requests at this time. Wait 30 seconds and try again.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "Request a new external vet for a brand",
        "description": "Places an order for an external vet via a TCR-approved vetting provider. For detailed instructions, see the <a href=\"https://www.campaignregistry.com/Assets/External Vetting Requests Using the CSP API.pdf\">External Vetting Requests Using the CSP API</a> document.\nTo generate a mock vetting token for use in a CSP non-production testing environment, see the POST <code>/brand/{brandId}/externalVetting/mockCvToken</code> endpoint. For more information, see the <a href=\"https://www.campaignregistry.com/CSP-Non-production-Integration-Testing.pdf\">Non-Production Integration Testing</a> document.\n\n<b>Note:</b> For RCS vets, you must wait 30 days from vet completion before requesting a new one.",
        "operationId": "orderExternalVet",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Provides information to the external vetting provider as part of the external vetting request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalVettingOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalVetting"
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>501: Operation declined. Business email address missing from brand information.</li>\n<li>501: Operation declined. Website missing from brand information.</li>\n<li>502: Brand or vetting record not found.</li>\n<li>525: Update the brand\u2019s profile before requesting a re-vet.</li>\n<li>526: Vetting request declined by the vetting provider due to bad data. Please update the brand profile, revet, and try again.</li>\n<li>549: Duplicate vet request within restricted period. Please wait 30 days from vet completion before requesting a new one.</li>\n<li>568: CSP account is not enabled for RCS features.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n<li>591: Temporary system error. Wait 30 seconds and try again.</li>\n<li>592: Operation declined. Vetting request declined by the vetting provider due to an error.</li>\n<li>620: External vetting provider cannot accept requests at this time. Wait 30 seconds and try again.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/externalVetting/appeal": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "List external vetting appeals associated with a brand.",
        "description": "Returns a list of all external vetting appeals associated with a brand ID. You can limit the results by vetting partner, vetting id, and status. If no appeals exist for a brand, then no results will be returned.",
        "operationId": "listBrandExternalVettingAppeal",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evpId",
            "in": "query",
            "description": "The unique ID of the external vetting partner.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vettingId",
            "in": "query",
            "description": "The ID associated with a previously submitted vet.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appealStatus",
            "in": "query",
            "description": "The status of the appeal submitted for the brand.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "COMPLETE"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExternalVettingAppeal"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand record not found.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "Appeal an external vet (e.g., standard, RCS and authplus)",
        "description": "Allows a CSP to appeal a previously submitted external vet. This is used if the external vet did not return\na  brand <code>optionalAttribute</code> that grants access to additional use cases. It can also be used to\nappeal an external vet if the brand feels the outcome was incorrect, which can lead to lower throughput\nterms with network carriers. Attachments should be added to include documentation that justifies the\nappeal. For detailed information, please refer to\n<a href=\"https://www.campaignregistry.com/Assets/Brand%20Vetting%20Appeals%20Overview.pdf\">Brand Vetting Appeals</a>.",
        "operationId": "appealExternalVet",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Refer to the schema for details on fields associated with the appeal.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalVettingAppealRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n        <ul>\n        <li>501: Invalid input parameter.</li>\n        <li>502: Brand or vetting record not found.</li>\n        <li>559: Appeal request declined due to one or more invalid appeal categories.</li>\n        <li>590: TCR internal system error. Please contact TCR support.</li>\n        <li>592: Operation declined. The external vetting partner is unable to process the request due to bad data.</li>\n        <li>620: The external vetting partner is unable to accept requests at this time. Please wait 30 seconds and try again.</li>\n        </ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/externalVetting/enhancedVettingReport": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Gets a list of enhanced vetting reports for a brand",
        "description": "Retrieves the enhanced vetting reports that are associated with a brand ID.",
        "operationId": "listEnhancedExternalVets",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttachmentInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/revet": {
      "put": {
        "tags": [
          "Brand"
        ],
        "summary": "Submit a revet for a brand",
        "description": "Revetting a brand is necessary if a CSP changes brand information following initial registration. The revet\nverifies the brand\u2019s identity through a third party external vetting provider. If successful, the brand\u2019s\nidentity status is changed to VERIFIED (or VETTED_VERIFIED in some instances). Revets should only be used\nto validate changes to brand information following a successful registration (or to correct information if,\nfor example, an incorrect EIN was entered). If a brand wants to verify attributes that don\u2019t appear after\nregistration (such as a missing tax exempt status or government entity flag), they should submit a brand\nappeal and submit additional documentation to support their claim.",
        "operationId": "revetBrand",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand"
                }
              }
            }
          },
          "202": {
            "description": "Accepted, but pending internal vetting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand"
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand record not found.</li>\n<li>525: Revet not allowed with identical brand information. Update the brand profile before requesting a re-vet.</li>\n<li>527: Brand registration is pending.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n<li>620: External vetting provider cannot accept requests at this time. Wait 30 seconds and try again.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/smsOtp": {
      "put": {
        "tags": [
          "Brand"
        ],
        "summary": "Verify an OTP PIN (Sole Proprietor only)",
        "description": "Only used for SOLE_PROPRIETOR entity types. Verifies a one-time password (OTP) sent to the brand\u2019s\n<code>mobilePhone</code> property. Upon successful OTP verification, the brand is allowed to register\ncampaigns.\n<b>Additional Information</b>\n<ul>\n<li>Sole Proprietor OTP PINs expire after 24 hours.</li>\n<li>Resending an OTP can only be done by the CSP. API users can use the PUT /brand/smsOTP endpoint.</li>\n<li>\nUpon completion of OTP verification:\n<ul>\n<li>A CSP will receive a BRAND_OTP_VERIFIED webhook event.</li>\n<li>The brand\u2019s identity status will change to VERIFIED.</li>\n</ul>\n</li>\n</ul>",
        "operationId": "verifyBrandOtp",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contains the OTP PIN sent to the mobile phone number specified in the brand\u2019s <code>mobilePhone</code> parameter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifySmsOtpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n        <ul>\n        <li>501: Invalid input parameter.</li>\n        <li>502: Brand record not found.</li>\n        <li>506: Invalid status. OTP PIN cannot be sent to a brand with a VERIFIED status.</li>\n        <li>550: Duplicate threshold detected for brand record. Max duplication threshold exceeded for a brand having the same mobilePhone.</li>\n        <li>552: Unrecognized or expired OTP PIN. OTP PINs are only valid for 24 hours.</li>\n        <li>590: TCR internal system error. Please contact TCR support.</li>\n        <li>591: Temporary system error. Wait 30 seconds and try again.</li>\n        </ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "Trigger an OTP message (Sole Proprietor only)",
        "description": "Only used for SOLE_PROPRIETOR entity types. Triggers the generation of a one-time password (OTP) sent to\nthe <code>mobilePhone</code> number specified in a brand\u2019s profile. Only valid for US and Canadian phone numbers\nthat support SMS text messaging. OTP messages are sent from an A2P 10DLC phone number managed by TCR.\nOTP verification is required as part of the brand registration process for SOLE_PROPRIETOR entity types.\nCampaigns cannot be created until OTP verification is complete. CSPs can customize the pinSms and\nsuccessSms messages to fit their business needs, including the ability to trigger a second SMS message to\nthe OTP recipient upon successful OTP verification.\n<b>Testing Without a US/Canadian Wireless Number</b>\nDevelopers can register a brand via the CSP API with the attribute <code>mock</code> set to <code>true</code>.\nWhen this attribute is enabled, all SMS OTP messages will be redirected via a webhook with an event type of\nBRAND_MOCK_OTP. The OTP PIN will be visible in the webhook payload under the property name\n<code>otpPin</code>. For more information on how to subscribe to webhooks generated by TCR, please see the\nWebhook section of the CSP API.",
        "operationId": "sendBrandOtp",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "OTP messages sent to the brand\u2019s <code>mobilePhone</code> number.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsOtpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendSmsOtpResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand record not found.</li>\n<li>506: Invalid status. OTP PIN cannot be sent to a brand with a VERIFIED status.</li>\n<li>550: Duplicate threshold detected for brand record. Max duplication threshold exceeded for a brand having the same mobilePhone.</li>\n<li>551: Unsupported number. Only US or Canadian wireless numbers are supported in the brand mobilePhone property.</li>\n<li>552: Unrecognized or expired OTP PIN. OTP PINs are only valid for 24 hours.</li>\n<li>557: Rate limit for OTP attempts exceeded.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n<li>591: Temporary system error. Wait 30 seconds and try again.</li>\n<li>592: Operation declined. SMS OTP using this endpoint is only available for Sole Proprietor entity types.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/asset": {
      "get": {
        "tags": [
          "Brand Asset"
        ],
        "summary": "Retrieve a list of brand assets from a brand",
        "description": "Returns a list of brand assets associated with a specified brand. Optional filters can narrow results by the type or name. Response includes the <code>attachmentUuid</code> as well as verification information such as feedback reasons and expiration date (if applicable).",
        "operationId": "listBrandAsset",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "LOGO",
                "BANNER"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Display name of the brand asset.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BrandAsset_CSP"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Please use the below error codes table to identify the cause of error.<table>\n<tbody>\n<tr>\n<td>Error Code&nbsp;</td>\n<td>Error Description&nbsp;</td>\n</tr>\n<tr>\n<td>&nbsp;501</td>\n<td>Invalid input parameter. Brand ID is 7 character long with 'B' letter prefix.</td>\n</tr>\n<tr>\n<td>&nbsp;502</td>\n<td>Brand record not found.</td>\n</tr>\n<tr>\n<td>&nbsp;590</td>\n<td>TCR internal system error.</td>\n</tr>\n</tbody>\n</table>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError_CSP"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credential"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Brand Asset"
        ],
        "summary": "Upload a new brand asset",
        "description": "Uploads a new brand asset to a specified brand. The following business rules apply:<ul><li>Request body must contain a type of LOGO or BANNER.</li><li>The associated brand cannot be a SOLE_PROPRIETOR.</li><li>Only alphanumeric names are accepted. Spaces, dashes, and underscore characters are also allowed within the name, but leading and trailing spaces are not.</li><li>Assets must have a unique name within the brand.</li><li>Assets must be in the appropriate format (JEPG, JPG or PNG), dimensions (1440 x 448px for banners and 224 x 224px for logos), and within the allowed size (200 KB for banners and 50 KB for logos).</li><li>Up to 50 banners and 50 logos are allowed (for a total of 100 assets) per brand.</li></ul>",
        "operationId": "uploadBrandAsset",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "name",
                  "type"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The display name of the brand asset."
                  },
                  "type": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of where the file is hosted."
                  },
                  "file": {
                    "type": "string",
                    "description": "Path to the file to upload.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>503: Duplicate asset name. Please enter a unique brand asset name.</li>\n<li>544: Unsupported image type. Logo images must have a max file size of 50 KB.</li>\n<li>544: Unsupported image type. Banner images must have a max file size of 200 KB.</li>\n<li>546: Unsupported image type. Banner images must be in JPEG/PNG format.</li>\n<li>546: Unsupported image type. Logo images must be in JPEG/PNG format.</li>\n<li>547: Unsupported image type. Logo images must have dimensions of 224 x 224px.</li>\n<li>547: Unsupported image type. Banner images must have dimensions of 1440 x 448px.</li>\n<li>572: Parsed brand asset name not allowed. Must consist of alphanumeric or ' ', '_', '-' with a length of minimum 3 and maximum 50.</li>\n<li>573: The URL must be valid, HTTPS and publicly available.</li>\n<li>574: Fetching remote file timed out.</li>\n<li>575: URL redirection is forbidden.</li>\n<li>592: Number of assets per brand exceeded. Please delete an existing brand asset before uploading a new one.</li>\n<li>592: Brand assets not supported for Sole Proprietor brands.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError_CSP"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credential"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/asset/{name}": {
      "delete": {
        "tags": [
          "Brand Asset"
        ],
        "summary": "Remove an existing brand asset",
        "description": "Permanently deletes an existing brand asset record from a specified brand. Brand assets cannot be deleted if their verification status is PENDING, VERIFIED, or if they are associated with an active RCS campaign.",
        "operationId": "deleteBrandAsset",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "The display name of the brand asset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>566: Operation declined. Brand asset cannot be deleted with pending or active verification.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n<li>592: Operation declined. Cannot delete brand assets associated with active campaigns.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError_CSP"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credential"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/asset/{name}/appeal": {
      "get": {
        "tags": [
          "Brand Asset"
        ],
        "summary": "List verification appeals associated with a brand asset",
        "description": "Returns a list of all verification appeals associated with a brand ID and brand asset name. Results can be limited by submitting an optional appeal status.",
        "operationId": "listBrandAssetAppeal",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Display name of the brand asset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appealStatus",
            "in": "query",
            "description": "Optional appeal status filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "COMPLETE"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BrandAssetAppeal"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request failed. Please use the below error codes table to identify the cause of error.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand asset record not found.</li>\n<li>590: TCR internal system error.</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Brand Asset"
        ],
        "summary": "Appeal a brand asset verification",
        "description": "Allows the CSP to appeal brand assets that are in an UNVERIFIED status and have been registered within the last 45 days. One or more appealCategories must also be submitted.",
        "operationId": "appealBrandAsset",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the asset to appeal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Refer to the schema for details on fields associated with the appeal.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandAssetAppealRequest_CSP"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>501: Invalid input parameter.</li>\n<li>502: Brand or Brand Asset not found.</li>\n<li>559: Appeal request declined due to one or more invalid appeal categories.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n<li>592: Operation declined.</li>\n<li>620: The external vetting partner is unable to accept requests at this time. Please wait 30 seconds and try again.</li>\n        </ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError_CSP"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credentials."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand/{brandId}/asset/{name}/verify": {
      "post": {
        "tags": [
          "Brand Asset"
        ],
        "summary": "Verify an existing brand asset",
        "description": "Submits a brand asset associated with a brand for verification by an external vetting provider. A brand asset must be successfully verified before it can be associated with an RCS campaign. Additional business rules include:\n<ul><li>The associated brand must have a VERIFIED or VETTED_VERIFIED identity status in order to submit brand assets for verification.</li></ul>",
        "operationId": "verifyBrandAsset",
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "description": "The unique ID that identifies the brand.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "The display name of the brand asset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Request failed. Refer to the included TCR error code and message for more information.\n<ul>\n<li>525: Operation declined. Submission only allowed for brands in a VERIFIED or VETTED_VERIFIED identity status.</li>\n<li>566: Operation declined. Brand asset already submitted for verification.</li>\n<li>590: TCR internal system error. Please contact TCR support.</li>\n<li>592: Operation declined. Brand asset already verified.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError_CSP"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Check your API credential"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/campaign": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Deprecated. Search campaigns you have registered",
        "description": "<p>This endpoint will be removed in a future release. Use GET /campaign/search as a replacement.\n   If only searching for mock campaigns, use GET /campaign/mock as a replacement.</p>\n<p>Search for campaigns the CSP has registered by any combination of the available parameters. This operation supports\n   pagination with a maximum of 500 records per fetch. Any field supplied must be an exact match. If no parameters are\n   supplied, a full list of campaigns the CSP has registered will be returned. In the response, if the resellerId property\n   of a campaign is set to R000000, this indicates No Reseller.</p>",
        "operationId": "listCampaigns",
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "description": "Reference ID. An identifier managed by the CSP.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brandId",
            "in": "query",
            "description": "The unique ID that identifies the brand.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the campaign.",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "EXPIRED"
              ]
            }
[...]
