{
  "openapi": "3.1.1",
  "servers": [
    {
      "url": "https://api.voicetel.com"
    }
  ],
  "info": {
    "description": "iNumbering Provisioning",
    "title": "iNumbering Provisioning API",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "v2.1.6",
    "contact": {
      "email": "support@voicetel.com"
    }
  },
  "components": {
    "securitySchemes": {
      "apikey": {
        "description": "apikey security scheme.",
        "scheme": "bearer",
        "type": "http"
      }
    },
    "schemas": {
      "tnInventoryCoverage": {
        "description": "Tn inventory coverage shape.",
        "type": "object",
        "required": [
          "apikey"
        ],
        "properties": {
          "countBy": {
            "type": "string",
            "example": "npaNxx"
          },
          "npa": {
            "type": "string",
            "example": "201"
          },
          "locState": {
            "type": "string",
            "example": "NJ"
          },
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "rcAbbre": {
            "type": "string",
            "example": "HACKENSACK"
          },
          "lata": {
            "type": "string",
            "example": "224"
          }
        }
      },
      "tnOrder": {
        "description": "Tn order shape.",
        "type": "object",
        "required": [
          "apikey",
          "tnOrder"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "tnOrder": {
            "$ref": "#/components/schemas/tnOrder_tnOrder"
          }
        }
      },
      "tnList": {
        "description": "Tn list shape.",
        "type": "object",
        "required": [
          "tnItem"
        ],
        "properties": {
          "tnItem": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tn"
            },
            "required": [
              "tn"
            ],
            "example": []
          }
        }
      },
      "tn": {
        "description": "Tn shape.",
        "type": "object",
        "required": [
          "tn"
        ],
        "properties": {
          "route": {
            "type": "integer",
            "example": 1000
          },
          "tn": {
            "type": "integer",
            "example": 2015551234
          }
        }
      },
      "messagingCampaign": {
        "description": "Messaging campaign shape.",
        "type": "object",
        "required": [
          "apikey",
          "messagingBrandId",
          "externalCampaignId",
          "campaignDescription"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "externalCampaignId": {
            "type": "string",
            "example": "C123456"
          },
          "campaignDescription": {
            "type": "string",
            "example": "Campaign Description"
          },
          "messagingBrandId": {
            "type": "string",
            "example": "B123456"
          }
        }
      },
      "tnMessagingCampaign": {
        "description": "Tn messaging campaign shape.",
        "type": "object",
        "required": [
          "apikey",
          "tnCampaign"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "tnCampaign": {
            "type": "object",
            "properties": {
              "tnList": {
                "type": "object",
                "properties": {
                  "tnItem": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tnFeature": {
                          "type": "object",
                          "properties": {
                            "messaging": {
                              "type": "object",
                              "properties": {
                                "tnCampaign": {
                                  "type": "string",
                                  "example": "C123456"
                                }
                              }
                            }
                          }
                        },
                        "tn": {
                          "type": "string",
                          "example": "2015551234"
                        }
                      }
                    },
                    "example": []
                  }
                }
              }
            }
          }
        }
      },
      "tnOrder_tnOrder": {
        "description": "Tn order tn order shape.",
        "type": "object",
        "required": [
          "tnList"
        ],
        "properties": {
          "customerOrderReference": {
            "description": "Optional. If omitted, the proxy auto-generates a reference as {username}-{timestamp}.",
            "type": "string",
            "example": "myaccount-1717171717"
          },
          "tnList": {
            "$ref": "#/components/schemas/tnList"
          }
        }
      },
      "messagingBrand": {
        "description": "Messaging brand shape.",
        "type": "object",
        "required": [
          "apikey",
          "messagingBrandId",
          "messagingBrandName",
          "messagingBrandDescription"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "messagingBrandDescription": {
            "type": "string",
            "example": "Brand Description"
          },
          "messagingBrandName": {
            "type": "string",
            "example": "Brand Name"
          },
          "messagingBrandId": {
            "type": "string",
            "example": "B12345"
          }
        }
      },
      "tnInventory": {
        "description": "Optional Filters: Select one or several of (lata,rateCenter,province)",
        "type": "object",
        "required": [
          "apikey",
          "quantity",
          "tnMask"
        ],
        "properties": {
          "rateCenter": {
            "type": "string",
            "example": "HACKENSACK"
          },
          "quantity": {
            "type": "integer",
            "example": 1000
          },
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "lata": {
            "type": "integer",
            "example": 224
          },
          "tnMask": {
            "type": "string",
            "example": "201xxxxxxx"
          },
          "province": {
            "type": "string",
            "example": "NJ"
          }
        }
      }
    }
  },
  "paths": {
    "/v2/iNumbering/addMessagingBrand/": {
      "post": {
        "description": "Adds a new brand for number provisioning messaging.",
        "responses": {
          "470": {
            "description": "Brand Name already exists"
          },
          "400": {
            "description": "Bad input / missing required fields (POST /v2/iNumbering/addMessagingBrand/)."
          },
          "409": {
            "description": "Invalid Input Parameters | Invalid messagingBrandId format, should start with B and contain alphanumeric characters only"
          },
          "410": {
            "description": "DB Error | Error specific to order_id or customerOrderReference (POST /v2/iNumbering/addMessagingBrand/)."
          },
          "200": {
            "description": "Messaging brand added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Fields Are Required: (field name) response from add messaging brand."
          },
          "401": {
            "description": "Unauthorized response from add messaging brand."
          },
          "431": {
            "description": "Unable to complete the request at the moment response from add messaging brand."
          },
          "411": {
            "description": "Unknown Error response from add messaging brand."
          }
        },
        "summary": "Add Messaging Brand",
        "operationId": "addMessagingBrand",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "Messaging Brand Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/messagingBrand"
              }
            }
          }
        },
        "tags": [
          "iNumbering"
        ]
      }
    },
    "/v2/iNumbering/addMessagingCampaign/": {
      "post": {
        "description": "Adds a new campaign for a specific messaging brand. campaignClassName and campaignStartDate are set automatically; callers do not need to provide those fields.",
        "responses": {
          "400": {
            "description": "Bad input / missing required fields (POST /v2/iNumbering/addMessagingCampaign/)."
          },
          "409": {
            "description": "Invalid Input Parameters | Invalid messagingBrandId format | Invalid externalCampaignId format | externalCampaignId is not ACTIVE | externalCampaignId is not registered"
          },
          "410": {
            "description": "DB Error | Error specific to order_id or customerOrderReference (POST /v2/iNumbering/addMessagingCampaign/)."
          },
          "200": {
            "description": "Messaging campaign added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          },
          "430": {
            "description": "No Result Found response from add messaging campaign."
          },
          "414": {
            "description": "Fields Are Required: (field name) response from add messaging campaign."
          },
          "401": {
            "description": "Unauthorized response from add messaging campaign."
          },
          "431": {
            "description": "Unable to complete the request at the moment response from add messaging campaign."
          },
          "411": {
            "description": "Unknown Error response from add messaging campaign."
          }
        },
        "summary": "Add Messaging Campaign",
        "operationId": "addMessagingCampaign",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "Messaging Campaign Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/messagingCampaign"
              }
            }
          }
        },
        "tags": [
          "iNumbering"
        ]
      }
    },
    "/v2/iNumbering/tnInventory/": {
      "post": {
        "description": "Optional Filters: Select one or several of (lata,rateCenter,province).",
        "responses": {
          "409": {
            "description": "Conflict response from tn inventory.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "<IQ error text>"
                    },
                    "status": {
                      "type": "string",
                      "example": "Error"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "409"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request response from tn inventory."
          },
          "401": {
            "description": "Unauthorized response from tn inventory."
          },
          "200": {
            "description": "OK response from tn inventory.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "tnResult": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rateCenter": {
                            "type": "string",
                            "example": "HACKENSACK"
                          },
                          "telephoneNumber": {
                            "type": "string",
                            "example": "2015551234"
                          },
                          "city": {
                            "type": "string",
                            "example": "HACKENSACK"
                          },
                          "lata": {
                            "type": "integer",
                            "example": 224
                          },
                          "province": {
                            "type": "string",
                            "example": "NJ"
                          }
                        }
                      },
                      "example": []
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Search Numbers",
        "operationId": "tnInventory",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/tnInventory/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tnInventory"
              }
            }
          }
        },
        "tags": [
          "iNumbering"
        ]
      }
    },
    "/v2/iNumbering/tnInventoryCoverage/": {
      "post": {
        "description": "Optional countBy: Select one of (state,rateCenter,npaNxx,block) default is (npaNxx). Optional Filters: Select one of (npa,lata,rcAbbre,locState). Results are filtered to items matching the submitted filter field.",
        "responses": {
          "409": {
            "description": "Conflict response from tn inventory coverage.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "<IQ error text>"
                    },
                    "status": {
                      "type": "string",
                      "example": "Error"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "409"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request response from tn inventory coverage."
          },
          "401": {
            "description": "Unauthorized response from tn inventory coverage."
          },
          "200": {
            "description": "Success. tnInventoryCoverageList is filtered to items matching the submitted filter field (npa, lata, rcAbbre, or locState).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "tnInventoryCoverageList": {
                      "description": "Filtered by whichever of npa, lata, rcAbbre, or locState was provided in the request",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "npa": {
                            "type": "string",
                            "example": "201"
                          },
                          "lata": {
                            "type": "string",
                            "example": "224"
                          },
                          "nxx": {
                            "type": "string",
                            "example": "389"
                          },
                          "locState": {
                            "type": "string",
                            "example": "NJ"
                          },
                          "rcAbbre": {
                            "type": "string",
                            "example": "HACKENSACK"
                          },
                          "count": {
                            "type": "integer",
                            "example": 973
                          }
                        }
                      },
                      "example": []
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Search Number Coverage",
        "operationId": "tnInventoryCoverage",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/tnInventoryCoverage/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tnInventoryCoverage"
              }
            }
          }
        },
        "tags": [
          "iNumbering"
        ]
      }
    },
    "/v2/iNumbering/tnMessagingCampaign/": {
      "post": {
        "description": "Assigns a campaign to a list of telephone numbers for messaging. Each tn must be 10 digits and each tnFeature.messaging.tnCampaign must be a 7-character string starting with \"C\". customerOrderReference is auto-set if omitted.",
        "responses": {
          "400": {
            "description": "Bad input / invalid request structure."
          },
          "409": {
            "description": "Invalid TN Submitted | Invalid Input Parameters"
          },
          "410": {
            "description": "DB Error response from tn messaging campaign."
          },
          "200": {
            "description": "TN messaging campaign assigned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "orderId": {
                      "type": "integer",
                      "example": 12345678
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          },
          "432": {
            "description": "TN Excluded"
          },
          "422": {
            "description": "Order quantity limit is 100,000 numbers"
          },
          "414": {
            "description": "Fields Are Required response from tn messaging campaign."
          },
          "401": {
            "description": "Unauthorized response from tn messaging campaign."
          },
          "431": {
            "description": "Unable to complete the request at the moment response from tn messaging campaign."
          }
        },
        "summary": "Add Messaging Campaign to TNs",
        "operationId": "tnMessagingCampaign",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "TN Messaging Campaign Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tnMessagingCampaign"
              }
            }
          }
        },
        "tags": [
          "iNumbering"
        ]
      }
    },
    "/v2/iNumbering/tnOrder/": {
      "post": {
        "description": "Order numbers and optionally route numbers. Route can be obtained from Gateways list API.",
        "responses": {
          "409": {
            "description": "Conflict response from tn order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "<network error text>"
                    },
                    "status": {
                      "type": "string",
                      "example": "Error"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "409"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input \u2014 tn must be an array of tnItem.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "tn should be an array of tnItem"
                    },
                    "status": {
                      "type": "string",
                      "example": "Error"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "400"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized response from tn order."
          },
          "200": {
            "description": "Order placed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "orderId": {
                      "description": "Timestamp-based order reference (not the network order ID)",
                      "type": "string",
                      "example": "1717171717"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Order Numbers",
        "operationId": "tnOrder",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/tnOrder/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tnOrder"
              }
            }
          }
        },
        "tags": [
          "iNumbering"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "iNumbering",
      "description": "Carrier number-inventory operations."
    }
  ]
}