{
  "openapi": "3.1.1",
  "servers": [
    {
      "url": "https://api.voicetel.com"
    }
  ],
  "info": {
    "description": "iNumbering Porting. Authenticate every request with `Authorization: Bearer <apikey>`. To obtain your API key, POST `{\"username\": <id>, \"password\": \"<password>\"}` to /v2.2/account/apikey on the same host \u2014 this endpoint does not require an Authorization header. The response is `{\"status\":\"success\",\"data\":{\"apikey\":\"<32-hex-string>\"}}`.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "v2.1.6",
    "title": "iNumbering Porting API",
    "contact": {
      "email": "support@voicetel.com"
    }
  },
  "components": {
    "securitySchemes": {
      "apikey": {
        "scheme": "bearer",
        "type": "http",
        "description": "32-character hexadecimal API key obtained by POSTing your username and password to /v2.2/account/apikey. Pass it as the Bearer token on every request."
      }
    },
    "schemas": {
      "portInOrder_tnItem_endUser": {
        "description": "Port in order tn item end user shape.",
        "type": "object",
        "required": [
          "city",
          "name",
          "postalCode",
          "state",
          "streetName",
          "streetNum",
          "streetType",
          "typeOfService"
        ],
        "properties": {
          "state": {
            "type": "string",
            "example": "End user address state"
          },
          "postalCode": {
            "type": "string",
            "example": "End user address zip code"
          },
          "locationType2": {
            "type": "string",
            "example": "End user address location type 2 (e.g. Flr, Ste)"
          },
          "streetPostDir": {
            "type": "string",
            "example": "End user address street direction ending (e.g. SW)"
          },
          "typeOfService": {
            "type": "string",
            "example": "Acceptable values are B and R (business and residence)"
          },
          "city": {
            "type": "string",
            "example": "End user address city"
          },
          "streetName": {
            "type": "string",
            "example": "End user address street name"
          },
          "streetPreDir": {
            "type": "string",
            "example": "End user address street direction prefix (e.g. N)"
          },
          "name": {
            "type": "string",
            "example": "End user name"
          },
          "locationValue1": {
            "type": "string",
            "example": "End user address location value 1 (e.g. 1, 2B)"
          },
          "locationType3": {
            "type": "string",
            "example": "End user address location type 3 (e.g. Flr, Ste)"
          },
          "locationValue2": {
            "type": "string",
            "example": "End user address location value 2 (e.g. 1, 900)"
          },
          "locationType1": {
            "type": "string",
            "example": "End user address location type 1 (e.g. Bld, Apt)"
          },
          "streetNum": {
            "type": "string",
            "example": "End user address street number (e.g. 100, 550)"
          },
          "streetType": {
            "type": "string",
            "example": "End user address street type (e.g. St, Ave)"
          },
          "locationValue3": {
            "type": "string",
            "example": "End user address location value 3 (e.g. 1, 900)"
          }
        }
      },
      "portInAvailability": {
        "description": "Port in availability shape.",
        "type": "object",
        "required": [
          "apikey",
          "tnList"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "tnList": {
            "$ref": "#/components/schemas/tnList"
          }
        }
      },
      "portStatus": {
        "description": "Port status shape.",
        "type": "object",
        "required": [
          "apikey"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          }
        }
      },
      "portInOrder": {
        "description": "Port in order shape.",
        "type": "object",
        "required": [
          "apikey",
          "portInOrder"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "portInOrder": {
            "$ref": "#/components/schemas/portInOrder_portInOrder"
          }
        }
      },
      "tn": {
        "description": "Tn shape.",
        "type": "object",
        "required": [
          "tn"
        ],
        "properties": {
          "tn": {
            "type": "integer",
            "example": 2015551234
          }
        }
      },
      "portInOrder_tnItem_tnFeature_callerId": {
        "description": "Port in order tn item tn feature caller id shape.",
        "type": "object",
        "properties": {
          "callingName": {
            "type": "string",
            "example": "Caller ID display name; 15 characters or fewer"
          }
        }
      },
      "portOutPin_portOutPin": {
        "description": "Port out pin port out pin shape.",
        "type": "object",
        "required": [
          "tnList"
        ],
        "properties": {
          "tnList": {
            "$ref": "#/components/schemas/portOutPin_tnList"
          }
        }
      },
      "portOutPin_tnItem": {
        "description": "Port out pin tn item shape.",
        "type": "object",
        "required": [
          "tn"
        ],
        "properties": {
          "tn": {
            "type": "integer",
            "example": 2015551234
          },
          "portOutPin": {
            "type": "string",
            "description": "Optional 4-digit PIN. If omitted, the server auto-generates a random PIN in the range 1000-9999 and returns it in the response.",
            "example": "4291"
          }
        }
      },
      "portOutPin_tnList": {
        "description": "Port out pin tn list shape.",
        "type": "object",
        "required": [
          "tnItem"
        ],
        "properties": {
          "tnItem": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/portOutPin_tnItem"
            },
            "example": []
          }
        }
      },
      "portOutPin": {
        "description": "Port out pin shape.",
        "type": "object",
        "required": [
          "apikey",
          "portOutPin"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "portOutPin": {
            "$ref": "#/components/schemas/portOutPin_portOutPin"
          }
        }
      },
      "portInOrder_portInOrder": {
        "description": "Port in order port in order shape.",
        "type": "object",
        "required": [
          "desiredDueDate",
          "tnList"
        ],
        "properties": {
          "desiredDueDate": {
            "format": "date",
            "type": "string",
            "example": "1970-01-01"
          },
          "tnList": {
            "$ref": "#/components/schemas/portInOrder_portInOrder_tnList"
          }
        }
      },
      "portInOrder_tnItem": {
        "description": "Port in order tn item shape.",
        "type": "object",
        "required": [
          "accountNum",
          "atn",
          "authName",
          "endUser",
          "tn"
        ],
        "properties": {
          "tnFeature": {
            "$ref": "#/components/schemas/portInOrder_tnItem_tnFeature"
          },
          "tn": {
            "type": "string",
            "example": "Ten-digit telephone number"
          },
          "authName": {
            "type": "string",
            "example": "Name of port-in authorizer"
          },
          "authDate": {
            "type": "string",
            "format": "date",
            "description": "Auto-set to 2 days ago; callers do not need to provide this field.",
            "example": "1970-01-01"
          },
          "accountPin": {
            "type": "string",
            "example": "Alphanumeric account PIN or password"
          },
          "accountNum": {
            "type": "string",
            "example": "Account number"
          },
          "endUser": {
            "$ref": "#/components/schemas/portInOrder_tnItem_endUser"
          },
          "atn": {
            "type": "string",
            "example": "Account telephone number"
          }
        }
      },
      "portInOrder_tnItem_tnFeature": {
        "description": "Port in order tn item tn feature shape.",
        "type": "object",
        "properties": {
          "callerId": {
            "$ref": "#/components/schemas/portInOrder_tnItem_tnFeature_callerId"
          }
        }
      },
      "tnList": {
        "description": "Tn list shape.",
        "type": "object",
        "required": [
          "tnItem"
        ],
        "properties": {
          "tnItem": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tn"
            },
            "required": [
              "tn"
            ],
            "example": []
          }
        }
      },
      "portInOrder_portInOrder_tnList": {
        "description": "Port in order port in order tn list shape.",
        "type": "object",
        "required": [
          "tnItem"
        ],
        "properties": {
          "tnItem": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/portInOrder_tnItem"
            },
            "example": []
          }
        }
      }
    }
  },
  "paths": {
    "/v2.1/iNumbering/portStatus/": {
      "post": {
        "description": "Get port status summary for the authenticated account, ordered by timestamp descending.",
        "responses": {
          "409": {
            "description": "Internal storage error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exception": {
                      "type": "string",
                      "example": "<storage error message>"
                    },
                    "status": {
                      "type": "string",
                      "example": "Error"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "409"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request response from port status."
          },
          "401": {
            "description": "Unauthorized response from port status."
          },
          "200": {
            "description": "OK response from port status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "portStatusSummary": {
                      "type": "array",
                      "description": "One entry per port order for the authenticated account, ordered by timestamp descending.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Port record document ID.",
                            "example": "4ab6986446d30b866abf91ecb4e7f5ac633587ad"
                          },
                          "key": {
                            "type": "array",
                            "description": "[username, unix_timestamp]",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "3569689953",
                              "1746000000"
                            ]
                          },
                          "value": {
                            "type": "object",
                            "properties": {
                              "pid": {
                                "type": "string",
                                "description": "5-character port order ID.",
                                "example": "a3a2a"
                              },
                              "status": {
                                "type": "string",
                                "description": "Port order status. Casing may vary between old and new records.",
                                "enum": [
                                  "submitted",
                                  "Validating",
                                  "Pending",
                                  "complete",
                                  "Complete",
                                  "Completed"
                                ],
                                "example": "Complete"
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable status including FOC date/time and any rejection reason from the losing carrier.",
                                "example": "Your numbers will be porting on May/06/2026 at 10:00 AM Central."
                              },
                              "foc": {
                                "type": "string",
                                "description": "Firm Order Commitment date in YYYYMMDD format. 19750715 is the sentinel value meaning no FOC has been assigned yet.",
                                "example": "20260506"
                              },
                              "notify": {
                                "type": "string",
                                "description": "Customer notification flag. \"1\" = enabled, \"0\" = disabled.",
                                "enum": [
                                  "0",
                                  "1"
                                ],
                                "example": "1"
                              },
                              "url": {
                                "type": "string",
                                "description": "Support ticket URL for this port order.",
                                "example": "https://desk.support.voicetel.com/conversation/2114"
                              },
                              "pin": {
                                "type": "string",
                                "description": "Port-out PIN for this order. Auto-generated at submission. Required by the losing carrier to authorize the transfer.",
                                "example": "2722"
                              }
                            }
                          }
                        }
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Port Status",
        "operationId": "portStatus",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2.1/iNumbering/portStatus/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portStatus"
              }
            }
          }
        },
        "tags": [
          "iNumbering"
        ]
      }
    },
    "/v2/iNumbering/portInAvailability/": {
      "post": {
        "description": "Check number portability. All TNs must be verified here before submitting a portInOrder \u2014 returns 412 if any TN was not pre-verified. The portability result is cached for one hour; re-checking within that window returns the cached result.",
        "responses": {
          "400": {
            "description": "Bad request response from port in availability."
          },
          "409": {
            "description": "Invalid TN submitted | Invalid Input Parameters"
          },
          "410": {
            "description": "DB Error response from port in availability."
          },
          "200": {
            "description": "Portability check successful. notPortableReason is omitted when isPortable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "serviceAvailable": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "serviceProviderName": {
                            "type": "string",
                            "description": "Current service provider for the TN.",
                            "example": "Service Provider Name"
                          },
                          "telephoneNumber": {
                            "type": "string",
                            "example": "3129578428"
                          },
                          "isPortable": {
                            "type": "string",
                            "example": "true"
                          },
                          "notPortableReason": {
                            "description": "Only present when isPortable is false",
                            "type": "string"
                          }
                        }
                      },
                      "example": []
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          },
          "430": {
            "description": "No Result Found response from port in availability."
          },
          "414": {
            "description": "Fields Are Required | Wireless not allowed for Customer"
          },
          "401": {
            "description": "Unauthorized response from port in availability."
          },
          "431": {
            "description": "Unable to complete the request (POST /v2/iNumbering/portInAvailability/)."
          },
          "411": {
            "description": "Unknown Error response from port in availability."
          }
        },
        "summary": "Portability Check",
        "operationId": "portInAvailability",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/portInAvailability/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portInAvailability"
              }
            }
          }
        },
        "tags": [
          "iNumbering"
        ]
      }
    },
    "/v2/iNumbering/portInOrder/": {
      "post": {
        "description": "Submit a port-in order directly. ADMIN ONLY \u2014 customer port submissions must use POST /v2.2/account/port which routes through the LNP review queue. All TNs must first be verified via portInAvailability (returns 412 if not). authDate is auto-set. The configured per-TN port fee is deducted from the account balance.",
        "responses": {
          "400": {
            "description": "Bad request response from port in order."
          },
          "409": {
            "description": "Conflict response from port in order."
          },
          "410": {
            "description": "DB Error response from port in order."
          },
          "412": {
            "description": "Pre-verification required \u2014 at least one submitted TN was not verified via portInAvailability first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Please verify portability with portInAvailability API on all submitted tnItem(s)"
                    },
                    "status": {
                      "type": "string",
                      "example": "Error"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "412"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Port order submitted successfully. The configured per-TN port fee is deducted from the account balance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "orderId": {
                      "type": "integer",
                      "example": 102644
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Fields Are Required response from port in order."
          },
          "401": {
            "description": "Unauthorized response from port in order."
          },
          "431": {
            "description": "Unable to complete the request (POST /v2/iNumbering/portInOrder/)."
          },
          "430": {
            "description": "No Result Found response from port in order."
          },
          "403": {
            "description": "Forbidden - administrator access required. Customers must use POST /v2.2/account/port instead."
          }
        },
        "summary": "Submit Port",
        "operationId": "portInOrder",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/portInOrder/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portInOrder"
              }
            }
          }
        },
        "tags": [
          "iNumbering"
        ]
      }
    },
    "/v2/iNumbering/portOutPinUpdate/": {
      "post": {
        "description": "Update port-out PINs for phone numbers. portOutPin is optional for each tnItem \u2014 if omitted, a random 4-digit PIN (1000-9999) is auto-generated. Only TNs belonging to the authenticated account are processed.",
        "responses": {
          "409": {
            "description": "Conflict response from port out pin update."
          },
          "400": {
            "description": "Bad input / missing tn."
          },
          "401": {
            "description": "Unauthorized response from port out pin update."
          },
          "200": {
            "description": "Success. The portOutPin object is echoed back with auto-generated PINs filled in for any tnItem that did not include one. Only TNs belonging to the authenticated account are included.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "portOutPin": {
                      "description": "Echo of the submitted portOutPin object with auto-generated PINs filled in",
                      "type": "object",
                      "properties": {
                        "tnList": {
                          "type": "object",
                          "properties": {
                            "tnItem": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "portOutPin": {
                                    "description": "Auto-generated 4-digit PIN if not provided in request",
                                    "type": "string",
                                    "example": "4291"
                                  },
                                  "tn": {
                                    "type": "integer",
                                    "example": 2015551234
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "example": {
                        "tnList": {
                          "tnItem": [
                            {
                              "tn": 2012548000,
                              "portOutPin": "4287"
                            }
                          ]
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                },
                "example": {
                  "statusCode": "200",
                  "portOutPin": {
                    "tnList": {
                      "tnItem": [
                        {
                          "tn": 2012548000,
                          "portOutPin": "4287"
                        }
                      ]
                    }
                  },
                  "status": "Success"
                }
              }
            }
          }
        },
        "summary": "Update Pin Numbers",
        "operationId": "portOutPinUpdate",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/portOutPinUpdate/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portOutPin"
              }
            }
          }
        },
        "tags": [
          "iNumbering"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "iNumbering",
      "description": "Carrier port-in/port-out operations."
    }
  ]
}