{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.voicetel.com"
    }
  ],
  "info": {
    "description": "iNumbering Porting",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "v2.1.5",
    "title": "iNumbering Porting API",
    "contact": {
      "email": "support@voicetel.com"
    }
  },
  "components": {
    "securitySchemes": {
      "apikey": {
        "scheme": "bearer",
        "type": "http"
      }
    },
    "schemas": {
      "portInOrder_tnItem_endUser": {
        "type": "object",
        "required": [
          "city",
          "name",
          "postalCode",
          "state",
          "streetName",
          "streetNum",
          "streetType",
          "typeOfService"
        ],
        "properties": {
          "state": {
            "type": "string",
            "example": "End user address state"
          },
          "postalCode": {
            "type": "string",
            "example": "End user address zip code"
          },
          "locationType2": {
            "type": "string",
            "example": "End user address location type 2 (e.g. Flr, Ste)"
          },
          "streetPostDir": {
            "type": "string",
            "example": "End user address street direction ending (e.g. SW)"
          },
          "typeOfService": {
            "type": "string",
            "example": "Acceptable values are B and R (business and residence)"
          },
          "city": {
            "type": "string",
            "example": "End user address city"
          },
          "streetName": {
            "type": "string",
            "example": "End user address street name"
          },
          "streetPreDir": {
            "type": "string",
            "example": "End user address street direction prefix (e.g. N)"
          },
          "name": {
            "type": "string",
            "example": "End user name"
          },
          "locationValue1": {
            "type": "string",
            "example": "End user address location value 1 (e.g. 1, 2B)"
          },
          "locationType3": {
            "type": "string",
            "example": "End user address location type 3 (e.g. Flr, Ste)"
          },
          "locationValue2": {
            "type": "string",
            "example": "End user address location value 2 (e.g. 1, 900)"
          },
          "locationType1": {
            "type": "string",
            "example": "End user address location type 1 (e.g. Bld, Apt)"
          },
          "streetNum": {
            "type": "string",
            "example": "End user address street number (e.g. 100, 550)"
          },
          "streetType": {
            "type": "string",
            "example": "End user address street type (e.g. St, Ave)"
          },
          "locationValue3": {
            "type": "string",
            "example": "End user address location value 3 (e.g. 1, 900)"
          }
        }
      },
      "portInAvailability": {
        "type": "object",
        "required": [
          "apikey",
          "tnList"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "tnList": {
            "$ref": "#/components/schemas/tnList"
          }
        }
      },
      "portStatus": {
        "type": "object",
        "required": [
          "apikey"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          }
        }
      },
      "portInOrder": {
        "type": "object",
        "required": [
          "apikey",
          "portInOrder"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "portInOrder": {
            "$ref": "#/components/schemas/portInOrder_portInOrder"
          }
        }
      },
      "tn": {
        "type": "object",
        "required": [
          "tn"
        ],
        "properties": {
          "tn": {
            "type": "integer",
            "example": 2015551234
          }
        }
      },
      "portInOrder_tnItem_tnFeature_callerId": {
        "type": "object",
        "properties": {
          "callingName": {
            "type": "string",
            "example": "Caller ID display name; 15 characters or fewer"
          }
        }
      },
      "portOutPin_portOutPin": {
        "type": "object",
        "required": [
          "tnList"
        ],
        "properties": {
          "tnList": {
            "$ref": "#/components/schemas/tnList"
          }
        }
      },
      "portOutPin": {
        "type": "object",
        "required": [
          "apikey",
          "portOutPin"
        ],
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "portOutPin": {
            "$ref": "#/components/schemas/portOutPin_portOutPin"
          }
        }
      },
      "portInOrder_portInOrder": {
        "type": "object",
        "required": [
          "desiredDueDate",
          "tnList"
        ],
        "properties": {
          "desiredDueDate": {
            "format": "date",
            "type": "string",
            "example": "1970-01-01"
          },
          "tnList": {
            "$ref": "#/components/schemas/portInOrder_portInOrder_tnList"
          },
          "resubmit": {
            "description": "Optional. Set to 0 to flag this as a resubmission and skip the $5.00/TN charge. Any other value (or omitting this field) treats the order as new and deducts $5.00 per TN from the account balance.",
            "type": "integer",
            "example": 0
          }
        }
      },
      "portInOrder_tnItem": {
        "type": "object",
        "required": [
          "accountNum",
          "atn",
          "authName",
          "endUser",
          "tn"
        ],
        "properties": {
          "tnFeature": {
            "$ref": "#/components/schemas/portInOrder_tnItem_tnFeature"
          },
          "tn": {
            "type": "string",
            "example": "Ten-digit telephone number"
          },
          "authName": {
            "type": "string",
            "example": "Name of port-in authorizer"
          },
          "authDate": {
            "format": "date",
            "description": "Auto-set to 2 days ago; callers do not need to provide this field.",
            "example": "1970-01-01"
          },
          "accountPin": {
            "type": "string",
            "example": "Alphanumeric account PIN or password"
          },
          "accountNum": {
            "type": "string",
            "example": "Account number"
          },
          "endUser": {
            "$ref": "#/components/schemas/portInOrder_tnItem_endUser"
          },
          "atn": {
            "type": "string",
            "example": "Account telephone number"
          }
        }
      },
      "portInOrder_tnItem_tnFeature": {
        "type": "object",
        "properties": {
          "callerId": {
            "$ref": "#/components/schemas/portInOrder_tnItem_tnFeature_callerId"
          }
        }
      },
      "tnList": {
        "type": "object",
        "required": [
          "tnItem"
        ],
        "properties": {
          "tnItem": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tn"
            },
            "required": [
              "tn"
            ]
          }
        }
      },
      "portInOrder_portInOrder_tnList": {
        "type": "object",
        "required": [
          "tnItem"
        ],
        "properties": {
          "tnItem": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/portInOrder_tnItem"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v2.1/iNumbering/portStatus/": {
      "post": {
        "description": "Get port status summary for the authenticated account, ordered by timestamp descending.",
        "responses": {
          "409": {
            "description": "CouchDB error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exception": {
                      "type": "string",
                      "example": "<CouchDB error message>"
                    },
                    "status": {
                      "type": "string",
                      "example": "Error"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "409"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "portStatusSummary": {
                      "description": "Port status records from CouchDB, ordered by timestamp descending",
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Port Status",
        "operationId": "portStatus",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2.1/iNumbering/portStatus/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portStatus"
              }
            }
          }
        }
      }
    },
    "/v2/iNumbering/portOutPinUpdate/": {
      "post": {
        "description": "Update port-out PINs for phone numbers. If portOutPin is omitted for any tnItem, a random 4-digit PIN (1000-9999) is auto-generated. Only TNs belonging to the authenticated account are processed.",
        "responses": {
          "409": {
            "description": "Conflict"
          },
          "400": {
            "description": "Bad input / missing tn."
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Success. The portOutPin object is echoed back with auto-generated PINs filled in for any tnItem that did not include one. Only TNs belonging to the authenticated account are included.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "portOutPin": {
                      "description": "Echo of the submitted portOutPin object with auto-generated PINs filled in",
                      "type": "object",
                      "properties": {
                        "tnList": {
                          "type": "object",
                          "properties": {
                            "tnItem": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "portOutPin": {
                                    "description": "Auto-generated 4-digit PIN if not provided in request",
                                    "type": "string",
                                    "example": "4291"
                                  },
                                  "tn": {
                                    "type": "integer",
                                    "example": 2015551234
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Update Pin Numbers",
        "operationId": "portOutPinUpdate",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/portOutPinUpdate/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portOutPin"
              }
            }
          }
        }
      }
    },
    "/v2/iNumbering/portInAvailability/": {
      "post": {
        "description": "Check number portability. All TNs must be verified here before submitting a portInOrder \u2014 returns 412 if any TN was not pre-verified.",
        "responses": {
          "400": {
            "description": "Bad input"
          },
          "409": {
            "description": "Invalid TN submitted | Invalid Input Parameters"
          },
          "410": {
            "description": "DB Error"
          },
          "200": {
            "description": "Portability check successful. notPortableReason is omitted when isPortable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "serviceAvailable": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "serviceProviderName": {
                            "type": "string",
                            "example": "Level 3- SVR:8824/1"
                          },
                          "telephoneNumber": {
                            "type": "string",
                            "example": "3129578428"
                          },
                          "isPortable": {
                            "type": "string",
                            "example": "true"
                          },
                          "notPortableReason": {
                            "description": "Only present when isPortable is false",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          },
          "430": {
            "description": "No Result Found"
          },
          "414": {
            "description": "Fields Are Required | Wireless not allowed for Customer"
          },
          "401": {
            "description": "Unauthorized"
          },
          "431": {
            "description": "Unable to complete the request"
          },
          "411": {
            "description": "Unknown Error"
          }
        },
        "summary": "Portability Check",
        "operationId": "portInAvailability",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/portInAvailability/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portInAvailability"
              }
            }
          }
        }
      }
    },
    "/v2/iNumbering/portInOrder/": {
      "post": {
        "description": "Submit a port-in order. All TNs must first be verified via portInAvailability \u2014 returns 412 if any TN was not pre-verified. authDate is auto-set. On success, $5.00 per TN is deducted from the account balance unless resubmit is set to 0.",
        "responses": {
          "400": {
            "description": "Bad input"
          },
          "409": {
            "description": "Conflict"
          },
          "410": {
            "description": "DB Error"
          },
          "412": {
            "description": "Pre-verification required \u2014 at least one submitted TN was not verified via portInAvailability first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Please verify portability with portInAvailability API on all submitted tnItem(s)"
                    },
                    "status": {
                      "type": "string",
                      "example": "Error"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "412"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Port order submitted successfully. $5.00 per TN is deducted from the account balance unless resubmit is 0.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "orderId": {
                      "type": "integer",
                      "example": 102644
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Fields Are Required"
          },
          "401": {
            "description": "Unauthorized"
          },
          "431": {
            "description": "Unable to complete the request"
          },
          "430": {
            "description": "No Result Found"
          }
        },
        "summary": "Submit Port",
        "operationId": "portInOrder",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/portInOrder/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portInOrder"
              }
            }
          }
        }
      }
    }
  }
}