{
  "openapi": "3.0.0",
  "info": {
    "title": "iNumbering Porting API",
    "description": "iNumbering Porting",
    "contact": {
      "email": "support@voicetel.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "v2-porting"
  },
  "servers": [
    {
      "url": "https://api.voicetel.com"
    }
  ],
  "paths": {
    "/v2/iNumbering/portInAvailability/": {
      "post": {
        "summary": "Portability Check",
        "description": "Check portability on tandem.",
        "operationId": "portInAvailability",
        "requestBody": {
          "description": "/v2/iNumbering/portInAvailability/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portInAvailability"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/v2/iNumbering/portInOrder/": {
      "post": {
        "summary": "Submit Port",
        "description": "Submit port order to tandem.",
        "operationId": "portInOrder",
        "requestBody": {
          "description": "/v2/iNumbering/portInOrder/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portInOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/v2/iNumbering/portOutPinUpdate/": {
      "post": {
        "summary": "Update Pin Numbers",
        "description": "Update Pin Numbers for phone numbers.",
        "operationId": "portOutPinUpdate",
        "requestBody": {
          "description": "/v2/iNumbering/portOutPinUpdate/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portOutPin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/v2.1/iNumbering/portStatus/": {
      "post": {
        "summary": "Port Status",
        "description": "Get port status summary",
        "operationId": "portStatus",
        "requestBody": {
          "description": "/v2.1/iNumbering/portStatus/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portStatus"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apikey": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "portInOrder": {
        "required": [
          "apikey",
          "portInOrder"
        ],
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "portInOrder": {
            "$ref": "#/components/schemas/portInOrder_portInOrder"
          }
        }
      },
      "portInOrder_tnItem": {
        "required": [
          "accountNum",
          "atn",
          "authDate",
          "authName",
          "endUser",
          "tn"
        ],
        "type": "object",
        "properties": {
          "tn": {
            "type": "string",
            "example": "Ten-digit telephone number"
          },
          "accountNum": {
            "type": "string",
            "example": "Account number"
          },
          "atn": {
            "type": "string",
            "example": "Account telephone number"
          },
          "accountPin": {
            "type": "string",
            "example": "Alphanumeric account PIN or password"
          },
          "authName": {
            "type": "string",
            "example": "Name of port-in authorizer"
          },
          "authDate": {
            "format": "date",
            "example": "1970-01-01"
          },
          "endUser": {
            "$ref": "#/components/schemas/portInOrder_tnItem_endUser"
          },
          "tnFeature": {
            "$ref": "#/components/schemas/portInOrder_tnItem_tnFeature"
          }
        }
      },
      "portInAvailability": {
        "required": [
          "apikey",
          "tnList"
        ],
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "tnList": {
            "$ref": "#/components/schemas/tnList"
          }
        }
      },
      "portOutPin": {
        "required": [
          "apikey",
          "portOutPin"
        ],
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          },
          "portOutPin": {
            "$ref": "#/components/schemas/portOutPin_portOutPin"
          }
        }
      },
      "tnList": {
        "required": [
          "tnItem"
        ],
        "type": "object",
        "properties": {
          "tnItem": {
            "required": [
              "tn"
            ],
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tn"
            }
          }
        }
      },
      "tn": {
        "required": [
          "tn"
        ],
        "type": "object",
        "properties": {
          "tn": {
            "type": "integer",
            "example": 2015551234
          }
        }
      },
      "portStatus": {
        "required": [
          "apikey"
        ],
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string",
            "example": "Your API Key"
          }
        }
      },
      "portInOrder_portInOrder_tnList": {
        "required": [
          "tnItem"
        ],
        "type": "object",
        "properties": {
          "tnItem": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/portInOrder_tnItem"
            }
          }
        }
      },
      "portInOrder_portInOrder": {
        "required": [
          "desiredDueDate",
          "tnList"
        ],
        "type": "object",
        "properties": {
          "desiredDueDate": {
            "type": "string",
            "format": "date",
            "example": "1970-01-01"
          },
          "tnList": {
            "$ref": "#/components/schemas/portInOrder_portInOrder_tnList"
          }
        }
      },
      "portInOrder_tnItem_endUser": {
        "required": [
          "city",
          "name",
          "postalCode",
          "state",
          "streetName",
          "streetNum",
          "streetType",
          "typeOfService"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "End user name"
          },
          "streetNum": {
            "type": "string",
            "example": "End user address street number (e.g. 100, 550)"
          },
          "streetPreDir": {
            "type": "string",
            "example": "End user address street direction prefix (e.g. N)"
          },
          "streetName": {
            "type": "string",
            "example": "End user address street name"
          },
          "streetType": {
            "type": "string",
            "example": "End user address street type (e.g. St, Ave)"
          },
          "streetPostDir": {
            "type": "string",
            "example": "End user address street direction ending (e.g. SW)"
          },
          "locationType1": {
            "type": "string",
            "example": "End user address location type 1 (e.g. Bld, Apt)"
          },
          "locationValue1": {
            "type": "string",
            "example": "End user address location value 1 (e.g. 1, 2B)"
          },
          "locationType2": {
            "type": "string",
            "example": "End user address location type 2 (e.g. Flr, Ste)"
          },
          "locationValue2": {
            "type": "string",
            "example": "End user address location value 2 (e.g. 1, 900)"
          },
          "locationType3": {
            "type": "string",
            "example": "End user address location type 3 (e.g. Flr, Ste)"
          },
          "locationValue3": {
            "type": "string",
            "example": "End user address location value 3 (e.g. 1, 900)"
          },
          "city": {
            "type": "string",
            "example": "End user address city"
          },
          "state": {
            "type": "string",
            "example": "End user address state"
          },
          "postalCode": {
            "type": "string",
            "example": "End user address zip code"
          },
          "typeOfService": {
            "type": "string",
            "example": "Acceptable values are B and R (business and residence)"
          }
        }
      },
      "portInOrder_tnItem_tnFeature_callerId": {
        "type": "object",
        "properties": {
          "callingName": {
            "type": "string",
            "example": "Caller ID display name; 15 characters or fewer"
          }
        }
      },
      "portInOrder_tnItem_tnFeature": {
        "type": "object",
        "properties": {
          "callerId": {
            "$ref": "#/components/schemas/portInOrder_tnItem_tnFeature_callerId"
          }
        }
      },
      "portOutPin_portOutPin": {
        "required": [
          "tnList"
        ],
        "type": "object",
        "properties": {
          "tnList": {
            "$ref": "#/components/schemas/tnList"
          }
        }
      }
    },
    "securitySchemes": {
      "apikey": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}