{
  "openapi": "3.0.0",
  "info": {
    "description": "iNumbering Porting",
    "contact": {
      "email": "support@voicetel.com"
    },
    "title": "iNumbering Porting API",
    "version": "v2.1.5",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.voicetel.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "apikey": {
        "scheme": "bearer",
        "type": "http"
      }
    },
    "schemas": {
      "portInOrder": {
        "properties": {
          "apikey": {
            "example": "Your API Key",
            "type": "string"
          },
          "portInOrder": {
            "$ref": "#/components/schemas/portInOrder_portInOrder"
          }
        },
        "required": [
          "apikey",
          "portInOrder"
        ],
        "type": "object"
      },
      "portInOrder_tnItem_tnFeature": {
        "properties": {
          "callerId": {
            "$ref": "#/components/schemas/portInOrder_tnItem_tnFeature_callerId"
          }
        },
        "type": "object"
      },
      "tnList": {
        "properties": {
          "tnItem": {
            "required": [
              "tn"
            ],
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tn"
            }
          }
        },
        "required": [
          "tnItem"
        ],
        "type": "object"
      },
      "portOutPin": {
        "properties": {
          "apikey": {
            "example": "Your API Key",
            "type": "string"
          },
          "portOutPin": {
            "$ref": "#/components/schemas/portOutPin_portOutPin"
          }
        },
        "required": [
          "apikey",
          "portOutPin"
        ],
        "type": "object"
      },
      "portStatus": {
        "properties": {
          "apikey": {
            "example": "Your API Key",
            "type": "string"
          }
        },
        "required": [
          "apikey"
        ],
        "type": "object"
      },
      "portInOrder_tnItem": {
        "properties": {
          "tnFeature": {
            "$ref": "#/components/schemas/portInOrder_tnItem_tnFeature"
          },
          "accountNum": {
            "example": "Account number",
            "type": "string"
          },
          "endUser": {
            "$ref": "#/components/schemas/portInOrder_tnItem_endUser"
          },
          "atn": {
            "example": "Account telephone number",
            "type": "string"
          },
          "tn": {
            "example": "Ten-digit telephone number",
            "type": "string"
          },
          "accountPin": {
            "example": "Alphanumeric account PIN or password",
            "type": "string"
          },
          "authDate": {
            "example": "1970-01-01",
            "format": "date",
            "description": "Auto-set by the proxy to 2 days ago; callers do not need to provide this field."
          },
          "authName": {
            "example": "Name of port-in authorizer",
            "type": "string"
          }
        },
        "required": [
          "accountNum",
          "atn",
          "authName",
          "endUser",
          "tn"
        ],
        "type": "object"
      },
      "portInOrder_tnItem_endUser": {
        "properties": {
          "streetName": {
            "example": "End user address street name",
            "type": "string"
          },
          "city": {
            "example": "End user address city",
            "type": "string"
          },
          "name": {
            "example": "End user name",
            "type": "string"
          },
          "locationValue1": {
            "example": "End user address location value 1 (e.g. 1, 2B)",
            "type": "string"
          },
          "locationType1": {
            "example": "End user address location type 1 (e.g. Bld, Apt)",
            "type": "string"
          },
          "typeOfService": {
            "example": "Acceptable values are B and R (business and residence)",
            "type": "string"
          },
          "state": {
            "example": "End user address state",
            "type": "string"
          },
          "streetNum": {
            "example": "End user address street number (e.g. 100, 550)",
            "type": "string"
          },
          "locationValue3": {
            "example": "End user address location value 3 (e.g. 1, 900)",
            "type": "string"
          },
          "postalCode": {
            "example": "End user address zip code",
            "type": "string"
          },
          "locationValue2": {
            "example": "End user address location value 2 (e.g. 1, 900)",
            "type": "string"
          },
          "streetPreDir": {
            "example": "End user address street direction prefix (e.g. N)",
            "type": "string"
          },
          "streetType": {
            "example": "End user address street type (e.g. St, Ave)",
            "type": "string"
          },
          "locationType2": {
            "example": "End user address location type 2 (e.g. Flr, Ste)",
            "type": "string"
          },
          "streetPostDir": {
            "example": "End user address street direction ending (e.g. SW)",
            "type": "string"
          },
          "locationType3": {
            "example": "End user address location type 3 (e.g. Flr, Ste)",
            "type": "string"
          }
        },
        "required": [
          "city",
          "name",
          "postalCode",
          "state",
          "streetName",
          "streetNum",
          "streetType",
          "typeOfService"
        ],
        "type": "object"
      },
      "portOutPin_portOutPin": {
        "properties": {
          "tnList": {
            "$ref": "#/components/schemas/tnList"
          }
        },
        "required": [
          "tnList"
        ],
        "type": "object"
      },
      "portInOrder_portInOrder_tnList": {
        "properties": {
          "tnItem": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/portInOrder_tnItem"
            }
          }
        },
        "required": [
          "tnItem"
        ],
        "type": "object"
      },
      "portInAvailability": {
        "properties": {
          "apikey": {
            "example": "Your API Key",
            "type": "string"
          },
          "tnList": {
            "$ref": "#/components/schemas/tnList"
          }
        },
        "required": [
          "apikey",
          "tnList"
        ],
        "type": "object"
      },
      "portInOrder_tnItem_tnFeature_callerId": {
        "properties": {
          "callingName": {
            "example": "Caller ID display name; 15 characters or fewer",
            "type": "string"
          }
        },
        "type": "object"
      },
      "portInOrder_portInOrder": {
        "properties": {
          "tnList": {
            "$ref": "#/components/schemas/portInOrder_portInOrder_tnList"
          },
          "desiredDueDate": {
            "example": "1970-01-01",
            "format": "date",
            "type": "string"
          },
          "resubmit": {
            "type": "integer",
            "description": "Optional. Set to 0 to flag this as a resubmission and skip the $5.00/TN charge. Any other value (or omitting this field) treats the order as new and deducts $5.00 per TN from the account balance.",
            "example": 0
          }
        },
        "required": [
          "desiredDueDate",
          "tnList"
        ],
        "type": "object"
      },
      "tn": {
        "properties": {
          "tn": {
            "example": 2015551234,
            "type": "integer"
          }
        },
        "required": [
          "tn"
        ],
        "type": "object"
      }
    }
  },
  "paths": {
    "/v2/iNumbering/portInAvailability/": {
      "post": {
        "summary": "Portability Check",
        "operationId": "portInAvailability",
        "description": "Check portability on tandem. Results are cached in Redis for 1 hour (keyed as lnp_{tn}). All TNs must be verified here before submitting a portInOrder — the portInOrder endpoint returns 412 if any TN was not pre-verified. The proxy post-hook strips localRoutingNumber and rateCenterTier from each serviceAvailable item and removes notPortableReason when isPortable is true.",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/portInAvailability/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portInAvailability"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Portability check successful. localRoutingNumber and rateCenterTier are stripped by the proxy post-hook. notPortableReason is omitted when isPortable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "serviceAvailable": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "telephoneNumber": {
                            "type": "string",
                            "example": "3129578428"
                          },
                          "isPortable": {
                            "type": "string",
                            "example": "true"
                          },
                          "serviceProviderName": {
                            "type": "string",
                            "example": "Level 3- SVR:8824/1"
                          },
                          "notPortableReason": {
                            "type": "string",
                            "description": "Only present when isPortable is false"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Invalid TN submitted | Invalid Input Parameters"
          },
          "410": {
            "description": "DB Error"
          },
          "411": {
            "description": "Unknown Error"
          },
          "414": {
            "description": "Fields Are Required | Wireless not allowed for Customer"
          },
          "430": {
            "description": "No Result Found"
          },
          "431": {
            "description": "Unable to complete the request"
          }
        }
      }
    },
    "/v2/iNumbering/portInOrder/": {
      "post": {
        "summary": "Submit Port",
        "operationId": "portInOrder",
        "description": "Submit port order to tandem. All TNs must first be verified via portInAvailability — the proxy returns 412 if any TN was not pre-verified. The proxy pre-hook auto-sets authDate to 2 days ago, portOutPin to the last 4 digits of the current timestamp, trunkGroup to \"orig\", and cnamDip to \"N\"; directoryListing and e911 tnFeatures are stripped before forwarding to IQ. On success, the proxy deducts $5.00 per TN from the account balance unless resubmit is set to 0.",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/portInOrder/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portInOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Port order submitted successfully. The proxy post-hook deducts $5.00 per TN from the account balance unless resubmit is 0.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderId": {
                      "type": "integer",
                      "example": 102644
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "status": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          },
          "410": {
            "description": "DB Error"
          },
          "412": {
            "description": "Pre-verification required — at least one submitted TN was not verified via portInAvailability first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "string",
                      "example": "412"
                    },
                    "status": {
                      "type": "string",
                      "example": "Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Please verify portability with portInAvailability API on all submitted tnItem(s)"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Fields Are Required"
          },
          "430": {
            "description": "No Result Found"
          },
          "431": {
            "description": "Unable to complete the request"
          }
        }
      }
    },
    "/v2/iNumbering/portOutPinUpdate/": {
      "post": {
        "summary": "Update Pin Numbers",
        "operationId": "portOutPinUpdate",
        "description": "Update port-out PINs for phone numbers. If portOutPin is omitted for any tnItem, the proxy auto-generates a random 4-digit PIN (1000-9999). Only TNs belonging to the authenticated account are processed; TNs not found on the account are silently skipped.",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2/iNumbering/portOutPinUpdate/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portOutPin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The proxy echoes back the portOutPin object from the request with auto-generated PINs filled in for any tnItem that did not include one. Only TNs belonging to the authenticated account are included in the response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "portOutPin": {
                      "type": "object",
                      "description": "Echo of the submitted portOutPin object with auto-generated PINs filled in",
                      "properties": {
                        "tnList": {
                          "type": "object",
                          "properties": {
                            "tnItem": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "tn": {
                                    "type": "integer",
                                    "example": 2015551234
                                  },
                                  "portOutPin": {
                                    "type": "string",
                                    "example": "4291",
                                    "description": "Auto-generated 4-digit PIN if not provided in request"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input / missing tn."
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/v2.1/iNumbering/portStatus/": {
      "post": {
        "summary": "Port Status",
        "operationId": "portStatus",
        "description": "Get port status summary. This endpoint does not proxy to IQ; it queries CouchDB directly and returns port status records for the authenticated account, ordered by timestamp descending.",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "description": "/v2.1/iNumbering/portStatus/",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/portStatus"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Records are sourced from CouchDB (not IQ) and ordered by timestamp descending.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "portStatusSummary": {
                      "type": "array",
                      "description": "Port status records from CouchDB, ordered by timestamp descending",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "CouchDB error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "string",
                      "example": "409"
                    },
                    "status": {
                      "type": "string",
                      "example": "Error"
                    },
                    "exception": {
                      "type": "string",
                      "example": "<CouchDB error message>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
