{
  "info": {
    "license": {
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html",
      "name": "Apache 2.0"
    },
    "termsOfService": "https://www.voicetel.com/tos",
    "description": "VoiceTel REST API. All resource identifiers are in the URL path. Authenticate every request with `Authorization: Bearer <apikey>`. To obtain your API key, POST `{\"username\": <id>, \"password\": \"<password>\"}` to /v2.2/account/api-key — this is the only endpoint that does not require an Authorization header. The response is `{\"status\":\"success\",\"data\":{\"apikey\":\"<32-hex-string>\"}}`. Re-fetch the API key after any password change. Rate-limited endpoints: account, account/recurring-charges, account/cdr, account/api-key — 6 requests per hour per IP.",
    "title": "VoiceTel API",
    "version": "v2.2.8",
    "contact": {
      "email": "support@voicetel.com"
    }
  },
  "servers": [
    {
      "url": "https://api.voicetel.com",
      "description": "VoiceTel API"
    }
  ],
  "openapi": "3.1.1",
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "bearerFormat": "VoiceTel API Key",
        "scheme": "bearer",
        "description": "32-character hexadecimal API key obtained by POSTing your username and password to /v2.2/account/api-key. Pass it as the Bearer token on every request. Re-fetch after any password change.",
        "type": "http"
      }
    },
    "schemas": {
      "lrnData2": {
        "example": {
          "ani": "2012548000",
          "lrn": {
            "rc": "example",
            "state": "NY",
            "local": "N",
            "lecType": "example",
            "jurisdiction": "INTERSTATE",
            "ocn": "9101",
            "city": "NEW YORK",
            "lata": "132",
            "lrn": "12125550000",
            "lec": "example"
          },
          "destination": "2015551234"
        },
        "required": [],
        "description": "Data payload for the lrn lookup operation.",
        "properties": {
          "ani": {
            "example": "2012548000",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "Ani.",
            "type": "string"
          },
          "lrn": {
            "$ref": "#/components/schemas/lrnData"
          },
          "destination": {
            "example": "2015551234",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "Destination.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numbersListResponse": {
        "example": {
          "data": {
            "numbers": [
              {
                "route": 1000,
                "cnam": true,
                "forwardTo": "example",
                "gateway": "203.0.113.10:5060",
                "smsEnabled": true,
                "translated": "2015551234",
                "forward": true,
                "carrier": 0,
                "number": "2015551234",
                "faxEnabled": true
              }
            ]
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the numbers List operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/numbersListData",
            "description": "Payload of the numbers list response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the numbers list response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "orderCreateData": {
        "example": {
          "amountCharged": 0.5,
          "failed": [
            {
              "reason": "example",
              "number": "2012548000"
            }
          ],
          "numbersOrdered": [
            "example"
          ],
          "orderId": "1747345200"
        },
        "required": [],
        "description": "Data payload for the order create operation.",
        "properties": {
          "amountCharged": {
            "example": 0.5,
            "description": "USD deducted from accounts.cash.",
            "type": "number"
          },
          "failed": {
            "example": [
              {
                "reason": "example",
                "number": "2012548000"
              }
            ],
            "items": {
              "properties": {
                "reason": {
                  "example": "example",
                  "description": "Reason (orderCreateData.reason).",
                  "type": "string"
                },
                "number": {
                  "example": "2012548000",
                  "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
                  "description": "Telephone number (ten digits) (in orderCreateData).",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "description": "Failed (in orderCreateData).",
            "type": "array"
          },
          "numbersOrdered": {
            "example": [
              "example"
            ],
            "items": {
              "type": "string"
            },
            "description": "Numbers inserted into the account on success.",
            "type": "array"
          },
          "orderId": {
            "example": "1747345200",
            "description": "Order id.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "gatewayResponse": {
        "example": {
          "data": {
            "id": 1000,
            "system": true,
            "gateway": "203.0.113.10:5060",
            "prefix": "9",
            "limit": 23
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the gateway operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/gatewayEntry",
            "description": "Payload of the gateway response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the gateway response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numberAddData": {
        "example": {
          "route": 0,
          "number": "2012548000"
        },
        "required": [],
        "description": "Data payload for the number add operation.",
        "properties": {
          "route": {
            "example": 0,
            "description": "Gateway id the number is currently routed to (in numberAddData).",
            "type": "integer"
          },
          "number": {
            "example": "2012548000",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "Telephone number (ten digits) (in numberAddData).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "portOutPinUpdateResponse": {
        "example": {
          "data": {
            "portOutPin": "4287",
            "number": "2012548000"
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Confirmation that the port-out PIN was updated on the network.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/portOutPinUpdateData",
            "description": "Payload of the port out pin update response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the port out pin update response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountPaymentsResponse": {
        "example": {
          "data": {
            "payments": [
              {
                "transactionId": "2N045992R140725E3",
                "date": "2024-09-30T12:52:59+00:00",
                "payerEmail": "customer@example.com",
                "status": "Completed",
                "amount": 25.0
              }
            ]
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the account Payments operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/accountPaymentsData",
            "description": "Payload of the account payments response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the account payments response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "errorResponse": {
        "example": {
          "error": {
            "code": 400,
            "message": "Field Required: number"
          },
          "status": "error"
        },
        "required": [
          "status",
          "error"
        ],
        "description": "Response wrapper for the error operation.",
        "properties": {
          "error": {
            "example": {
              "code": 400,
              "message": "Field Required: number"
            },
            "required": [
              "code",
              "message"
            ],
            "description": "Error envelope for the error response operation.",
            "properties": {
              "code": {
                "example": 400,
                "description": "Code (in errorResponse).",
                "type": "integer"
              },
              "message": {
                "example": "Field Required: number",
                "description": "Free-form message text (in errorResponse).",
                "type": "string"
              }
            },
            "type": "object"
          },
          "status": {
            "example": "error",
            "enum": [
              "error"
            ],
            "description": "Outcome of the error response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numberCnamData": {
        "example": {
          "cnam": true,
          "number": "2012548000"
        },
        "required": [],
        "description": "Data payload for the number cnam operation.",
        "properties": {
          "cnam": {
            "example": true,
            "description": "Whether inbound CNAM lookup is enabled for the number (in numberCnamData).",
            "type": "boolean"
          },
          "number": {
            "example": "2012548000",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "Telephone number (ten digits) (in numberCnamData).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountCdrData": {
        "example": {
          "end": 1747258800,
          "cdr": [
            {
              "value": {
                "dur": "40",
                "dst": "8008786160",
                "ba": "0.017500",
                "nr": "0.025",
                "cn": "TOLL%20FREE%20CALL",
                "ip": "104.225.13.77",
                "cid": "8666326621"
              },
              "key": [
                "example",
                "example_2"
              ],
              "id": "f2ce9c3091697619f27f7e4280bf2747"
            }
          ],
          "start": 1747345200
        },
        "required": [],
        "description": "Data payload for the account cdr operation.",
        "properties": {
          "end": {
            "example": 1747258800,
            "description": "Echo of the `end` query parameter (Unix seconds — descending range end).",
            "type": "integer"
          },
          "cdr": {
            "example": [
              {
                "value": {
                  "dur": "40",
                  "dst": "8008786160",
                  "ba": "0.017500",
                  "nr": "0.025",
                  "cn": "TOLL%20FREE%20CALL",
                  "ip": "104.225.13.77",
                  "cid": "8666326621"
                },
                "key": [
                  "example",
                  "example_2"
                ],
                "id": "f2ce9c3091697619f27f7e4280bf2747"
              }
            ],
            "items": {
              "required": [
                "id",
                "key",
                "value"
              ],
              "properties": {
                "value": {
                  "example": {
                    "dur": "40",
                    "dst": "8008786160",
                    "ba": "0.017500",
                    "nr": "0.025",
                    "cn": "TOLL%20FREE%20CALL",
                    "ip": "104.225.13.77",
                    "cid": "8666326621"
                  },
                  "properties": {
                    "dur": {
                      "example": "40",
                      "description": "Billed call duration in seconds.",
                      "type": "string"
                    },
                    "dst": {
                      "example": "8008786160",
                      "description": "Destination (called party) — ten-digit telephone number.",
                      "type": "string"
                    },
                    "ba": {
                      "example": "0.017500",
                      "description": "Billed amount in dollars. Equals roughly dur × nr / 60.",
                      "type": "string"
                    },
                    "nr": {
                      "example": "0.025",
                      "description": "Nibble rate (dollars per minute) applied to this call.",
                      "type": "string"
                    },
                    "cn": {
                      "example": "TOLL%20FREE%20CALL",
                      "description": "URL-encoded display name resolved by CNAM at call time. URL-decode before showing to users.",
                      "type": "string"
                    },
                    "ip": {
                      "example": "104.225.13.77",
                      "description": "IPv4 address that handled the call leg.",
                      "type": "string"
                    },
                    "cid": {
                      "example": "8666326621",
                      "description": "Caller ID (calling party) — ten-digit telephone number.",
                      "type": "string"
                    }
                  },
                  "description": "Per-call billing summary.",
                  "type": "object"
                },
                "key": {
                  "maxItems": 2,
                  "description": "Composite range key — [accountUsername, startEpochUnixSeconds]. Both are strings as emitted by the record store.",
                  "type": "array",
                  "example": [
                    "example",
                    "example_2"
                  ],
                  "minItems": 2,
                  "items": {
                    "type": "string"
                  }
                },
                "id": {
                  "example": "f2ce9c3091697619f27f7e4280bf2747",
                  "description": "Stable record identifier for the call.",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "description": "Newest-first call records that fell within the requested start/end range.",
            "type": "array"
          },
          "start": {
            "example": 1747345200,
            "description": "Echo of the `start` query parameter (Unix seconds — descending range start; newer than `end`).",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "numbersMessagingListResponse": {
        "example": {
          "data": {
            "numbers": [
              {
                "carrier": 16,
                "onAccount": true,
                "routeIn": 0,
                "network": "A",
                "resource": "https://example.com/sms",
                "number": "9175803800",
                "enabled": false,
                "campaign": {
                  "upstreamCnpId": "SFL9UTQ",
                  "id": "CH5K5IZ",
                  "network": "A",
                  "status": "ACTIVE"
                }
              }
            ]
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Wrapper for bulk number-messaging state.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/numbersMessagingListData",
            "description": "Payload of the numbers messaging list response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the numbers messaging list response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "e911AllResponse": {
        "example": {
          "data": {
            "records": [
              {
                "state": "NJ",
                "address2": "STE 200",
                "city": "HACKENSACK",
                "callername": "ACME INC",
                "zip": "07601",
                "dn": "12015551234",
                "address1": "411 HACKENSACK AVENUE"
              }
            ]
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the e 911 All operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/e911AllData",
            "description": "Payload of the e911 all response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the e911 all response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ticketUpdateResponse": {
        "example": {
          "data": {
            "id": 1001,
            "status": "success"
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the ticket Update operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ticketUpdateData",
            "description": "Payload of the ticket update response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the ticket update response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numberLidbRequest": {
        "example": {
          "customerOrderReference": "example",
          "cnam": "ACME CORP"
        },
        "required": [
          "cnam"
        ],
        "description": "Request body for the number Lidb operation.",
        "properties": {
          "customerOrderReference": {
            "example": "example",
            "description": "Optional order reference. Auto-generated if omitted.",
            "type": "string"
          },
          "cnam": {
            "example": "ACME CORP",
            "description": "Outbound caller name. Max 15 alphanumeric characters.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "portAvailabilityResponse": {
        "example": {
          "data": {
            "reason": "example",
            "losingCarrier": "example",
            "number": "2017301000",
            "portable": true
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Portability check result for one number.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/portAvailabilityData",
            "description": "Payload of the port availability response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the port availability response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "e911AddressRequest": {
        "example": {
          "state": "NJ",
          "address2": "STE 200",
          "city": "HACKENSACK",
          "address1": "411 HACKENSACK AVENUE",
          "zip": "07601"
        },
        "required": [
          "address1",
          "city",
          "state",
          "zip"
        ],
        "description": "Request body for the e 911 Address operation.",
        "properties": {
          "state": {
            "example": "NJ",
            "description": "Two-letter US state code (in e911AddressRequest).",
            "type": "string"
          },
          "address2": {
            "example": "STE 200",
            "description": "Street address line 2 (apartment, suite, floor) — may be empty.",
            "type": "string"
          },
          "city": {
            "example": "HACKENSACK",
            "description": "City name (in e911AddressRequest).",
            "type": "string"
          },
          "address1": {
            "example": "411 HACKENSACK AVENUE",
            "description": "Street address line 1 (in e911AddressRequest).",
            "type": "string"
          },
          "zip": {
            "example": "07601",
            "description": "Postal code (in e911AddressRequest).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ticketReplyData": {
        "example": {
          "message": "Reply added"
        },
        "required": [],
        "description": "Data payload for the ticket reply operation.",
        "properties": {
          "message": {
            "example": "Reply added",
            "enum": [
              "Reply added"
            ],
            "description": "Free-form message text (in ticketReplyData).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "paymentEntry": {
        "example": {
          "transactionId": "2N045992R140725E3",
          "date": "2024-09-30T12:52:59+00:00",
          "payerEmail": "customer@example.com",
          "status": "Completed",
          "amount": 25.0
        },
        "required": [
          "amount",
          "date",
          "status"
        ],
        "description": "A single payment row.",
        "properties": {
          "transactionId": {
            "example": "2N045992R140725E3",
            "description": "PayPal transaction ID.",
            "type": "string"
          },
          "date": {
            "example": "2024-09-30T12:52:59+00:00",
            "format": "date-time",
            "description": "Date and time the payment was received.",
            "type": "string"
          },
          "payerEmail": {
            "example": "customer@example.com",
            "description": "PayPal email address of the payer.",
            "type": "string"
          },
          "status": {
            "example": "Completed",
            "enum": [
              "Completed",
              "Pending",
              "Reversed",
              "Refunded",
              "Failed",
              "Denied",
              "Canceled_Reversal"
            ],
            "description": "Outcome of the payment entry operation.",
            "type": "string"
          },
          "amount": {
            "example": 25.0,
            "format": "float",
            "description": "Payment amount in USD.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "messagingBrandCreateData": {
        "example": {
          "result": {
            "statusCode": "200",
            "status": "Success"
          }
        },
        "required": [],
        "description": "Data payload for the messaging brand create operation.",
        "properties": {
          "result": {
            "example": {
              "statusCode": "200",
              "status": "Success"
            },
            "required": [
              "statusCode",
              "status"
            ],
            "description": "Status payload for the brand registration.",
            "properties": {
              "statusCode": {
                "example": "200",
                "description": "Status code for the brand registration. Always `200` on this response.",
                "type": "string"
              },
              "status": {
                "example": "Success",
                "description": "Status text for the brand registration.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "ticketReplyRequest": {
        "example": {
          "message": "Thank you for your reply."
        },
        "required": [
          "message"
        ],
        "description": "Request body for the ticket Reply operation.",
        "properties": {
          "message": {
            "example": "Thank you for your reply.",
            "description": "Free-form message text (in ticketReplyRequest).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numberTranslationRequest": {
        "example": {
          "translation": "2015559999"
        },
        "required": [
          "translation"
        ],
        "description": "Request body for the number Translation operation.",
        "properties": {
          "translation": {
            "example": "2015559999",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "DNIS translation. Digits and # only.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "gatewayNumbersData": {
        "example": {
          "numbers": [
            {
              "cnam": false,
              "forwardTo": null,
              "carrier": 16,
              "smsEnabled": false,
              "translated": "2012548000",
              "forward": false,
              "number": "2012548000",
              "faxEnabled": false
            }
          ]
        },
        "required": [],
        "description": "Data payload for the gateway numbers operation.",
        "properties": {
          "numbers": {
            "example": [
              {
                "cnam": false,
                "forwardTo": null,
                "carrier": 16,
                "smsEnabled": false,
                "translated": "2012548000",
                "forward": false,
                "number": "2012548000",
                "faxEnabled": false
              }
            ],
            "items": {
              "required": [
                "number",
                "translated",
                "forward",
                "forwardTo",
                "cnam",
                "carrier",
                "smsEnabled",
                "faxEnabled"
              ],
              "properties": {
                "cnam": {
                  "example": false,
                  "description": "True when inbound CNAM lookup is enabled for the number.",
                  "type": "boolean"
                },
                "forwardTo": {
                  "example": null,
                  "description": "Forwarding destination when `forward` is true. Null when no forward is configured.",
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "carrier": {
                  "example": 16,
                  "description": "Outbound messaging carrier id. 0 means no messaging carrier is bound.",
                  "type": "integer"
                },
                "smsEnabled": {
                  "example": false,
                  "description": "True when inbound SMS routing is configured for the number.",
                  "type": "boolean"
                },
                "translated": {
                  "example": "2012548000",
                  "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
                  "description": "Destination after translation rewrite — typically equal to `number` unless the account routes the DID through a translated extension.",
                  "type": "string"
                },
                "forward": {
                  "example": false,
                  "description": "True when call forwarding is enabled for the number.",
                  "type": "boolean"
                },
                "number": {
                  "example": "2012548000",
                  "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
                  "description": "Ten-digit telephone number on this gateway.",
                  "type": "string"
                },
                "faxEnabled": {
                  "example": false,
                  "description": "True when inbound fax-to-email routing is configured for the number.",
                  "type": "boolean"
                }
              },
              "type": "object"
            },
            "description": "Numbers (in gatewayNumbersData).",
            "type": "array"
          }
        },
        "type": "object"
      },
      "gatewaysListResponse": {
        "example": {
          "data": {
            "gateways": [
              {
                "id": 1000,
                "system": true,
                "gateway": "203.0.113.10:5060",
                "prefix": "9",
                "limit": 23
              }
            ]
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the gateways List operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/gatewaysListData",
            "description": "Payload of the gateways list response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the gateways list response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "orderCreateRequest": {
        "example": {
          "numbers": []
        },
        "required": [
          "numbers"
        ],
        "description": "Body for POST /v2.2/orders. numbers may be plain strings or objects with optional route.",
        "properties": {
          "numbers": {
            "example": [],
            "items": {
              "oneOf": [
                {
                  "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
                  "type": "string"
                },
                {
                  "properties": {
                    "route": {
                      "example": 0,
                      "description": "Optional gateway_id on this account; defaults to 4.",
                      "type": "integer"
                    },
                    "number": {
                      "example": "2012548000",
                      "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
                      "description": "Telephone number (ten digits) (in orderCreateRequest).",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              ]
            },
            "description": "One or more numbers (max 100). Each may be a string or an object {number, route?}.",
            "type": "array"
          }
        },
        "type": "object"
      },
      "accountMrcData": {
        "example": {
          "charges": [
            {
              "description": "example",
              "amount": 0.5
            }
          ],
          "total": 0.5
        },
        "required": [],
        "description": "Data payload for the account mrc operation.",
        "properties": {
          "charges": {
            "example": [
              {
                "description": "example",
                "amount": 0.5
              }
            ],
            "items": {
              "properties": {
                "description": {
                  "example": "example",
                  "description": "Description.",
                  "type": "string"
                },
                "amount": {
                  "example": 0.5,
                  "description": "Amount in USD.",
                  "type": "number"
                }
              },
              "type": "object"
            },
            "description": "Charges.",
            "type": "array"
          },
          "total": {
            "example": 0.5,
            "description": "Total.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "numberLidbResponse": {
        "example": {
          "data": {
            "customerOrderReference": "example",
            "cnam": "example",
            "carrierStatus": "success",
            "number": "2015551234"
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the number Lidb operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/numberLidbData",
            "description": "Payload of the number lidb response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the number lidb response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "cnamResponse": {
        "example": {
          "data": {
            "cnam": "VOICETEL",
            "number": "2012548000"
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the cnam operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/cnamData",
            "description": "Payload of the cnam response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the cnam response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "gatewayNumbersResponse": {
        "example": {
          "data": {
            "numbers": [
              {
                "cnam": false,
                "forwardTo": null,
                "carrier": 16,
                "smsEnabled": false,
                "translated": "2012548000",
                "forward": false,
                "number": "2012548000",
                "faxEnabled": false
              }
            ]
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for GET /v2.2/gateways/{id}/numbers. Lists the numbers currently routed to the specified gateway. Mirrors the per-number summary shape used elsewhere in v2.2.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/gatewayNumbersData",
            "description": "Payload of the gateway numbers response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the gateway numbers response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "inventorySearchData": {
        "example": {
          "numbers": [
            {
              "number": "2019085750",
              "rateCenter": "CLOSTER",
              "city": "Closter",
              "province": "NJ",
              "lata": "224"
            }
          ]
        },
        "required": [],
        "description": "Data payload for the inventory search operation.",
        "properties": {
          "numbers": {
            "example": [
              {
                "number": "2019085750",
                "rateCenter": "CLOSTER",
                "city": "Closter",
                "province": "NJ",
                "lata": "224"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/inventoryItem"
            },
            "description": "Available numbers matching the query (may be empty).",
            "type": "array"
          }
        },
        "type": "object"
      },
      "accountRecoverResponse": {
        "example": {
          "data": {
            "message": "Operation completed."
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the account Recover operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/accountRecoverData",
            "description": "Payload of the account recover response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the account recover response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountPutRequest": {
        "example": {
          "e911": true,
          "notify": true,
          "intl": true,
          "timezone": "America/Chicago",
          "notifyThreshold": 0,
          "mms": true,
          "callerId": "2015551234",
          "sms": true,
          "ccs": 0
        },
        "required": [],
        "description": "Request body for the account Put operation.",
        "properties": {
          "e911": {
            "example": true,
            "description": "Admin only. Whether e911 provisioning is allowed.",
            "type": "boolean"
          },
          "notify": {
            "example": true,
            "description": "Whether the account receives low-balance notifications (in accountPutRequest).",
            "type": "boolean"
          },
          "intl": {
            "example": true,
            "description": "Admin only. Whether international calling is allowed.",
            "type": "boolean"
          },
          "timezone": {
            "example": "America/Chicago",
            "description": "IANA timezone identifier (in accountPutRequest).",
            "type": "string"
          },
          "notifyThreshold": {
            "example": 0,
            "description": "Balance threshold (in dollars) below which notifications fire (in accountPutRequest).",
            "type": "integer"
          },
          "mms": {
            "example": true,
            "description": "Admin only. Whether MMS messaging is enabled.",
            "type": "boolean"
          },
          "callerId": {
            "example": "2015551234",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "Default outbound caller ID — ten-digit telephone number (in accountPutRequest).",
            "type": "string"
          },
          "sms": {
            "example": true,
            "description": "Admin only. Whether SMS messaging is enabled.",
            "type": "boolean"
          },
          "ccs": {
            "example": 0,
            "description": "Admin only. Concurrent-call cap on the account.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "numberMoveResponse": {
        "example": {
          "data": {
            "route": 0,
            "number": "2012548000",
            "accountId": 1
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the number Move operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/numberMoveData",
            "description": "Payload of the number move response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the number move response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numberSmsData": {
        "example": {
          "resource": "example",
          "number": "2012548000",
          "type": "email"
        },
        "required": [],
        "description": "Data payload for the number sms operation.",
        "properties": {
          "resource": {
            "example": "example",
            "description": "Resource.",
            "type": "string"
          },
          "number": {
            "example": "2012548000",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "Telephone number (ten digits) (in numberSmsData).",
            "type": "string"
          },
          "type": {
            "example": "email",
            "enum": [
              "email",
              "webhook",
              "sip",
              "unknown"
            ],
            "description": "Type (in numberSmsData).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ticketUpdateData": {
        "example": {
          "id": 1001,
          "status": "success"
        },
        "required": [
          "status"
        ],
        "description": "Data payload for the ticket update operation.",
        "properties": {
          "id": {
            "example": 1001,
            "description": "Id (in ticketUpdateData).",
            "type": "integer"
          },
          "status": {
            "example": "success",
            "description": "Outcome of the ticket update data operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numberRouteResponse": {
        "example": {
          "data": {
            "route": 0,
            "number": "2012548000"
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the number Route operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/numberRouteData",
            "description": "Payload of the number route response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the number route response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "authPutData": {
        "example": {
          "updated": [
            {
              "value": 1,
              "field": "authType"
            }
          ]
        },
        "required": [],
        "description": "Data payload for the auth put operation.",
        "properties": {
          "updated": {
            "example": [
              {
                "value": 1,
                "field": "authType"
              }
            ],
            "items": {
              "required": [
                "field"
              ],
              "properties": {
                "value": {
                  "example": 1,
                  "description": "New value for the field, when echoing it is safe.",
                  "type": "integer"
                },
                "field": {
                  "example": "authType",
                  "enum": [
                    "authType",
                    "password"
                  ],
                  "description": "Field (authPutData.field).",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "description": "Updated (in authPutData).",
            "type": "array"
          }
        },
        "type": "object"
      },
      "messagingCampaignCreateData": {
        "example": {
          "result": {
            "statusCode": "200",
            "status": "Success"
          }
        },
        "required": [],
        "description": "Data payload for the messaging campaign create operation.",
        "properties": {
          "result": {
            "example": {
              "statusCode": "200",
              "status": "Success"
            },
            "required": [
              "statusCode",
              "status"
            ],
            "description": "Status payload for the campaign registration.",
            "properties": {
              "statusCode": {
                "example": "200",
                "description": "Status code for the campaign registration. Always `200` on this response.",
                "type": "string"
              },
              "status": {
                "example": "Success",
                "description": "Status text for the campaign registration.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "inventoryItem": {
        "example": {
          "number": "2019085750",
          "rateCenter": "CLOSTER",
          "city": "Closter",
          "province": "NJ",
          "lata": "224"
        },
        "required": [],
        "description": "A single telephone number available for assignment.",
        "properties": {
          "number": {
            "example": "2019085750",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "Ten-digit telephone number (schema inventoryItem).",
            "type": "string"
          },
          "rateCenter": {
            "example": "CLOSTER",
            "description": "Rate center name.",
            "type": "string"
          },
          "city": {
            "example": "Closter",
            "description": "City name (schema inventoryItem).",
            "type": "string"
          },
          "province": {
            "example": "NJ",
            "description": "Two-letter state or province code.",
            "type": "string"
          },
          "lata": {
            "example": "224",
            "description": "Local Access and Transport Area code.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ticketData": {
        "example": {
          "ticket": {
            "state": "published",
            "preview": "Hello, I cannot send SMS from my account…",
            "mailboxId": 2,
            "closedAt": "2026-05-18T12:00:00Z",
            "type": "email",
            "source": {
              "via": "example",
              "type": "example"
            },
            "createdBy": {
              "email": "example",
              "id": 0,
              "type": "customer"
            },
            "closedBy": 0,
            "folderId": 1,
            "number": 1015,
            "subject": "Cannot send SMS",
            "bcc": [
              "example"
            ],
            "assignee": {
              "email": "example",
              "id": 0,
              "photoUrl": "example",
              "type": "user",
              "firstName": "example",
              "lastName": "example"
            },
            "customer": {
              "photoType": "gravatar",
              "id": 12345,
              "photoUrl": "https://www.gravatar.com/avatar/0",
              "updatedAt": "2026-05-15T09:30:00Z",
              "company": "Acme Inc",
              "lastName": "Mavroudis",
              "jobTitle": "Director of Operations",
              "email": "michael@example.com",
              "notes": "",
              "type": "customer",
              "createdAt": "2026-05-01T12:00:00Z",
              "embedded": {
                "phones": [
                  {
                    "value": "example",
                    "id": 0,
                    "type": "mobile"
                  }
                ],
                "address": {
                  "country": "example",
                  "state": "example",
                  "city": "example",
                  "street": "example",
                  "zip": "example"
                },
                "emails": [
                  {
                    "value": "example",
                    "id": 0,
                    "type": "work"
                  }
                ],
                "websites": [
                  {
                    "value": "example",
                    "id": 0
                  }
                ],
                "socialProfiles": [
                  {
                    "value": "example",
                    "id": 0,
                    "type": "twitter"
                  }
                ]
              },
              "firstName": "Michael"
            },
            "id": 4242,
            "userUpdatedAt": "2026-05-18T12:00:00Z",
            "status": "active",
            "updatedAt": "2026-05-18T11:23:00Z",
            "customFields": [
              {
                "value": "example",
                "text": "example",
                "name": "example",
                "id": 0
              }
            ],
            "threadsCount": 3,
            "customerWaitingSince": {
              "friendly": "example",
              "latestReplyFrom": "customer",
              "time": "2026-05-18T12:00:00Z"
            },
            "createdAt": "2026-05-18T10:00:00Z",
            "closedByUser": {
              "email": "example",
              "firstName": "example",
              "lastName": "example",
              "id": 0,
              "type": "user"
            },
            "cc": [
              "example"
            ],
            "embedded": {
              "threads": [
                {
                  "state": "published",
                  "action": {
                    "text": "example",
                    "type": "example"
                  },
                  "status": "active",
                  "id": 98765,
                  "rating": 0,
                  "body": "Hello, I cannot send SMS from my account.",
                  "openedAt": "2026-05-18T12:00:00Z",
                  "source": {
                    "via": "example",
                    "type": "example"
                  },
                  "embedded": {
                    "attachments": [
                      {
                        "id": 5001,
                        "mimeType": "text/plain",
                        "fileName": "logs.txt",
                        "fileUrl": "https://support.example.com/attachment/5001",
                        "size": 4096
                      }
                    ]
                  },
                  "createdBy": {
                    "email": "example",
                    "id": 0,
                    "type": "customer"
                  },
                  "assignedTo": {
                    "email": "example",
                    "firstName": "example",
                    "lastName": "example",
                    "id": 0,
                    "type": "user"
                  },
                  "type": "customer",
                  "bcc": [
                    "example"
                  ],
                  "createdAt": "2026-05-18T10:00:00Z",
                  "ratingComment": "example",
                  "cc": [
                    "example"
                  ],
                  "customer": {
                    "photoType": "gravatar",
                    "id": 12345,
                    "photoUrl": "https://www.gravatar.com/avatar/0",
                    "updatedAt": "2026-05-15T09:30:00Z",
                    "company": "Acme Inc",
                    "lastName": "Mavroudis",
                    "jobTitle": "Director of Operations",
                    "email": "michael@example.com",
                    "notes": "",
                    "type": "customer",
                    "createdAt": "2026-05-01T12:00:00Z",
                    "embedded": {
                      "phones": [
                        {
                          "value": "example",
                          "id": 0,
                          "type": "mobile"
                        }
                      ],
                      "address": {
                        "country": "example",
                        "state": "example",
                        "city": "example",
                        "street": "example",
                        "zip": "example"
                      },
                      "emails": [
                        {
                          "value": "example",
                          "id": 0,
                          "type": "work"
                        }
                      ],
                      "websites": [
                        {
                          "value": "example",
                          "id": 0
                        }
                      ],
                      "socialProfiles": [
                        {
                          "value": "example",
                          "id": 0,
                          "type": "twitter"
                        }
                      ]
                    },
                    "firstName": "Michael"
                  },
                  "to": [
                    "example"
                  ]
                }
              ]
            }
          }
        },
        "required": [],
        "description": "Data payload for the ticket operation.",
        "properties": {
          "ticket": {
            "$ref": "#/components/schemas/supportConversation"
          }
        },
        "type": "object"
      },
      "supportCustomer": {
        "example": {
          "photoType": "gravatar",
          "id": 12345,
          "photoUrl": "https://www.gravatar.com/avatar/0",
          "updatedAt": "2026-05-15T09:30:00Z",
          "company": "Acme Inc",
          "lastName": "Mavroudis",
          "jobTitle": "Director of Operations",
          "email": "michael@example.com",
          "notes": "",
          "type": "customer",
          "createdAt": "2026-05-01T12:00:00Z",
          "embedded": {
            "phones": [
              {
                "value": "example",
                "id": 0,
                "type": "mobile"
              }
            ],
            "address": {
              "country": "example",
              "state": "example",
              "city": "example",
              "street": "example",
              "zip": "example"
            },
            "emails": [
              {
                "value": "example",
                "id": 0,
                "type": "work"
              }
            ],
            "websites": [
              {
                "value": "example",
                "id": 0
              }
            ],
            "socialProfiles": [
              {
                "value": "example",
                "id": 0,
                "type": "twitter"
              }
            ]
          },
          "firstName": "Michael"
        },
        "required": [],
        "description": "End-user profile attached to a support ticket. Most fields are optional and only populated when the customer provided them.",
        "properties": {
          "photoType": {
            "example": "gravatar",
            "enum": [
              "unknown",
              "gravatar",
              "twitter",
              "facebook",
              "googleprofile",
              "googleplus",
              "linkedin"
            ],
            "description": "Source of the profile photo.",
            "type": "string"
          },
          "id": {
            "example": 12345,
            "description": "Customer identifier in the ticketing backend.",
            "type": "integer"
          },
          "photoUrl": {
            "example": "https://www.gravatar.com/avatar/0",
            "description": "Profile photo URL (may resolve to a gravatar or social network if photoType is set).",
            "type": "string"
          },
          "updatedAt": {
            "example": "2026-05-15T09:30:00Z",
            "format": "date-time",
            "description": "ISO 8601 timestamp the customer record was last updated.",
            "type": "string"
          },
          "company": {
            "example": "Acme Inc",
            "description": "Free-form company name (max 60 characters).",
            "type": "string"
          },
          "lastName": {
            "example": "Mavroudis",
            "description": "Customer last name (max 40 characters).",
            "type": "string"
          },
          "jobTitle": {
            "example": "Director of Operations",
            "description": "Free-form job title (max 60 characters).",
            "type": "string"
          },
          "email": {
            "example": "michael@example.com",
            "description": "Primary email address on the customer profile.",
            "type": "string"
          },
          "notes": {
            "example": "",
            "description": "Free-form notes attached to the customer.",
            "type": "string"
          },
          "type": {
            "example": "customer",
            "enum": [
              "customer"
            ],
            "description": "Always `customer` — included so messages-by-author can be filtered by type without inspecting the parent field.",
            "type": "string"
          },
          "createdAt": {
            "example": "2026-05-01T12:00:00Z",
            "format": "date-time",
            "description": "ISO 8601 timestamp the customer record was created.",
            "type": "string"
          },
          "embedded": {
            "example": {
              "phones": [
                {
                  "value": "example",
                  "id": 0,
                  "type": "mobile"
                }
              ],
              "address": {
                "country": "example",
                "state": "example",
                "city": "example",
                "street": "example",
                "zip": "example"
              },
              "emails": [
                {
                  "value": "example",
                  "id": 0,
                  "type": "work"
                }
              ],
              "websites": [
                {
                  "value": "example",
                  "id": 0
                }
              ],
              "socialProfiles": [
                {
                  "value": "example",
                  "id": 0,
                  "type": "twitter"
                }
              ]
            },
            "properties": {
              "phones": {
                "example": [
                  {
                    "value": "example",
                    "id": 0,
                    "type": "mobile"
                  }
                ],
                "items": {
                  "properties": {
                    "value": {
                      "example": "example",
                      "description": "Value (in phones[]).",
                      "type": "string"
                    },
                    "id": {
                      "example": 0,
                      "description": "Id (in phones[]).",
                      "type": "integer"
                    },
                    "type": {
                      "example": "mobile",
                      "description": "Type (in phones[]).",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "Phones.",
                "type": "array"
              },
              "address": {
                "example": {
                  "country": "example",
                  "state": "example",
                  "city": "example",
                  "street": "example",
                  "zip": "example"
                },
                "properties": {
                  "country": {
                    "example": "example",
                    "description": "Two-letter ISO 3166-1 alpha-2 country code.",
                    "type": "string"
                  },
                  "state": {
                    "example": "example",
                    "description": "Two-letter US state code (in supportCustomer).",
                    "type": "string"
                  },
                  "city": {
                    "example": "example",
                    "description": "City name (in supportCustomer).",
                    "type": "string"
                  },
                  "street": {
                    "example": "example",
                    "description": "Street address line.",
                    "type": "string"
                  },
                  "zip": {
                    "example": "example",
                    "description": "Postal code (in supportCustomer).",
                    "type": "string"
                  }
                },
                "description": "Address.",
                "type": "object"
              },
              "emails": {
                "example": [
                  {
                    "value": "example",
                    "id": 0,
                    "type": "work"
                  }
                ],
                "items": {
                  "properties": {
                    "value": {
                      "example": "example",
                      "description": "Value (in emails[]).",
                      "type": "string"
                    },
                    "id": {
                      "example": 0,
                      "description": "Id (in emails[]).",
                      "type": "integer"
                    },
                    "type": {
                      "example": "work",
                      "description": "Type (in emails[]).",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "Emails.",
                "type": "array"
              },
              "websites": {
                "example": [
                  {
                    "value": "example",
                    "id": 0
                  }
                ],
                "items": {
                  "properties": {
                    "value": {
                      "example": "example",
                      "description": "Value (in websites[]).",
                      "type": "string"
                    },
                    "id": {
                      "example": 0,
                      "description": "Id (in websites[]).",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "description": "Websites.",
                "type": "array"
              },
              "socialProfiles": {
                "example": [
                  {
                    "value": "example",
                    "id": 0,
                    "type": "twitter"
                  }
                ],
                "items": {
                  "properties": {
                    "value": {
                      "example": "example",
                      "description": "Value (in socialProfiles[]).",
                      "type": "string"
                    },
                    "id": {
                      "example": 0,
                      "description": "Id (in socialProfiles[]).",
                      "type": "integer"
                    },
                    "type": {
                      "example": "twitter",
                      "description": "Type (in socialProfiles[]).",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "Social profiles.",
                "type": "array"
              }
            },
            "description": "Contact details for the customer. Each subfield is an array of {id, value, type} objects (websites has just {id, value}).",
            "type": "object"
          },
          "firstName": {
            "example": "Michael",
            "description": "Customer first name (max 40 characters).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numberMessagingCampaignAssignResponse": {
        "example": {
          "data": {
            "campaignId": "CH5K5IZ",
            "carrier": 17,
            "previousNetwork": null,
            "upstreamCnpId": "SFL9UTQ",
            "network": "A",
            "number": "6185243600",
            "previousNetworkCleared": false
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Result of binding a single number to a 10DLC campaign. Includes any conflicting binding that was cleared from the other messaging path.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/numberMessagingCampaignAssignData",
            "description": "Payload of the number messaging campaign assign response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the number messaging campaign assign response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountPutData": {
        "example": {
          "updated": [
            "example"
          ]
        },
        "required": [],
        "description": "Data payload for the account put operation.",
        "properties": {
          "updated": {
            "example": [
              "example"
            ],
            "items": {
              "type": "string"
            },
            "description": "Updated (in accountPutData).",
            "type": "array"
          }
        },
        "type": "object"
      },
      "numberDetailResponse": {
        "example": {
          "data": {
            "route": 1000,
            "cnam": true,
            "forwardTo": "example",
            "gateway": "203.0.113.10:5060",
            "smsEnabled": true,
            "translated": "2015551234",
            "forward": true,
            "carrier": 0,
            "number": "2015551234",
            "faxEnabled": true
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the number Detail operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/numberDetail",
            "description": "Payload of the number detail response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the number detail response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "messagingCampaignCreateResponse": {
        "example": {
          "data": {
            "result": {
              "statusCode": "200",
              "status": "Success"
            }
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Result of a messaging campaign registration. Returned on a 201 only when the the campaign was accepted (carrier 200). The data.result field echoes the carrier's status payload.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/messagingCampaignCreateData",
            "description": "Payload of the messaging campaign create response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the messaging campaign create response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "messageSendData": {
        "example": {
          "id": "abc123",
          "toNumber": "2015551234",
          "parts": 1,
          "subject": "example",
          "type": "sms",
          "mediaUrls": [
            "example"
          ],
          "fromNumber": "2012548000"
        },
        "required": [],
        "description": "Data payload for the message send operation.",
        "properties": {
          "id": {
            "example": "abc123",
            "description": "Provider transaction id; use as a search key in delivery-receipt webhooks.",
            "type": "string"
          },
          "toNumber": {
            "example": "2015551234",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "To number.",
            "type": "string"
          },
          "parts": {
            "example": 1,
            "description": "Number of message segments billed (SMS only). Long messages are split into multiple 160-character segments; each counts as a separately billed unit.",
            "type": "integer"
          },
          "subject": {
            "example": "example",
            "description": "Echo of submitted subject (MMS only).",
            "type": "string"
          },
          "type": {
            "example": "sms",
            "enum": [
              "sms",
              "mms"
            ],
            "description": "Type (in messageSendData).",
            "type": "string"
          },
          "mediaUrls": {
            "example": [
              "example"
            ],
            "items": {
              "type": "string"
            },
            "description": "Echo of submitted media URLs (MMS only).",
            "type": "array"
          },
          "fromNumber": {
            "example": "2012548000",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "From number.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numberMessagingPatchResponse": {
        "example": {
          "data": {
            "number": "9175803800",
            "updated": [
              "routeIn"
            ]
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Result of a PATCH to a single number's messaging routing.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/numberMessagingPatchData",
            "description": "Payload of the number messaging patch response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the number messaging patch response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountAddResponse": {
        "example": {
          "data": {
            "password": "example",
            "email": "user@example.com",
            "masterAccount": "1000000001",
            "username": "1000000001",
            "name": "Acme Inc"
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the account Add operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/accountAddData",
            "description": "Payload of the account add response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the account add response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numbersMessagingCampaignUnassignData": {
        "example": {
          "upstreamCnpId": "SFL9UTQ",
          "campaignId": "CH5K5IZ",
          "network": "A",
          "failed": [
            {
              "reason": "example",
              "number": "2015551234"
            }
          ],
          "unassignedNumbers": [
            "example"
          ]
        },
        "required": [],
        "description": "Data payload for the numbers messaging campaign unassign operation.",
        "properties": {
          "upstreamCnpId": {
            "example": "SFL9UTQ",
            "description": "SFL9UTQ = path A, SB8TWLO = path B (from the CSP sharing record).",
            "type": [
              "string",
              "null"
            ]
          },
          "campaignId": {
            "example": "CH5K5IZ",
            "description": "Campaign id (in numbersMessagingCampaignUnassignData).",
            "type": "string"
          },
          "network": {
            "enum": [
              "A",
              "B",
              null
            ],
            "description": "Network (in numbersMessagingCampaignUnassignData).",
            "type": [
              "string",
              "null"
            ]
          },
          "failed": {
            "example": [
              {
                "reason": "example",
                "number": "2015551234"
              }
            ],
            "items": {
              "properties": {
                "reason": {
                  "example": "example",
                  "description": "Reason (numbersMessagingCampaignUnassignData.reason).",
                  "type": "string"
                },
                "number": {
                  "example": "2015551234",
                  "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
                  "description": "Telephone number (ten digits) (in numbersMessagingCampaignUnassignData).",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "description": "Failed (in numbersMessagingCampaignUnassignData).",
            "type": "array"
          },
          "unassignedNumbers": {
            "example": [
              "example"
            ],
            "items": {
              "type": "string"
            },
            "description": "Numbers whose binding was successfully removed.",
            "type": "array"
          }
        },
        "type": "object"
      },
      "numberCnamRequest": {
        "example": {
          "enabled": true
        },
        "required": [
          "enabled"
        ],
        "description": "Request body for the number Cnam operation.",
        "properties": {
          "enabled": {
            "example": true,
            "description": "true to enable inbound CNAM lookup, false to disable.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "numberDetail": {
        "example": {
          "route": 1000,
          "cnam": true,
          "forwardTo": "example",
          "gateway": "203.0.113.10:5060",
          "smsEnabled": true,
          "translated": "2015551234",
          "forward": true,
          "carrier": 0,
          "number": "2015551234",
          "faxEnabled": true
        },
        "required": [],
        "description": "number Detail shape.",
        "properties": {
          "route": {
            "example": 1000,
            "description": "Gateway id the number is currently routed to (in numberDetail).",
            "type": "integer"
          },
          "cnam": {
            "example": true,
            "description": "Inbound CNAM lookup enabled.",
            "type": "boolean"
          },
          "forwardTo": {
            "example": "example",
            "description": "Forwarding destination — ten-digit telephone number — or null when forwarding is disabled (in numberDetail).",
            "type": [
              "string",
              "null"
            ]
          },
          "gateway": {
            "example": "203.0.113.10:5060",
            "description": "Gateway address (IP[:port]) or system route name (in numberDetail).",
            "type": [
              "string",
              "null"
            ]
          },
          "smsEnabled": {
            "example": true,
            "description": "Whether the number has inbound SMS routing configured.",
            "type": "boolean"
          },
          "translated": {
            "example": "2015551234",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "Destination digits after translation rewrite is applied.",
            "type": "string"
          },
          "forward": {
            "example": true,
            "description": "Whether call forwarding is enabled for the number.",
            "type": "boolean"
          },
          "carrier": {
            "example": 0,
            "description": "Outbound messaging carrier identifier.",
            "type": "integer"
          },
          "number": {
            "example": "2015551234",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "Telephone number (ten digits) (in numberDetail).",
            "type": "string"
          },
          "faxEnabled": {
            "example": true,
            "description": "Whether the number has inbound fax-to-email routing configured.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "gatewayEntry": {
        "example": {
          "id": 1000,
          "system": true,
          "gateway": "203.0.113.10:5060",
          "prefix": "9",
          "limit": 23
        },
        "required": [],
        "description": "A single gateway row.",
        "properties": {
          "id": {
            "example": 1000,
            "description": "Id (in gatewayEntry).",
            "type": "integer"
          },
          "system": {
            "example": true,
            "description": "True for built-in system route types.",
            "type": "boolean"
          },
          "gateway": {
            "example": "203.0.113.10:5060",
            "description": "Gateway IP:port or system route name (USER, T30, etc.)",
            "type": "string"
          },
          "prefix": {
            "example": "9",
            "description": "Digits prepended to outbound calls.",
            "type": "string"
          },
          "limit": {
            "example": 23,
            "description": "Maximum concurrent calls. Null for system routes.",
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "aclListData": {
        "example": {
          "acl": [
            {
              "cidr": "203.0.113.0/24"
            }
          ]
        },
        "required": [],
        "description": "Data payload for the acl list operation.",
        "properties": {
          "acl": {
            "example": [
              {
                "cidr": "203.0.113.0/24"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/cidrEntry"
            },
            "description": "List of CIDR ranges authorized for IP-based authentication on this account (in aclListData).",
            "type": "array"
          }
        },
        "type": "object"
      },
      "numberForwardResponse": {
        "example": {
          "data": {
            "forwardTo": "example",
            "number": "2012548000"
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the number Forward operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/numberForwardData",
            "description": "Payload of the number forward response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the number forward response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "portOutPinUpdateRequest": {
        "example": {
          "pin": "4287"
        },
        "required": [
          "pin"
        ],
        "description": "Set the port-out PIN that future losing carriers must present to release this number.",
        "properties": {
          "pin": {
            "example": "4287",
            "pattern": "^[0-9]{4}$",
            "description": "Four-digit numeric PIN.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "accountRecoverRequest": {
        "example": {
          "email": "user@example.com"
        },
        "required": [
          "email"
        ],
        "description": "Request body for the account Recover operation.",
        "properties": {
          "email": {
            "example": "user@example.com",
            "description": "Email address (in accountRecoverRequest).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numberMessagingCampaignUnassignData": {
        "example": {
          "upstreamCnpId": "SFL9UTQ",
          "campaignId": "CH5K5IZ",
          "network": "A",
          "number": "6185243600",
          "unassigned": true
        },
        "required": [],
        "description": "Data payload for the number messaging campaign unassign operation.",
        "properties": {
          "upstreamCnpId": {
            "example": "SFL9UTQ",
            "description": "CNP ID from the CSP sharing record.",
            "type": [
              "string",
              "null"
            ]
          },
          "campaignId": {
            "example": "CH5K5IZ",
            "description": "Seven-character TCR campaign id that the number was removed from.",
            "type": "string"
          },
          "network": {
            "example": "A",
            "enum": [
              "A",
              "B",
              null
            ],
            "description": "Messaging path the campaign was bound to before unassignment (from the CSP sharing record).",
            "type": [
              "string",
              "null"
            ]
          },
          "number": {
            "example": "6185243600",
            "pattern": "^[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}$",
            "description": "Ten-digit telephone number that was unbound.",
            "type": "string"
          },
          "unassigned": {
            "example": true,
            "description": "Always true on a 200 response — included so clients can pattern-match against bulk-unassign rows.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "numberAddResponse": {
        "example": {
          "data": {
            "route": 0,
            "number": "2012548000"
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the number Add operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/numberAddData",
            "description": "Payload of the number add response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the number add response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "e911RecordData": {
        "example": {
          "record": {
            "state": "NJ",
            "address2": "STE 200",
            "city": "HACKENSACK",
            "callername": "ACME INC",
            "zip": "07601",
            "dn": "12015551234",
            "address1": "411 HACKENSACK AVENUE"
          }
        },
        "required": [],
        "description": "Data payload for the e911 record operation.",
        "properties": {
          "record": {
            "$ref": "#/components/schemas/e911Entry"
          }
        },
        "type": "object"
      },
      "aclListResponse": {
        "example": {
          "data": {
            "acl": [
              {
                "cidr": "203.0.113.0/24"
              }
            ]
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the acl list operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/aclListData",
            "description": "Payload of the acl list response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the acl list response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numberSmsResponse": {
        "example": {
          "data": {
            "resource": "example",
            "number": "2012548000",
            "type": "email"
          },
          "status": "success"
        },
        "required": [
          "status",
          "data"
        ],
        "description": "Response wrapper for the number Sms operation.",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/numberSmsData",
            "description": "Payload of the number sms response operation."
          },
          "status": {
            "example": "success",
            "enum": [
              "success"
            ],
            "description": "Outcome of the number sms response operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "numberMoveRequest": {
        "example": {
          "route": 1000,
          "accountId": 1002
        },
        "required": [
          "accountId",
          "route"
        ],
        "description": "Request body for the number Move operation.",
        "properties": {
          "route": {
            "example": 1000,
            "description": "Gateway id the number is currently routed to (in numberMoveRequest).",
            "type": "integer"
          },
          "accountId": {
            "example": 1002,
            "description": "Destination account id (numeric username).",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "accountPaymentsData": {
        "example": {
          "payments": [
            {
              "transactionId": "2N045992R140725E3",
              "date": "2024-09-30T12:52:59+00:00",
              "payerEmail": "customer@example.com",
              "status": "Completed",
              "amount": 25.0
            }
          ]
        },
        "required": [
          "payments"
        ],
        "description": "Data payload for the account payments operation.",
        "properties": {
          "payments": {
            "example": [
              {
                "transactionId": "2N045992R140725E3",
                "date": "2024-09-30T12:52:59+00:00",
                "payerEmail": "customer@example.com",
                "status": "Completed",
                "amount": 25.0
              }
            ],
            "items": {
              "$ref": "#/components/schemas/paymentEntry"
            },
            "description": "All PayPal payments for the account, newest first.",
            "type": "array"
          }
        },
        "type": "object"
      },
      "portSubmitRequest": {
        "example": {
          "country": "US",
          "state": "IL",
          "features": [
            {
              "lidb": {
                "name": "Acme Corp"
              },
              "number": "2015551234",
              "routing": {
                "gatewayId": 4
              },
              "sms": {
                "campaignId": "C123456"
              }
            }
          ],
          "lcAccountNumber": "123456789",
          "streetNumber": "550",
          "floor": "",
          "desiredDueDate": "2026-05-18T12:00:00Z",
          "street": "Main",
          "lcBtn": "2015551000",
          "building": "",
          "unitValue": "",
          "nameType": "business",
          "room": "",
          "streetSuffix": "N",
          "name": "Acme Corp",
          "streetPrefix": "N",
          "zip": "60601",
          "city": "Chicago",
          "authPerson": "Jane Smith",
          "streetType": "ST",
          "did": [
            "2015551234"
          ],
          "pin": "1234"
        },
        "required": [
          "did",
          "name",
          "nameType",
          "lcBtn",
          "lcAccountNumber",
          "streetNumber",
          "street",
          "streetType",
          "city",
          "state",
          "zip",
          "country",
          "authPerson"
        ],
        "description": "Request body for the port Submit operation.",
        "properties": {
          "country": {
            "example": "US",
            "description": "Country code.",
            "type": "string"
          },
          "state": {
            "example": "IL",
            "description": "2-character state abbreviation.",
            "type": "string"
          },
          "features": {
            "example": [
              {
                "lidb": {
                  "name": "Acme Corp"
                },
                "number": "2015551234",
                "routing": {
                  "gatewayId": 4
                },
                "sms": {
                  "campaignId": "C123456"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/portFeature"
            },
            "description": "Optional per-TN routing, LIDB, and SMS configuration applied after the port completes.",
            "type": "array"
          },
          "lcAccountNumber": {
            "example": "123456789",
            "description": "Account number from the losing carrier bill.",
            "type": "string"
          },
          "streetNumber": {
            "example": "550",
            "description": "Street number as it appears on the service address.",
            "type": "string"
          },
          "floor": {
            "example": "",
            "description": "Optional floor.",
            "type": "string"
          },
          "desiredDueDate": {
            "example": "2026-05-18T12:00:00Z",
            "format": "date-time",
            "description": "Optional desired port date (YYYY-MM-DD). Leave blank for standard processing time.",
            "type": "string"
          },
          "street": {
            "example": "Main",
            "description": "Street name.",
            "type": "string"
          },
          "lcBtn": {
            "example": "2015551000",
            "description": "Billing telephone number from the losing carrier bill.",
            "type": "string"
          },
          "building": {
            "example": "",
            "description": "Optional building identifier.",
            "type": "string"
          },
          "unitValue": {
            "example": "",
            "description": "Optional unit designator (e.g. APT, STE) and number.",
            "type": "string"
          },
          "nameType": {
            "example": "business",
            "enum": [
              "business",
              "residential"
            ],
            "description": "Name type.",
            "type": "string"
          },
          "room": {
            "example": "",
            "description": "Optional room.",
            "type": "string"
          },
          "streetSuffix": {
            "example": "N",
            "enum": [
              "N",
              "NE",
              "E",
              "SE",
              "S",
              "SW",
              "W",
              "NW"
            ],
            "description": "Optional street direction suffix. Omit the field (or send an empty string) when none applies.",
            "type": "string"
          },
          "name": {
            "example": "Acme Corp",
            "description": "Subscriber name exactly as it appears on the bill from the losing carrier.",
            "type": "string"
          },
          "streetPrefix": {
            "example": "N",
            "enum": [
              "N",
              "NE",
              "E",
              "SE",
              "S",
              "SW",
              "W",
              "NW"
            ],
            "description": "Optional street direction prefix. Omit the field (or send an empty string) when none applies.",
            "type": "string"
          },
          "zip": {
            "example": "60601",
            "description": "Postal code (in portSubmitRequest).",
            "type": "string"
          },
          "city": {
            "example": "Chicago",
            "description": "City name (in portSubmitRequest).",
            "type": "string"
          },
          "authPerson": {
            "example": "Jane Smith",
            "description": "Full name of the person authorized to sign the LOA.",
            "type": "string"
          },
          "streetType": {
            "example": "ST",
            "description": "USPS street type abbreviation (e.g. ST, AVE, BLVD).",
            "type": "string"
          },
          "did": {
            "example": [
              "2015551234"
            ],
            "items": {
              "example": "2015551234",
              "type": "string"
            },
            "minItems": 1,
            "description": "One or more 10-digit phone numbers to port. Toll-free (8xx) numbers are separated from geographic numbers automatically.",
            "type": "array"
          },
          "pin": {
            "example": "1234",
            "description": "Port-out PIN. Required by many carriers especially mobile. Contact the losing carrier to obtain.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "supportThread": {
        "example": {
          "state": "published",
          "action": {
            "text": "example",
            "type": "example"
          },
          "status": "active",
          "id": 98765,
          "rating": 0,
          "body": "Hello, I cannot send SMS from my account.",
          "openedAt": "2026-05-18T12:00:00Z",
          "source": {
            "via": "example",
            "type": "example"
          },
          "embedded": {
            "attachments": [
              {
                "id": 5001,
                "mimeType": "text/plain",
                "fileName": "logs.txt",
                "fileUrl": "https://support.example.com/attachment/5001",
                "size": 4096
              }
            ]
          },
          "createdBy": {
            "email": "example",
            "id": 0,
            "type": "customer"
          },
          "assignedTo": {
            "email": "example",
            "firstName": "example",
            "lastName": "example",
            "id": 0,
            "type": "user"
          },
          "type": "customer",
          "bcc": [
            "example"
          ],
          "createdAt": "2026-05-18T10:00:00Z",
          "ratingComment": "example",
          "cc": [
            "example"
          ],
          "customer": {
            "photoType": "gravatar",
            "id": 12345,
            "photoUrl": "https://www.gravatar.com/avatar/0",
            "updatedAt": "2026-05-15T09:30:00Z",
            "company": "Acme Inc",
            "lastName": "Mavroudis",
            "jobTitle": "Director of Operations",
            "email": "michael@example.com",
            "notes": "",
            "type": "customer",
            "createdAt": "2026-05-01T12:00:00Z",
            "embedded": {
              "phones": [
                {
                  "value": "example",
                  "id": 0,
                  "type": "mobile"
                }
              ],
              "address": {
                "country": "example",
                "state": "example",
                "city": "example",
                "street": "example",
                "zip": "example"
              },
              "emails": [
                {
                  "value": "example",
                  "id": 0,
                  "type": "work"
                }
              ],
              "websites": [
                {
                  "value": "example",
                  "id": 0
                }
              ],
              "socialProfiles": [
                {
                  "value": "example",
                  "id": 0,
                  "type": "twitter"
                }
              ]
            },
            "firstName": "Michael"
          },
          "to": [
            "example"
          ]
        },
        "required": [
          "status"
        ],
        "description": "Single message (or system event) within a support ticket conversation.",
        "properties": {
          "state": {
            "example": "published",
            "enum": [
              "draft",
              "published"
            ],
            "description": "Lifecycle state of the thread itself.",
            "type": "string"
          },
          "action": {
            "example": {
              "text": "example",
              "type": "example"
            },
            "properties": {
              "text": {
                "example": "example",
                "description": "Text (in action).",
                "type": "string"
              },
              "type": {
                "example": "example",
                "description": "Type (in action).",
                "type": "string"
              }
            },
            "description": "System-generated action describing what changed (assignee changed, status changed, etc.). Present on system threads only.",
            "type": "object"
          },
          "status": {
            "example": "active",
            "description": "Outcome of the support thread operation.",
            "type": "string"
          },
          "id": {
            "example": 98765,
            "description": "Thread identifier — unique within the ticket.",
            "type": "integer"
          },
          "rating": {
            "example": 0,
[...]
