{
  "openapi": "3.1.0",
  "info": {
    "title": "VoiceML — Twilio-compatible REST API",
    "version": "0.9.1",
    "summary": "Twilio-compatible voice (inbound + outbound), SMS, conferencing, recording, transcription, and payment platform",
    "description": "VoiceML exposes a Twilio-compatible REST + voice markup surface covering\nvoice (inbound + outbound calls, conferences, queues), SMS via the\nMessages resource, mid-call recording / SIPREC / real-time\ntranscription / `<Pay>` subresources, and the `IncomingPhoneNumbers`\n+ `Applications` configuration surfaces. Existing Twilio SDKs\n(`twilio-node`, `twilio-python`, `twilio-go`, ...) integrate with\nminimal migration effort. Authentication, error codes, and\npagination follow Twilio's documented conventions where supported.\n\nURL format: Twilio's canonical URL form ends with `.json` (e.g.\n`/Calls/{Sid}.json`). VoiceML accepts BOTH the `.json`-suffixed and\nthe unsuffixed form — the server strips a trailing `.json`/`.xml`/`.wav`\nsuffix before routing (see `WrapWithFormatSuffix`). The spec documents the\n`.json` form so SDKs generated against this spec produce\nTwilio-compatible URLs out of the box; existing clients that omit `.json`\ncontinue to work unchanged.\n\nAuthentication is per-tenant HTTP Basic:\n * Username = `:AccountSid` (the URL path parameter, Twilio-format\n AC + 32 hex chars). Same value the Twilio SDK validates in its\n constructor — migration-compatible.\n * Password = the per-account API key.\nThe same key is used to compute `X-Twilio-Signature` on outbound webhooks.\n\nAccount management (create / rotate / disable / delete) is NOT exposed on\nthis public listener — it lives on a private observability listener\ndocumented separately.\n",
    "contact": {
      "name": "VoiceTel",
      "url": "https://voiceml.voicetel.com"
    },
    "license": {
      "name": "MIT with Commons Clause",
      "url": "https://voicetel.com/legal/"
    }
  },
  "servers": [
    {
      "url": "https://voiceml.voicetel.com",
      "description": "VoiceTel VoiceML compatibility surface"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "AI Assistants"
    },
    {
      "name": "AI Assistants / Feedback"
    },
    {
      "name": "AI Assistants / Knowledge"
    },
    {
      "name": "AI Assistants / Policies"
    },
    {
      "name": "AI Assistants / Sessions"
    },
    {
      "name": "AI Assistants / Tools"
    },
    {
      "name": "Account"
    },
    {
      "name": "Account / Balance"
    },
    {
      "name": "Account / Exports"
    },
    {
      "name": "Account / OutgoingCallerIds"
    },
    {
      "name": "Account / Transcriptions"
    },
    {
      "name": "Applications"
    },
    {
      "name": "Calls"
    },
    {
      "name": "Calls / Events"
    },
    {
      "name": "Calls / Notifications"
    },
    {
      "name": "Calls / Payments"
    },
    {
      "name": "Calls / Recordings"
    },
    {
      "name": "Calls / Siprec"
    },
    {
      "name": "Calls / Streams"
    },
    {
      "name": "Calls / Transcriptions"
    },
    {
      "name": "Calls / UserDefinedMessages"
    },
    {
      "name": "Conferences"
    },
    {
      "name": "Conferences / Participants"
    },
    {
      "name": "Conferences / Recordings"
    },
    {
      "name": "Conversations"
    },
    {
      "name": "Conversations / Configuration"
    },
    {
      "name": "Conversations / Credentials"
    },
    {
      "name": "Conversations / Messages"
    },
    {
      "name": "Conversations / Participants"
    },
    {
      "name": "Conversations / Roles"
    },
    {
      "name": "Conversations / Services"
    },
    {
      "name": "Conversations / Users"
    },
    {
      "name": "Conversations / Webhooks"
    },
    {
      "name": "Diagnostics"
    },
    {
      "name": "IncomingPhoneNumbers"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Numbers / InboundProcessingRegion"
    },
    {
      "name": "Queues"
    },
    {
      "name": "Queues / Members"
    },
    {
      "name": "Recordings"
    },
    {
      "name": "SIP / Auth / Calls / CredentialListMappings"
    },
    {
      "name": "SIP / Auth / Calls / IpAccessControlListMappings"
    },
    {
      "name": "SIP / Auth / Registrations / CredentialListMappings"
    },
    {
      "name": "SIP / CredentialLists"
    },
    {
      "name": "SIP / CredentialLists / Credentials"
    },
    {
      "name": "SIP / Domains"
    },
    {
      "name": "SIP / Domains / CredentialListMappings"
    },
    {
      "name": "SIP / Domains / InboundProcessingRegion"
    },
    {
      "name": "SIP / Domains / IpAccessControlListMappings"
    },
    {
      "name": "SIP / IpAccessControlLists"
    },
    {
      "name": "SIP / IpAccessControlLists / IpAddresses"
    },
    {
      "name": "Voice trunking / ByocTrunks"
    },
    {
      "name": "Voice trunking / ConnectionPolicies"
    },
    {
      "name": "Voice trunking / DialingPermissions"
    },
    {
      "name": "Voice trunking / IpRecords"
    },
    {
      "name": "Voice trunking / SourceIpMappings"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Voice — calls",
      "tags": [
        "Calls",
        "Calls / Recordings",
        "Calls / Streams",
        "Calls / Siprec",
        "Calls / Transcriptions"
      ]
    },
    {
      "name": "Voice — call telemetry",
      "tags": [
        "Calls / Events",
        "Calls / Notifications",
        "Calls / Payments",
        "Calls / UserDefinedMessages"
      ]
    },
    {
      "name": "Conferences",
      "tags": [
        "Conferences",
        "Conferences / Participants",
        "Conferences / Recordings"
      ]
    },
    {
      "name": "Queues",
      "tags": [
        "Queues",
        "Queues / Members"
      ]
    },
    {
      "name": "Applications",
      "tags": [
        "Applications"
      ]
    },
    {
      "name": "Numbers",
      "tags": [
        "IncomingPhoneNumbers",
        "Numbers / InboundProcessingRegion"
      ]
    },
    {
      "name": "Messaging",
      "tags": [
        "Messages"
      ]
    },
    {
      "name": "Account",
      "tags": [
        "Account",
        "Account / Balance",
        "Account / OutgoingCallerIds",
        "Account / Transcriptions",
        "Account / Exports"
      ]
    },
    {
      "name": "Account telemetry",
      "tags": [
        "Notifications"
      ]
    },
    {
      "name": "SIP trunking",
      "tags": [
        "SIP / Domains",
        "SIP / Domains / InboundProcessingRegion",
        "SIP / Domains / CredentialListMappings",
        "SIP / Domains / IpAccessControlListMappings",
        "SIP / Auth / Calls / CredentialListMappings",
        "SIP / Auth / Calls / IpAccessControlListMappings",
        "SIP / Auth / Registrations / CredentialListMappings",
        "SIP / CredentialLists",
        "SIP / CredentialLists / Credentials",
        "SIP / IpAccessControlLists",
        "SIP / IpAccessControlLists / IpAddresses"
      ]
    },
    {
      "name": "Voice trunking",
      "tags": [
        "Voice trunking / IpRecords",
        "Voice trunking / SourceIpMappings",
        "Voice trunking / ByocTrunks",
        "Voice trunking / ConnectionPolicies",
        "Voice trunking / DialingPermissions"
      ]
    },
    {
      "name": "Conversations",
      "tags": [
        "Conversations",
        "Conversations / Messages",
        "Conversations / Participants",
        "Conversations / Webhooks",
        "Conversations / Roles",
        "Conversations / Users",
        "Conversations / Credentials",
        "Conversations / Configuration",
        "Conversations / Services"
      ]
    },
    {
      "name": "AI Assistants",
      "tags": [
        "AI Assistants",
        "AI Assistants / Tools",
        "AI Assistants / Knowledge",
        "AI Assistants / Sessions",
        "AI Assistants / Feedback",
        "AI Assistants / Policies"
      ]
    },
    {
      "name": "Recordings (top-level)",
      "tags": [
        "Recordings"
      ]
    },
    {
      "name": "Diagnostics",
      "tags": [
        "Diagnostics"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Username MUST equal the URL `:AccountSid` path parameter.\nPassword is the per-tenant API key set via the admin API.\n"
      }
    },
    "parameters": {
      "AccountSid": {
        "name": "AccountSid",
        "in": "path",
        "required": true,
        "description": "Twilio-format AccountSid: literal \"AC\" + 32 hex chars (34\ntotal). Server-generated at account creation; the same value\nthe customer's Twilio SDK validates in its constructor.\n",
        "schema": {
          "type": "string",
          "pattern": "^AC[0-9a-f]{32}$"
        }
      },
      "CallSid": {
        "name": "CallSid",
        "in": "path",
        "required": true,
        "description": "Twilio-format Call SID (`CA` + 32 hex characters).",
        "schema": {
          "type": "string",
          "pattern": "^CA[a-f0-9]{32}$"
        }
      },
      "RecordingSid": {
        "name": "RecordingSid",
        "in": "path",
        "required": true,
        "description": "Twilio-format Recording SID (`RE` + 32 hex characters).",
        "schema": {
          "type": "string",
          "pattern": "^RE[a-f0-9]{32}$"
        }
      },
      "ConferenceSid": {
        "name": "ConferenceSid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible Conference SID — literal `CF` + 32 hex chars\n(34 total). Server-generated lazily on first\n`<Dial><Conference>` dispatch (or on first appearance in\na `GET /Conferences` list); cleared when the conference\nends. The v0.19.x namespaced form\n(`<AccountSid>__<friendly>`) is still accepted on input\nfor migration safety, but the response always emits the\nCF shape.\n",
        "schema": {
          "type": "string",
          "pattern": "^CF[a-f0-9]{32}$|^[A-Z]{2}[0-9a-f]+__.+$"
        }
      },
      "QueueSid": {
        "name": "QueueSid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible Queue SID — literal \"QU\" + 32 hex chars (34\ntotal). Server-generated on `POST /Queues`.\n",
        "schema": {
          "type": "string",
          "pattern": "^QU[0-9a-f]{32}$"
        }
      },
      "ApplicationSid": {
        "name": "ApplicationSid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible Application SID — literal \"AP\" + 32 hex chars\n(34 total). Server-generated on `POST /Applications`.\n",
        "schema": {
          "type": "string",
          "pattern": "^AP[0-9a-f]{32}$"
        }
      },
      "ResourceSid": {
        "name": "Sid",
        "in": "path",
        "required": true,
        "description": "Twilio generic resource identifier on fetch-by-id endpoints\n(`CA`/`RE`/`AP`/`QU`/`CF`/`PN` + 32 hex, or dashed `CA`\nform). Parameter name is always `Sid` per twilio-oai; the\npath segment position determines which prefix is valid.\n",
        "schema": {
          "type": "string",
          "pattern": "^(CA(?:[0-9a-f]{32}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{8})|RE[0-9a-f]{32}|AP[0-9a-f]{32}|QU[0-9a-f]{32}|CF[0-9a-f]{32}|PN[0-9a-f]{32})$"
        }
      },
      "SubresourceSid": {
        "name": "Sid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible subresource SID — used by Streams (`MZ` prefix),\nSiprec (`SR` prefix), and Transcriptions (`GT` prefix). The\nregex covers all three subresources mounted under\n`/Calls/{CallSid}/{Streams|Siprec|Transcriptions}/{Sid}`.\n",
        "schema": {
          "type": "string",
          "pattern": "^(MZ|SR|GT)[a-f0-9]{32}$"
        }
      },
      "PhoneNumber": {
        "name": "PhoneNumber",
        "in": "path",
        "required": true,
        "deprecated": true,
        "description": "Legacy E.164 path form for IncomingPhoneNumber resources.\nNew code SHOULD use the canonical `PhoneNumberSid` parameter\n(the `PN`-prefixed sid emitted on response). Accepted during\nthe v0.5.x soft-transition window for backwards-compat with\nclients that still construct URLs from the E.164.\n",
        "schema": {
          "type": "string",
          "pattern": "^\\+[1-9]\\d{1,14}$"
        }
      },
      "PhoneNumberSid": {
        "name": "PhoneNumberSid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible IncomingPhoneNumber identifier — literal `PN` +\n32 lowercase hex characters (34 total). Server-generated when\nthe DID is first claimed by an account; stable for the row's\nlifetime on this account. The legacy E.164 path shape\n(`/IncomingPhoneNumbers/+18005551234`) is still accepted on\ninput during the v0.5.x soft-transition window — same\nprecedent as `ConferenceSid` which accepts both canonical and\nlegacy forms. Responses always emit the `PN…` form on the\n`sid` field regardless of which key resolved the request.\n",
        "schema": {
          "type": "string",
          "pattern": "^PN[a-f0-9]{32}$|^\\+[1-9]\\d{1,14}$"
        }
      },
      "SipDomainSid": {
        "name": "Sid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible SIP Domain SID — literal \"SD\" + 32 hex chars\n(34 total). Server-generated on `POST /SIP/Domains`.\n",
        "schema": {
          "type": "string",
          "pattern": "^SD[0-9a-f]{32}$"
        }
      },
      "SipCredentialListSid": {
        "name": "Sid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible SIP CredentialList SID — literal \"CL\" + 32 hex\nchars (34 total). Server-generated on `POST /SIP/CredentialLists`.\nAlso names the parent list in the Credentials sub-resource path.\n",
        "schema": {
          "type": "string",
          "pattern": "^CL[0-9a-f]{32}$"
        }
      },
      "SipCredentialSid": {
        "name": "Sid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible SIP Credential SID — literal \"CR\" + 32 hex\nchars (34 total). Server-generated on\n`POST /SIP/CredentialLists/{CredentialListSid}/Credentials`.\n",
        "schema": {
          "type": "string",
          "pattern": "^CR[0-9a-f]{32}$"
        }
      },
      "SipIpAccessControlListSid": {
        "name": "Sid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible SIP IpAccessControlList SID — literal \"AL\" +\n32 hex chars (34 total). Server-generated on\n`POST /SIP/IpAccessControlLists`. Also names the parent list in\nthe IpAddresses sub-resource path.\n",
        "schema": {
          "type": "string",
          "pattern": "^AL[0-9a-f]{32}$"
        }
      },
      "SipIpAddressSid": {
        "name": "Sid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible SIP IpAddress SID — literal \"IP\" + 32 hex\nchars (34 total). Server-generated on\n`POST /SIP/IpAccessControlLists/{IpAccessControlListSid}/IpAddresses`.\n",
        "schema": {
          "type": "string",
          "pattern": "^IP[0-9a-f]{32}$"
        }
      },
      "SipMappingListSid": {
        "name": "Sid",
        "in": "path",
        "required": true,
        "description": "The mapped list's SID on a SIP Domain mapping leaf. A\nCredentialList mapping carries a `CL…` sid; an\nIpAccessControlList mapping carries an `AL…` sid. The mapping's\nown `sid` IS the mapped list's sid (Twilio semantics).\n",
        "schema": {
          "type": "string",
          "pattern": "^(CL|AL)[0-9a-f]{32}$"
        }
      },
      "SipParentDomainSid": {
        "name": "DomainSid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible SIP Domain SID — literal \"SD\" + 32 hex chars\n(34 total). Names the parent Domain in a Domain mapping\nsub-resource path. Matches Twilio's `DomainSid` path-parameter\nname for the nested mapping surfaces.\n",
        "schema": {
          "type": "string",
          "pattern": "^SD[0-9a-f]{32}$"
        }
      },
      "SipParentCredentialListSid": {
        "name": "CredentialListSid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible SIP CredentialList SID — literal \"CL\" + 32 hex\nchars (34 total). Names the parent CredentialList in the\nCredentials sub-resource path. Matches Twilio's\n`CredentialListSid` path-parameter name.\n",
        "schema": {
          "type": "string",
          "pattern": "^CL[0-9a-f]{32}$"
        }
      },
      "SipParentIpAccessControlListSid": {
        "name": "IpAccessControlListSid",
        "in": "path",
        "required": true,
        "description": "Twilio-compatible SIP IpAccessControlList SID — literal \"AL\" +\n32 hex chars (34 total). Names the parent IpAccessControlList in\nthe IpAddresses sub-resource path. Matches Twilio's\n`IpAccessControlListSid` path-parameter name.\n",
        "schema": {
          "type": "string",
          "pattern": "^AL[0-9a-f]{32}$"
        }
      },
      "Page": {
        "name": "Page",
        "in": "query",
        "required": false,
        "description": "Zero-based page index.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      },
      "PageSize": {
        "name": "PageSize",
        "in": "query",
        "required": false,
        "description": "Page size. Max 1000; default 50.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "default": 50
        }
      },
      "PageToken": {
        "name": "PageToken",
        "in": "query",
        "required": false,
        "description": "The page token. This is provided by the API.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Call": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "status",
          "direction",
          "api_version",
          "uri",
          "date_created",
          "date_updated"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "example": "CAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "account_sid": {
            "nullable": true,
            "type": "string",
            "example": "ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "api_version": {
            "nullable": true,
            "type": "string",
            "example": "2010-04-01"
          },
          "to": {
            "nullable": true,
            "type": "string",
            "example": "+18005551234"
          },
          "to_formatted": {
            "nullable": true,
            "type": "string",
            "description": "Human-readable national formatting of `to`, e.g. `(800) 555-1234` for US/CA numbers. Generated via libphonenumber; falls back to the E.164 form if parsing fails."
          },
          "from": {
            "nullable": true,
            "type": "string",
            "example": "+18005550000"
          },
          "from_formatted": {
            "nullable": true,
            "type": "string",
            "description": "Human-readable national formatting of `from`. Same generation rules as `to_formatted`."
          },
          "parent_call_sid": {
            "nullable": true,
            "type": "string",
            "description": "Set on B-leg child calls (e.g. legs created by `<Dial>`). Empty on the originating A-leg or when no `<Dial>`-style bridge has occurred."
          },
          "caller_name": {
            "nullable": true,
            "type": "string",
            "description": "SIP From: display-name captured on inbound calls (CNAM-style identification). Empty for outbound originates and for inbound calls without a display name."
          },
          "forwarded_from": {
            "nullable": true,
            "type": "string",
            "description": "Originator of a forwarded inbound call, captured from the SIP `Diversion` (RFC 5806) or `History-Info` (RFC 7044) header. Empty for non-forwarded calls."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "ringing",
              "in-progress",
              "completed",
              "busy",
              "no-answer",
              "canceled",
              "failed"
            ]
          },
          "direction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "inbound",
              "outbound-api",
              "outbound-dial"
            ]
          },
          "answered_by": {
            "type": "string",
            "nullable": true,
            "description": "AMD verdict. Wire-strict Twilio enum, suitable for\nstrict-mode SDK deserialisers.\n",
            "enum": [
              "human",
              "machine_start",
              "machine_end_beep",
              "machine_end_silence",
              "machine_end_other",
              "fax",
              "unknown",
              ""
            ]
          },
          "start_time": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "end_time": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "duration": {
            "nullable": true,
            "type": "string",
            "description": "Seconds, as decimal string. Not currently populated on the Call resource — always empty."
          },
          "price": {
            "nullable": true,
            "type": "string",
            "description": "Twilio compatibility — always empty (VoiceML does not bill per-call)."
          },
          "price_unit": {
            "nullable": true,
            "type": "string",
            "description": "Twilio compatibility — always empty."
          },
          "phone_number_sid": {
            "nullable": true,
            "type": "string",
            "description": "Twilio compatibility — always empty."
          },
          "annotation": {
            "type": "string",
            "description": "Twilio compatibility — always empty."
          },
          "group_sid": {
            "nullable": true,
            "type": "string",
            "description": "Twilio compatibility — always empty."
          },
          "queue_time": {
            "nullable": true,
            "type": "string",
            "description": "Twilio compatibility — always empty on the Call resource; queue wait time is exposed on the Participant resource (`Participant.queue_time`), not here."
          },
          "trunk_sid": {
            "nullable": true,
            "type": "string",
            "description": "Twilio compatibility — always empty."
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          },
          "subresource_uris": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CallList": {
        "type": "object",
        "required": [
          "calls",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Call"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "Conference": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "friendly_name",
          "status",
          "api_version",
          "uri"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^CF[a-f0-9]{32}$",
            "example": "CFxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string",
            "example": "incident-42"
          },
          "status": {
            "type": "string",
            "enum": [
              "init",
              "in-progress",
              "completed"
            ],
            "description": "`init` matches Twilio's transient pre-mix-engine state. VoiceML\nnever emits it today (the conference materializes only after a\nparticipant joins), but the value is documented for SDK\nenum-deserializer compatibility.\n"
          },
          "region": {
            "type": "string",
            "nullable": true,
            "description": "Twilio edge region label. Defaults to `us1`; reserved\nfor operator-overridable region taxonomy in a future\nrelease. Informational — VoiceML does not route\nby region today.\n"
          },
          "api_version": {
            "nullable": true,
            "type": "string"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822",
            "description": "Emitted via omitempty when not tracked (room state is queried live; creation timestamps are not persisted)."
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822",
            "description": "Same caveat as `date_created`."
          },
          "reason_conference_ended": {
            "type": "string",
            "enum": [
              "conference-ended-via-api",
              "last-participant-kicked",
              "last-participant-left",
              "participant-with-end-conference-on-exit-kicked",
              "participant-with-end-conference-on-exit-left",
              ""
            ],
            "description": "Populated only on the synthesised post-end response —\ne.g. `conference-ended-via-api` after a\n`Status=completed` POST. Empty while in-progress.\n"
          },
          "call_sid_ending_conference": {
            "type": "string",
            "nullable": true,
            "description": "Populated only when a participant left with `endConferenceOnExit=true`; empty otherwise."
          },
          "subresource_uris": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            },
            "description": "Map of `participants` and `recordings` URIs — Twilio-compatible."
          },
          "member_count": {
            "type": "integer",
            "description": "VoiceML extension — count of current participants. Always present; emitted as `0` on the synthesised end-conference response."
          }
        }
      },
      "ConferenceList": {
        "type": "object",
        "required": [
          "conferences",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "conferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conference"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "Participant": {
        "type": "object",
        "required": [
          "call_sid",
          "conference_sid",
          "account_sid",
          "muted",
          "hold",
          "coaching",
          "queue_time",
          "status",
          "start_conference_on_enter",
          "end_conference_on_exit",
          "api_version",
          "uri"
        ],
        "properties": {
          "call_sid": {
            "nullable": true,
            "type": "string",
            "example": "CAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "conference_sid": {
            "nullable": true,
            "type": "string"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "muted": {
            "nullable": true,
            "type": "boolean"
          },
          "hold": {
            "nullable": true,
            "type": "boolean"
          },
          "call_sid_to_coach": {
            "type": "string",
            "nullable": true,
            "description": "When `coaching` is true, the CallSid of the participant this\ncoach can speak to (Twilio whisper-coach). Empty when\n`coaching` is false or the coach target has not joined.\n"
          },
          "coaching": {
            "type": "boolean",
            "nullable": true,
            "description": "True when this participant joined with the `coach` role\n(Twilio whisper-coach pattern). A coach hears the entire\nconference but is only audible to the participant\nidentified by `call_sid_to_coach`.\n"
          },
          "queue_time": {
            "type": "string",
            "nullable": true,
            "description": "Pre-join queue-wait in seconds, string-encoded per\nTwilio's wire shape. \"0\" when the participant did not\ntransit a queue (the common case). Populated from\n`<Enqueue>` dequeue events.\n"
          },
          "start_conference_on_enter": {
            "type": "boolean",
            "nullable": true,
            "description": "The per-participant `<Dial><Conference startConferenceOnEnter>` value captured at join time; falls back to the Twilio default (`true`) for participants with no recorded join."
          },
          "end_conference_on_exit": {
            "type": "boolean",
            "nullable": true,
            "description": "The per-participant `<Dial><Conference endConferenceOnExit>` value captured at join time; falls back to the Twilio default (`false`) for participants with no recorded join."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "connecting",
              "ringing",
              "connected",
              "on-hold",
              "complete",
              "failed",
              "completed"
            ],
            "description": "Derived from live conference state: `connected`\nwhile the participant is in the room, `on-hold` while\nthe `hold` flag is set, `completed` after they've\nleft (visible only briefly via the synthesised\nresponse when a mute/hold update races a leave).\nVoiceML currently emits only `queued`, `connected`, and\n`on-hold`; the other values are declared for SDK enum\ncompatibility.\n"
          },
          "label": {
            "nullable": true,
            "type": "string",
            "description": "Optional tag set via `<Conference participantLabel=…>`. Empty when not set."
          },
          "api_version": {
            "type": "string"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822",
            "description": "Emitted via omitempty when not tracked."
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822",
            "description": "Emitted via omitempty when not tracked."
          }
        }
      },
      "ParticipantList": {
        "type": "object",
        "required": [
          "participants",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Participant"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "Queue": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "friendly_name",
          "current_size",
          "max_size",
          "average_wait_time",
          "date_created",
          "date_updated",
          "uri"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^QU[0-9a-f]{32}$",
            "example": "QU0123456789abcdef0123456789abcdef"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string",
            "example": "support"
          },
          "current_size": {
            "type": "integer",
            "description": "Live count of waiting members."
          },
          "max_size": {
            "type": "integer",
            "default": 0,
            "description": "Capacity ceiling; 0 means unlimited (Twilio default). Further enqueues fail when current_size equals a positive max_size."
          },
          "average_wait_time": {
            "type": "integer",
            "description": "Seconds in the trailing 5-minute window. 0 when no recent exits."
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "QueueList": {
        "type": "object",
        "required": [
          "queues",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "queues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Queue"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "QueueMember": {
        "type": "object",
        "required": [
          "call_sid",
          "queue_sid",
          "date_enqueued",
          "wait_time",
          "position",
          "uri"
        ],
        "properties": {
          "call_sid": {
            "nullable": true,
            "type": "string",
            "example": "CAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "queue_sid": {
            "nullable": true,
            "type": "string"
          },
          "date_enqueued": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "wait_time": {
            "type": "integer",
            "description": "Seconds since enqueue."
          },
          "position": {
            "type": "integer",
            "description": "1-based; 1 = front of queue (longest waiting)."
          },
          "uri": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "QueueMemberList": {
        "type": "object",
        "required": [
          "queue_members",
          "page",
          "page_size",
          "total",
          "uri"
        ],
        "properties": {
          "queue_members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueueMember"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "Application": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "friendly_name",
          "api_version",
          "voice_url",
          "voice_caller_id_lookup",
          "date_created",
          "date_updated",
          "uri"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^AP[0-9a-f]{32}$",
            "example": "AP0123456789abcdef0123456789abcdef"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string",
            "example": "ivr-main"
          },
          "api_version": {
            "nullable": true,
            "type": "string"
          },
          "voice_url": {
            "nullable": true,
            "type": "string",
            "description": "voice markup URL fetched when <Dial><Application>SID</Application></Dial> dispatches."
          },
          "voice_method": {
            "nullable": true,
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ]
          },
          "voice_fallback_url": {
            "nullable": true,
            "type": "string",
            "description": "Fetched when voice_url returns non-2xx or fails."
          },
          "voice_fallback_method": {
            "nullable": true,
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ]
          },
          "voice_caller_id_lookup": {
            "nullable": true,
            "type": "boolean"
          },
          "status_callback": {
            "nullable": true,
            "type": "string"
          },
          "status_callback_method": {
            "nullable": true,
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ]
          },
          "status_callback_event": {
            "type": "string",
            "description": "Comma-separated."
          },
          "message_status_callback": {
            "nullable": true,
            "type": "string",
            "description": "DLR (delivery-receipt) URL fired per-message for outbound SMS sent via this Application. Default DLR target when an outbound message carries no explicit StatusCallback (#450)."
          },
          "sms_status_callback": {
            "nullable": true,
            "type": "string",
            "description": "Legacy alias of message_status_callback (DLR URL for outbound SMS). Default DLR target after message_status_callback (#450)."
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "ApplicationList": {
        "type": "object",
        "required": [
          "applications",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "applications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Application"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "example": "ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string",
            "example": "VoiceML account"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "closed"
            ],
            "example": "active"
          },
          "type": {
            "type": "string",
            "enum": [
              "Trial",
              "Full"
            ],
            "example": "Full"
          },
          "owner_account_sid": {
            "nullable": true,
            "type": "string",
            "example": "ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          },
          "subresource_uris": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "SelfAccountUpdate": {
        "type": "object",
        "properties": {
          "FriendlyName": {
            "type": "string",
            "description": "Human-readable account name (Twilio friendly_name)."
          },
          "VoiceUrl": {
            "type": "string",
            "format": "uri",
            "description": "Default voice webhook URL for the account."
          },
          "VoiceMethod": {
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ],
            "description": "HTTP method for VoiceUrl."
          },
          "VoiceFallbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "Fallback voice webhook URL."
          },
          "VoiceFallbackMethod": {
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ],
            "description": "HTTP method for VoiceFallbackUrl."
          },
          "SttFsVendor": {
            "type": "string",
            "description": "BYO speech-to-text media-engine vendor name."
          },
          "SttHttpUrl": {
            "type": "string",
            "format": "uri",
            "description": "BYO speech-to-text HTTP endpoint."
          },
          "SttHttpToken": {
            "type": "string",
            "description": "BYO speech-to-text bearer token."
          },
          "TtsHttpUrl": {
            "type": "string",
            "format": "uri",
            "description": "BYO text-to-speech HTTP endpoint."
          },
          "TtsHttpToken": {
            "type": "string",
            "description": "BYO text-to-speech bearer token."
          },
          "TtsEngineName": {
            "type": "string",
            "description": "BYO text-to-speech engine name."
          },
          "TtsDefaultVoice": {
            "type": "string",
            "description": "Default TTS voice."
          },
          "TtsDefaultLanguage": {
            "type": "string",
            "description": "Default TTS language tag (e.g. en-US)."
          },
          "AwsBucket": {
            "type": "string",
            "description": "S3 bucket for recording storage."
          },
          "AwsRegion": {
            "type": "string",
            "description": "AWS region for the recording bucket."
          },
          "AwsPrefix": {
            "type": "string",
            "description": "Key prefix within the recording bucket."
          },
          "AwsAccessKeyId": {
            "type": "string",
            "description": "AWS access key ID for recording storage."
          },
          "AwsSecretAccessKey": {
            "type": "string",
            "description": "AWS secret access key for recording storage."
          },
          "AwsKmsKeyId": {
            "type": "string",
            "description": "AWS KMS key ID for server-side encryption."
          },
          "AllowCidr": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IP allow-list, one CIDR prefix per entry (repeatable form param).\nAn empty list explicitly clears the allow-list (wide-open).\n"
          }
        }
      },
      "OutgoingCallerId": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "phone_number",
          "friendly_name",
          "date_created",
          "date_updated",
          "uri"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^PN[0-9a-fA-F]{32}$",
            "example": "PNxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "account_sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^AC[0-9a-fA-F]{32}$"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string",
            "example": "Main Office"
          },
          "phone_number": {
            "nullable": true,
            "type": "string",
            "format": "phone-number",
            "example": "+14155551234"
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "OutgoingCallerIdList": {
        "type": "object",
        "required": [
          "outgoing_caller_ids",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "outgoing_caller_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutgoingCallerId"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "ValidationRequest": {
        "type": "object",
        "required": [
          "account_sid",
          "phone_number",
          "friendly_name",
          "validation_code",
          "call_sid"
        ],
        "properties": {
          "account_sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^AC[0-9a-fA-F]{32}$"
          },
          "phone_number": {
            "nullable": true,
            "type": "string",
            "format": "phone-number",
            "example": "+14155551234"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string",
            "example": "Main Office"
          },
          "validation_code": {
            "nullable": true,
            "type": "string",
            "example": "123456"
          },
          "call_sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^CA[0-9a-fA-F]{32}$"
          }
        }
      },
      "SipDomain": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "domain_name",
          "api_version",
          "uri",
          "date_created",
          "date_updated"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^SD[0-9a-f]{32}$",
            "example": "SD0123456789abcdef0123456789abcdef"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string",
            "example": "sip-ingress"
          },
          "domain_name": {
            "nullable": true,
            "type": "string",
            "example": "example.sip.voiceml.example.com",
            "description": "Fully-qualified SIP domain. Required on create."
          },
          "api_version": {
            "nullable": true,
            "type": "string"
          },
          "auth_type": {
            "nullable": true,
            "type": "string",
            "description": "Always empty in this implementation. Reserved for Twilio compatibility; no code path populates it (attaching CredentialList/IpAccessControlList mappings does not set it)."
          },
          "voice_url": {
            "nullable": true,
            "type": "string",
            "format": "uri"
          },
          "voice_method": {
            "nullable": true,
            "type": "string",
            "format": "http-method",
            "enum": [
              "GET",
              "POST"
            ]
          },
          "voice_fallback_url": {
            "nullable": true,
            "type": "string",
            "format": "uri"
          },
          "voice_fallback_method": {
            "nullable": true,
            "type": "string",
            "format": "http-method",
            "enum": [
              "GET",
              "POST"
            ]
          },
          "voice_status_callback_url": {
            "nullable": true,
            "type": "string",
            "format": "uri"
          },
          "voice_status_callback_method": {
            "nullable": true,
            "type": "string",
            "format": "http-method",
            "enum": [
              "GET",
              "POST"
            ]
          },
          "sip_registration": {
            "nullable": true,
            "type": "boolean"
          },
          "emergency_calling_enabled": {
            "nullable": true,
            "type": "boolean"
          },
          "secure": {
            "nullable": true,
            "type": "boolean"
          },
          "byoc_trunk_sid": {
            "nullable": true,
            "type": "string"
          },
          "emergency_caller_sid": {
            "nullable": true,
            "type": "string"
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          },
          "subresource_uris": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "RoutesV2SipDomain": {
        "type": "object",
        "required": [
          "sid",
          "sip_domain",
          "account_sid",
          "date_created",
          "date_updated"
        ],
        "properties": {
          "sip_domain": {
            "nullable": true,
            "type": "string",
            "example": "example.sip.voiceml.example.com"
          },
          "url": {
            "nullable": true,
            "type": "string",
            "format": "uri"
          },
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^QQ[0-9a-fA-F]{32}$",
            "example": "QQ0123456789abcdef0123456789abcdef"
          },
          "account_sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^AC[0-9a-fA-F]{32}$"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string"
          },
          "voice_region": {
            "nullable": true,
            "type": "string",
            "description": "Inbound Processing Region that handles inbound calls for this SIP domain."
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RoutesV2PhoneNumber": {
        "type": "object",
        "required": [
          "sid",
          "phone_number",
          "account_sid",
          "date_created",
          "date_updated"
        ],
        "properties": {
          "phone_number": {
            "nullable": true,
            "type": "string",
            "example": "+18005551234"
          },
          "url": {
            "nullable": true,
            "type": "string",
            "format": "uri"
          },
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^QQ[0-9a-fA-F]{32}$",
            "example": "QQ0123456789abcdef0123456789abcdef"
          },
          "account_sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^AC[0-9a-fA-F]{32}$"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string"
          },
          "voice_region": {
            "nullable": true,
            "type": "string",
            "description": "Inbound Processing Region that handles inbound calls for this phone number."
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SipDomainList": {
        "type": "object",
        "required": [
          "domains",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SipDomain"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "SipCredentialList": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "date_created",
          "date_updated",
          "uri"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^CL[0-9a-f]{32}$",
            "example": "CL0123456789abcdef0123456789abcdef"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string",
            "example": "office-handsets"
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          },
          "subresource_uris": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "SipCredentialListList": {
        "type": "object",
        "required": [
          "credential_lists",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "credential_lists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SipCredentialList"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "SipCredential": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "credential_list_sid",
          "username",
          "date_created",
          "date_updated",
          "uri"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^CR[0-9a-f]{32}$",
            "example": "CR0123456789abcdef0123456789abcdef"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "credential_list_sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^CL[0-9a-f]{32}$"
          },
          "username": {
            "nullable": true,
            "type": "string",
            "example": "alice"
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "SipCredentialListPage": {
        "type": "object",
        "required": [
          "credentials",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "credentials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SipCredential"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "SipIpAccessControlList": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "date_created",
          "date_updated",
          "uri"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^AL[0-9a-f]{32}$",
            "example": "AL0123456789abcdef0123456789abcdef"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string",
            "example": "carrier-allowlist"
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          },
          "subresource_uris": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "SipIpAccessControlListList": {
        "type": "object",
        "required": [
          "ip_access_control_lists",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "ip_access_control_lists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SipIpAccessControlList"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "SipIpAddress": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "ip_access_control_list_sid",
          "friendly_name",
          "ip_address",
          "cidr_prefix_length",
          "date_created",
          "date_updated",
          "uri"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^IP[0-9a-f]{32}$",
            "example": "IP0123456789abcdef0123456789abcdef"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "ip_access_control_list_sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^AL[0-9a-f]{32}$"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string",
            "example": "carrier-edge-1"
          },
          "ip_address": {
            "nullable": true,
            "type": "string",
            "example": "203.0.113.10"
          },
          "cidr_prefix_length": {
            "type": "integer",
            "example": 32,
            "description": "CIDR prefix length. Defaults to 32 (single host) when omitted on create."
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "SipIpAddressList": {
        "type": "object",
        "required": [
          "ip_addresses",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "ip_addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SipIpAddress"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "SipDomainMapping": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "date_created",
          "date_updated",
          "uri"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^(CL|AL)[0-9a-f]{32}$",
            "example": "CL0123456789abcdef0123456789abcdef"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string"
          },
          "domain_sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^SD[0-9a-f]{32}$",
            "description": "The SipDomain resource this mapping is attached to."
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "SipCredentialListMappingList": {
        "type": "object",
        "required": [
          "credential_list_mappings",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "credential_list_mappings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SipDomainMapping"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "SipIpAccessControlListMappingList": {
        "type": "object",
        "required": [
          "ip_access_control_list_mappings",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "ip_access_control_list_mappings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SipDomainMapping"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "api_version",
          "to",
          "from",
          "body",
          "status",
          "num_segments",
          "num_media",
          "direction",
          "date_created",
          "date_updated",
          "uri"
        ],
        "properties": {
          "sid": {
            "type": "string",
            "pattern": "^SM[0-9a-f]{32}$",
            "example": "SMxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "account_sid": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "to": {
            "type": "string",
            "description": "Destination phone number in E.164 form."
          },
          "from": {
            "type": "string",
            "description": "Source phone number; falls back to the tenant's configured default sender if omitted."
          },
          "body": {
            "type": "string",
            "description": "Message text. Empty string after a redaction update."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "sending",
              "sent",
              "failed",
              "delivered",
              "undelivered",
              "receiving",
              "received",
              "accepted",
              "scheduled",
              "read",
              "canceled"
            ],
            "description": "Production currently emits only `queued`, `sent`, and `failed`; the rest are declared for SDK enum compatibility."
          },
          "num_segments": {
            "type": "string",
            "description": "Per-message segment count as Twilio surfaces it — string-typed wire format."
          },
          "num_media": {
            "type": "string",
            "description": "Count of media items attached to the message (#473), string-typed per Twilio. '0' for SMS-only messages."
          },
          "direction": {
            "type": "string",
            "enum": [
              "outbound-api",
              "outbound-call",
              "outbound-reply",
              "inbound"
            ],
            "description": "Production emits only `outbound-api`; other values are reserved for inbound/reply ingestion not yet implemented."
          },
          "price": {
            "type": [
              "string",
              "null"
            ]
          },
          "price_unit": {
            "type": [
              "string",
              "null"
            ]
          },
          "error_code": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Twilio-shape error taxonomy. 21609 = gateway not configured; 30001 = upstream gateway failure."
          },
          "error_message": {
            "type": [
              "string",
              "null"
            ],
            "description": "Sanitised — never contains upstream URL or credentials."
          },
          "messaging_service_sid": {
            "type": [
              "string",
              "null"
            ]
          },
          "date_created": {
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_sent": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "type": "string"
          },
          "subresource_uris": {
            "type": "object",
            "properties": {
              "media": {
                "type": "string"
              },
              "feedback": {
                "type": "string"
              }
            }
          }
        }
      },
      "MessageList": {
        "type": "object",
        "required": [
          "messages",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "Media": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "parent_sid",
          "content_type",
          "date_created",
          "date_updated",
          "uri"
        ],
        "properties": {
          "sid": {
            "type": "string",
            "pattern": "^ME[0-9a-f]{32}$",
            "example": "ME0123456789abcdef0123456789abcdef",
            "description": "Media item SID (ME + 32 hex)."
          },
          "account_sid": {
            "type": "string"
          },
          "parent_sid": {
            "type": "string",
            "description": "The Message SID this media item is attached to (SM/MM)."
          },
          "content_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "MIME type of the media (image/jpeg, image/png, …). Null when unknown at send time."
          },
          "date_created": {
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "uri": {
            "type": "string",
            "description": "URI of this Media resource, relative to the API host."
          }
        }
      },
      "MediaList": {
        "type": "object",
        "required": [
          "media_list",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "media_list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Media"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "Recording": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "call_sid",
          "status"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "example": "RExxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "call_sid": {
            "nullable": true,
            "type": "string"
          },
          "conference_sid": {
            "type": "string",
            "nullable": true,
            "description": "Set only on conference-room captures (`<Dial><Conference record=\"record-from-start\">`); empty on per-leg recordings."
          },
          "status": {
            "type": "string",
            "enum": [
              "in-progress",
              "paused",
              "stopped",
              "processing",
              "completed",
              "absent",
              "deleted"
            ],
            "description": "Twilio-compatible enum. `failed` is intentionally absent — Twilio\ndoes not document it on Recording.status (failure of an Outbound\nrecording surfaces as `absent`). VoiceML production code only\nemits `completed`; the wider set is documented for SDK compatibility.\n"
          },
          "source": {
            "type": "string",
            "enum": [
              "OutboundAPI",
              "RecordVerb",
              "DialVerb",
              "Conference",
              "Trunking",
              "StartCallRecordingAPI",
              "StartConferenceRecordingAPI"
            ],
            "description": "Twilio-compatible enum. VoiceML production emits only\n`OutboundAPI`, `StartCallRecordingAPI`, and `Conference`;\nthe other values are declared for SDK compatibility.\n"
          },
          "channels": {
            "nullable": true,
            "type": "integer",
            "minimum": 1,
            "maximum": 2
          },
          "duration": {
            "nullable": true,
            "type": "string"
          },
          "api_version": {
            "nullable": true,
            "type": "string"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "start_time": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "price": {
            "nullable": true,
            "type": "string",
            "description": "Reserved; VoiceML emits empty."
          },
          "price_unit": {
            "nullable": true,
            "type": "string",
            "description": "Reserved; VoiceML emits empty."
          },
          "encryption_details": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Reserved for SSE-KMS metadata when encryption details are exposed; currently empty."
          },
          "subresource_uris": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Twilio-compat subresource map (currently empty)."
          },
          "media_url": {
            "type": "string",
            "nullable": true,
            "description": "Twilio-compatible URL for the recording audio.\nVoiceML serves the WAV at `/Accounts/{AccountSid}/Recordings/{Sid}.wav`\n— emitted here so strict-binding SDK clients (e.g.\ntwilio-csharp's `recording.MediaUrl`) bind cleanly without\nnull-deref. Same auth requirements as the resource itself.\n"
          },
          "error_code": {
            "type": "integer",
            "nullable": true,
            "description": "Twilio-compatible per-call error code for failed\nrecordings. `null` (the common case) means no error;\nnon-zero values reference twilio.com/docs/api/errors.\nThe wire shape uses `null`, never `0` — strict-mode SDK\ndeserialisers expect null on the no-error path.\n"
          }
        }
      },
      "RecordingList": {
        "type": "object",
        "required": [
          "recordings",
          "page",
          "page_size",
          "total"
        ],
        "description": "Canonical Twilio pagination envelope for recording-list\nendpoints. Used by both the account-scoped `/Recordings`\nlist, the per-call `/Calls/{Sid}/Recordings` list, and the\nper-conference `/Conferences/{Sid}/Recordings` list — every\nSDK auto-paginator depends on the same fields.\n",
        "properties": {
          "recordings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recording"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "IncomingPhoneNumber": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "phone_number",
          "api_version",
          "uri",
          "capabilities"
        ],
        "description": "Tenant-self-serve view of an assigned DID. Twilio-compatible —\n`sid` is the canonical `PN`-prefixed opaque identifier (34 chars)\nand `phone_number` carries the E.164 form. These are distinct\nfields.\n\nThe full Twilio field set is documented here so strict-binding\nSDKs deserialize without throwing. Fields VoiceML doesn't track\n(regulatory, SMS, emergency, trunking) emit a Twilio-compat\ndefault — empty string, `null`, or the documented enum default.\nCustomer code that reads e.g. `number.capabilities.voice`\ntherefore works with the same SDK patterns on VoiceML and Twilio.\n",
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^PN[a-f0-9]{32}$",
            "example": "PNxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "account_sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^AC[0-9a-f]{32}$"
          },
          "phone_number": {
            "nullable": true,
            "type": "string",
            "description": "E.164 — leading `+`, 7-15 digits.",
            "example": "+18005551234"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string",
            "description": "Display name. VoiceML does not model a per-DID friendly name — always emitted empty and not settable via create or update."
          },
          "api_version": {
            "nullable": true,
            "type": "string",
            "example": "2010-04-01"
          },
          "uri": {
            "nullable": true,
            "type": "string",
            "description": "Path under `/2010-04-01/Accounts/{AccountSid}/IncomingPhoneNumbers/{Sid}.json` — uses the canonical PN sid form."
          },
          "origin": {
            "nullable": true,
            "type": "string",
            "enum": [
              "twilio",
              "hosted",
              ""
            ],
            "description": "Twilio-compatible: source of the number. VoiceML emits empty (provisioning model is operator-managed, not number-buy)."
          },
          "beta": {
            "nullable": true,
            "type": "boolean",
            "description": "Twilio-compatible: `true` for numbers from beta-availability inventory. VoiceML always emits `false`."
          },
          "capabilities": {
            "type": "object",
            "nullable": true,
            "required": [
              "voice",
              "sms",
              "mms",
              "fax"
            ],
            "description": "Twilio-compatible: which channel types this DID supports. VoiceML is voice-only — `voice=true`, the rest `false`.",
            "properties": {
              "voice": {
                "type": "boolean"
              },
              "sms": {
                "type": "boolean"
              },
              "mms": {
                "type": "boolean"
              },
              "fax": {
                "type": "boolean"
              }
            }
          },
          "voice_url": {
            "nullable": true,
            "type": "string"
          },
          "voice_method": {
            "nullable": true,
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ]
          },
          "voice_fallback_url": {
            "nullable": true,
            "type": "string"
          },
          "voice_fallback_method": {
            "nullable": true,
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ]
          },
          "voice_application_sid": {
            "nullable": true,
            "type": "string",
            "description": "Twilio-compatible: linked `AP…` Application sid that supplies voice_url. VoiceML's `<Dial><Application>` flow keeps the link on the Application resource, not here — emits empty."
          },
          "voice_caller_id_lookup": {
            "nullable": true,
            "type": "boolean",
            "description": "Twilio-compatible: CNAM lookup flag. VoiceML doesn't perform CNAM — always `false`."
          },
          "voice_receive_mode": {
            "type": "string",
            "enum": [
              "voice",
              "fax"
            ],
            "description": "Twilio-compatible: VoiceML routes inbound as voice only — always `voice`."
          },
          "sms_url": {
            "nullable": true,
            "type": "string",
            "description": "Twilio-compatible: SMS handler URL. VoiceML is voice-only — empty."
          },
          "sms_method": {
            "nullable": true,
            "type": "string",
            "enum": [
              "GET",
              "POST",
              ""
            ],
            "description": "Twilio-compatible: empty (SMS not handled)."
          },
          "sms_fallback_url": {
            "nullable": true,
            "type": "string",
            "description": "Twilio-compatible: empty (SMS not handled)."
          },
          "sms_fallback_method": {
            "nullable": true,
            "type": "string",
            "enum": [
              "GET",
              "POST",
              ""
            ],
            "description": "Twilio-compatible: empty (SMS not handled)."
          },
          "sms_application_sid": {
            "nullable": true,
            "type": "string",
            "description": "Twilio-compatible: empty (SMS not handled)."
          },
          "status_callback": {
            "nullable": true,
            "type": "string",
            "description": "Twilio-compatible: lifecycle webhook. VoiceML emits empty (status is per-call via Call status_callback)."
          },
          "status_callback_method": {
            "nullable": true,
            "type": "string",
            "enum": [
              "GET",
              "POST",
              ""
            ],
            "description": "Twilio-compatible: empty."
          },
          "trunk_sid": {
            "nullable": true,
            "type": "string",
            "description": "Twilio-compatible: SIP trunk routing. VoiceML uses gateway-config-driven trunking — emits empty."
          },
          "address_sid": {
            "nullable": true,
            "type": "string",
            "description": "Twilio-compatible: regulatory street-address resource. Not tracked by VoiceML — empty."
          },
          "address_requirements": {
            "type": "string",
            "enum": [
              "none",
              "any",
              "local",
              "foreign",
              ""
            ],
            "description": "Twilio-compatible: address requirement class. VoiceML emits `none`."
          },
          "identity_sid": {
            "nullable": true,
            "type": "string",
            "description": "Twilio-compatible: business-identity resource. Not tracked — empty."
          },
          "bundle_sid": {
            "nullable": true,
            "type": "string",
            "description": "Twilio-compatible: regulatory bundle. Not tracked — empty."
          },
          "emergency_status": {
            "type": "string",
            "enum": [
              "Active",
              "Inactive",
              ""
            ],
            "description": "Twilio-compatible: E911 registration. Not handled by VoiceML — emits empty."
          },
          "emergency_address_sid": {
            "nullable": true,
            "type": "string",
            "description": "Twilio-compatible: E911 address resource. Not tracked — empty."
          },
          "emergency_address_status": {
            "type": "string",
            "enum": [
              "registered",
              "unregistered",
              "pending-registration",
              "registration-failure",
              "pending-unregistration",
              "unregistration-failure",
              ""
            ],
            "description": "Twilio-compatible: E911 registration state. Not tracked — empty."
          },
          "status": {
            "nullable": true,
            "type": "string",
            "description": "Twilio-compatible: provisioning status (`in-use`, etc.). VoiceML doesn't model this — empty."
          },
          "type": {
            "nullable": true,
            "type": "string",
            "enum": [
              "local",
              "mobile",
              "toll-free",
              ""
            ],
            "description": "Number class inferred from the E.164 number: US toll-free NPAs (800/833/844/855/866/877/888) → `toll-free`; every other number → `local`. `mobile` is never inferred and the empty string is never emitted."
          },
          "date_created": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          },
          "date_updated": {
            "nullable": true,
            "type": "string",
            "format": "date-time-rfc-2822"
          }
        }
      },
      "IncomingPhoneNumberList": {
        "type": "object",
        "required": [
          "incoming_phone_numbers",
          "page",
          "page_size",
          "total"
        ],
        "properties": {
          "incoming_phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncomingPhoneNumber"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "first_page_uri": {
            "type": "string"
          },
          "next_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "previous_page_uri": {
            "type": [
              "string",
              "null"
            ]
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "Stream": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "call_sid",
          "status",
          "api_version",
          "uri"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^MZ[a-f0-9]{32}$",
            "example": "MZxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "call_sid": {
            "nullable": true,
            "type": "string"
          },
          "name": {
            "nullable": true,
            "type": "string",
            "description": "Operator-supplied label for the stream; round-trips on the resource."
          },
          "status": {
            "type": "string",
            "enum": [
              "in-progress",
              "stopped"
            ]
          },
          "date_created": {
            "type": "string",
            "description": "Set on start; preserved across update."
          },
          "date_updated": {
            "nullable": true,
            "type": "string"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "SiprecSession": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "call_sid",
          "status",
          "api_version",
          "uri"
        ],
        "properties": {
          "sid": {
            "nullable": true,
            "type": "string",
            "pattern": "^SR[a-f0-9]{32}$",
            "example": "SRxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "account_sid": {
            "nullable": true,
            "type": "string"
          },
          "call_sid": {
            "nullable": true,
            "type": "string"
          },
          "name": {
            "nullable": true,
            "type": "string"
          },
          "connector_name": {
            "type": "string",
            "description": "Names a per-tenant SIPREC connector; resolves to that connector's Session Recording Server SIP URI. Required — pure per-tenant BYO with no operator default, so an empty, unknown, or disabled connector starts no recording (fails closed)."
          },
          "status": {
            "type": "string",
            "enum": [
              "in-progress",
              "stopped"
            ]
          },
          "date_created": {
            "type": "string"
          },
          "date_updated": {
            "nullable": true,
            "type": "string"
          },
          "uri": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "CallPayment": {
        "type": "object",
        "required": [
          "sid",
          "account_sid",
          "call_sid",
          "api_version",
          "uri",
          "date_created",
          "date_updated"
        ],
[...]
