---
layout: layouts/base.njk
---
{%- set copy = false %}
{%- for entry in marketingCopy.pages %}
	{%- if entry.url == page.url %}{% set copy = entry %}{% endif %}
{%- endfor %}
<div class="container">
	{%- if copy and copy.sections %}
		{%- set sections = copy.sections %}
		{% include "partials/section-renderer.njk" %}
	{%- else %}
		{{ content | safe }}
	{%- endif %}
</div>
