---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all -%}
{%- if page.url and not page.data.eleventyExcludeFromCollections and page.url != "/404.html" %}
	<url>
		<loc>{{ site.url }}{{ page.url }}</loc>
		<lastmod>{{ page.date.toISOString().split("T")[0] }}</lastmod>
		{%- if page.url == "/" %}
		<changefreq>weekly</changefreq>
		<priority>1.0</priority>
		{%- else %}
		<changefreq>monthly</changefreq>
		<priority>0.7</priority>
		{%- endif %}
	</url>
{%- endif -%}
{%- endfor %}
{#- Redoc-rendered API pages aren't Eleventy collections; iterate the apiSpecs data feed. -#}
{%- for name, spec in apiSpecs %}
	<url>
		<loc>{{ site.url }}{{ spec.urlPath }}</loc>
		<lastmod>{{ spec.lastmod }}</lastmod>
		<changefreq>monthly</changefreq>
		<priority>0.6</priority>
	</url>
{%- endfor %}
</urlset>
